<header
  class="py-4 fixed top-0 w-full right-0 left-0 flex flex-col text-base justify-center z-20 font-satoshi transition-colors duration-300"
  [ngClass]="{
    'bg-white shadow-sm text-gray-800': isFixed() || fixed(),
    'text-white': !isFixed() && !fixed(),
  }">
  <nav class="flex justify-between items-center w-full px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto">
    <div class="flex gap-3 items-center">
      <a routerLink="/" aria-label="logo" class="inline-block">
        <img
          priority
          [ngSrc]="isFixed() || fixed() ? 'images/logo/logo-g.png' : 'images/logo/logo-w.png'"
          width="64"
          height="68"
          alt="logo"
          class="w-8 h-9 cursor-pointer aspect-video object-cover" />
      </a>
    </div>
    <div>
      <app-mobile-nav [links]="links()" [programs]="programsStore.programs()" [onestopUrl]="onestopUrl" />
      <app-desktop-nav [links]="links()" [programs]="programsStore.programs()" [onestopUrl]="onestopUrl" />
    </div>
  </nav>
</header>
