<div class="flex items-center gap-6 border-b border-gray-200 mb-4">
  @for (tab of tabs(); track $index) {
  <button
    (click)="onTabChange(tab.name)"
    [ngClass]="{
      'text-primary-500 border-primary-500': activeTab() === tab.name,
      'text-gray-500 border-transparent hover:text-primary-500': activeTab() !== tab.name
    }"
    class="flex items-center gap-1.5 border-b-2 py-2 font-medium transition-colors duration-200">
    <i-lucide [name]="tab.icon" class="w-4 h-4"></i-lucide>
    {{ tab.label }}
  </button>
  }
</div>
