<section class="py-12 sm:py-16 md:py-20" id="about">
  <div
    class="px-4 sm:px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto"
  >
    <h2
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black text-gray-800 font-satoshi mb-3 tracking-tight leading-tight lg:my-7"
    >
      Qui <span class="text-primary-500">sommes-nous ?</span>
    </h2>
    <div class=" md:text-base">
      <p
        class="font-normal text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed sm:leading-8 md:leading-10 text-black text-justify hyphens-none"
      >
        <strong>Cinolu – Centre d’Innovation de Lubumbashi</strong> est un
        espace d’innovation, d’incubation et d’accompagnement né en
        <strong>2015</strong>, dédié à catalyser le potentiel entrepreneurial et
        technologique en République Démocratique du Congo. Nous agissons comme
        un <strong>guichet unique (OneStop)</strong> pour connecter les talents
        aux opportunités à travers l’innovation, la technologie et
        l’entrepreneuriat pour un impact social. La plateforme numérique Cinolu
        OneStop a été conçue pour centraliser les parcours d’accompagnement,
        automatiser les processus (adhésion, candidature, mentorat) et valoriser
        l’impact collectif.
      </p>
    </div>
  </div>
</section>

<div
  class="bg-[#EEEEEE] bg-grid py-12 px-4 sm:px-8 md:px-16 flex flex-col items-center justify-center text-center"
>
  <p
    class="max-w-3xl text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-black text-primary-500 font-satoshi mb-4 tracking-tight leading-tight"
  >
    Innovons ensemble.
  </p>
  <p class=" sm:text-base md:text-lg max-w-screen-lg text-gray-600">
    La plateforme numérique Cinolu OneStop a été conçue pour centraliser les
    parcours d’accompagnement, automatiser les processus (adhésion, candidature,
    mentorat) et valoriser l’impact collectif.
  </p>
  <div class="w-full flex justify-center mt-8">
    <button
      [routerLink]="'/join-us'"
      type="submit"
      class="group relative z-10 flex items-center justify-center gap-2 px-6 py-2 border border-primary-400 bg-primary-500 text-white hover:bg-primary-600 transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg rounded-sm"
    >
      Nous rejoindre
      <i-lucide
        [name]="icons.userPlus"
        class="mt-0.5 group-hover:translate-x-1 transition-all duration-300"
      ></i-lucide>
    </button>
  </div>
</div>
