<div
  class="relative flex flex-col w-full my-6 bg-white shadow-sm hover:shadow-lg rounded-md overflow-hidden transition-all duration-300"
>
  <div class="group relative overflow-hidden h-56">
    <img
      fill
      [ngSrc]="project() | apiIMG: 'project'"
      [alt]="project().name"
      class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-300"
    />
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent"
    ></div>
    <h6
      class="absolute bottom-4 left-4 text-white text-2xl font-bold drop-shadow-lg line-clamp-1"
    >
      {{ project().name | titlecase }}
    </h6>
  </div>

  <div class="p-5 space-y-4">
    <p class="text-slate-700 text-base">
      <span
        class="line-clamp-2 break-all"
        [innerHTML]="project().description"
      ></span>
    </p>

    <div
      class="flex justify-between gap-2 text-base text-slate-600 items-center"
    >
      <div class="flex items-center gap-2">
        <i-lucide
          class="size-5 text-primary-500"
          [name]="icons.calendarCheck"
        />
        <span> {{ project().started_at | date: "shortDate" }}</span>
      </div>
      <div class="flex items-center gap-2">
        <i-lucide class="size-5 text-red-500" [name]="icons.calendarX" />
        <span>{{ project().ended_at | date: "shortDate" }}</span>
      </div>
    </div>

    <p-button
      [routerLink]="['/programs', project().slug]"
      size="small"
      outlined
      severity="primary"
    >
      <p class="flex items-center gap-2 group px-4">
        Explorer ce programme
        <i-lucide
          class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
          [name]="icons.moveRight"
        />
      </p>
    </p-button>
  </div>
</div>
