<div
  class="bg-card group flex flex-col mb-4 overflow-hidden rounded-md shadow hover:shadow-lg transition"
>
  <div class="h-60 w-full relative overflow-hidden bg-gray-100 mb-1.5">
    <img
      fill
      [ngSrc]="project() | apiIMG: 'project'"
      [alt]="project().name"
      class="w-full h-full object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30"
    />
  </div>

  <div class="flex flex-col py-5 px-4 mb-1.5">
    <h4
      class="mb-2 text-xl group-hover:text-primary-900 font-bold transition-colors duration-200 line-clamp-1"
    >
      {{ project().name | titlecase }}
    </h4>

    <div class="mt-0.5 line-clamp-2" [innerHTML]="project().description"></div>

    <div class="my-3 h-1 w-14 border-t border-gray-200"></div>

    <div class="font-medium mb-4">
      <div class="flex items-center text-md leading-5 mb-2">
        <i-lucide class="size-5" [name]="icons.calendarCheck" />
        <div class="ml-1.5">
          Début : {{ project().started_at | date: "longDate" }}
        </div>
      </div>
      <div class="flex items-center text-md leading-5">
        <i-lucide class="size-5" [name]="icons.calendarX" />
        <div class="ml-1.5">
          Fin : {{ project().ended_at | date: "longDate" }}
        </div>
      </div>
    </div>

    <a
      [routerLink]="['/programs', project().slug]"
      type="button"
      aria-label="En savoir plus"
      class="inline-flex items-center mt-4 justify-center gap-2 rounded-full bg-primary-500 text-white font-semibold shadow-sm transition hover:bg-primary-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 text-xs sm:text-sm md:text-base px-3 py-1.5 sm:px-4 sm:py-2 md:px-5 md:py-2.5 max-w-[200px] sm:max-w-[250px] md:max-w-[300px]"
    >
      En savoir plus
    </a>
  </div>
</div>
