<section
  class="px-6 sm:px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto md:text-base py-16 md:py-20"
  id="vision">
  <h2
    class="flex text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black text-primary-500 font-satoshi tracking-tight leading-tight mb-12">
    Historique
  </h2>

  <div class="card">
    <p-timeline [value]="historyData" align="alternate" class="customized-timeline">
      <ng-template #marker let-event>
        <span
          class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm"
          [style]="{ 'background-color': event.color }">
          <i-lucide [name]="event.icon" size="14"></i-lucide>
        </span>
      </ng-template>
      <ng-template #content let-event>
        <p-card [header]="event.status" [subheader]="event.title">
          <p>{{ event.description }}</p>
          <p-button [label]="event.title" [text]="true" />
          <p-button [label]="event.date" [text]="true" />
        </p-card>
      </ng-template>
    </p-timeline>
  </div>
</section>
