<section>
  @let posts = posts$ | async;
  <div class="pt-14">
    <div class="px-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 overflow-hidden">
      <div class="py-10">
        <h2 class="font-black font-satoshi mb-1 text-2xl md:text-4xl">Our Blog</h2>
        <p class="text-primary-500">Notre Blog</p>
      </div>

      <div class="grid grid-cols-1 gap-x-4 gap-y-7 md:grid-cols-2 lg:grid-cols-4 mb-10">
        @if (posts?.isLoading) {
          @for (item of [1, 2, 3, 4, 5, 5, 5, 5, 6, 6, 6, 6]; track $index) {
            <app-post-card-skeleton />
          }
        }
        @for (
          post of posts?.data?.[0] ?? []
            | paginate
              : {
                  itemsPerPage: 12,
                  currentPage: queryParams().page ?? 1,
                  totalItems: posts?.data?.[1] ?? 0,
                };
          track $index
        ) {
          <app-post-card [post]="post" />
        }
      </div>
      @if ((posts?.data?.[1] || 0) > 12) {
        <div class="flex w-full justify-center pt-4 pb-8">
          <pagination-controls
            nextLabel=""
            previousLabel=""
            [maxSize]="5"
            (pageChange)="onPageChange($event)"
            class="pg">
          </pagination-controls>
        </div>
      }
    </div>
  </div>
</section>
<app-footer />
