<section class="px-8 mx-auto max-w-screen-md md:px-0 mb-12 mt-24">
  @let result = venture$ | async;
  @let user = user$ | async;

  @if (result.data; as venture) {
    <p class="font-bold font-satoshi mb-1.5 text-2xl md:text-4xl mt-5">
      {{ venture.name }}
    </p>
    <p class="mb-8" i18n>
      Créée le {{ venture.created_at | date: 'longDate' }}
      @if (venture.user.id === user.id) {
        <a [routerLink]="['/ventures/update', venture.id]" class="font-semibold underline text-primary-600">modifier</a>
      }
    </p>

    <div class="relative mb-6 h-80 w-full bg-gray-50">
      <img [ngSrc]="venture | apiIMG: 'venture'" [alt]="'Photo de couverture'" class="object-cover" fill priority />
    </div>
    <div class="mb-10">
      <div class="flex flex-col gap-8 xl:text-lg">
        <div>
          <div class="flex items-center gap-1 text-lg mb-2 text-secondary-800">
            <mat-icon svgIcon="description" class="icon-size-4" />
            <h2 class="font-semibold" i18n>Pitch</h2>
          </div>
          <p class="mb-1.5 lowercase first-letter:uppercase">{{ venture.pitch }}</p>
        </div>

        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <tbody>
            <tr class="even:bg-gray-50 border-y">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" i18n>Secteurs</th>
              <td class="px-6 py-4">{{ getSectors(venture.sectors) }}</td>
            </tr>
            <tr class="even:bg-gray-50 border-y">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" i18n>Localisation</th>
              <td class="px-6 py-4">{{ venture.address }}</td>
            </tr>
            <tr class="even:bg-gray-50 border-y">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" i18n>Phase</th>
              <td class="px-6 py-4">{{ venture.stage }}</td>
            </tr>
            <tr class="even:bg-gray-50 border-y">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" i18n>Date de création</th>
              <td class="px-6 py-4">{{ venture.founding_date | date: 'longDate' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  }
  @if (result.isLoading) {
    <app-venture-skeleton />
  }

  @if (result.error) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold" i18n>Aucun projet avec cet identifiant !</h2>
    </div>
  }
</section>
<app-footer />
