<header class="navbar fixed w-full top-0 px-10 lg:px-20 py-3 bg-white shadow-sm z-20 font-satoshi">
  @let user = user$ | async;
  <nav class="flex items-center justify-between lg:hidden">
    <a routerLink="/" aria-label="logo" class="inline-block" (click)="closeMenu()">
      <img ngSrc="images/logo/logo-g.png" alt="logo" class="w-6 h-7 cursor-pointer" width="64" height="68" priority />
    </a>
    <button (click)="isOpen() ? closeMenu() : openMenu()">
      <mat-icon [svgIcon]="isOpen() ? 'mat_outline:close' : 'mat_outline:menu'" class="icon-size-5 text-gray-700" />
    </button>

    <div
      class="fixed top-10 left-0 right-10 bottom-0 bg-white backdrop-blur-lg transition-transform duration-300 {{
        isOpen() ? 'translate-x-0 nav-active' : '-translate-x-full'
      }}">
      <div class="flex flex-col justify-between py-16 px-10 h-full">
        <div class="flex flex-col gap-6 font-bold text-xl">
          @for (tab of ['Parcourir', 'My cinolu']; track $index) {
            <button class="flex items-center justify-between" (click)="setActiveTab(tab)">
              {{ tab }}
              <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="icon-size-5 text-gray-700" />
            </button>
          }
        </div>

        @if (user) {
          <a routerLink="/me" class="flex items-center gap-1.5 text-sm font-semibold" (click)="closeMenu()">
            <img
              [src]="user | apiIMG: 'user'"
              class="rounded-full w-8 h-8 object-cover ring-2 ring-secondary-800 ring-offset-1"
              alt="profile picture" />
            {{ trimName(user.name) }}
          </a>
        } @else {
          <a
            routerLink="/sign-in"
            class="flex items-center text-white px-6 py-2 bg-secondary-600 rounded-sm hover:bg-secondary-700 transition-colors duration-300 gap-1.5 font-medium text-base"
            (click)="closeMenu()">
            Se connecter
          </a>
        }
      </div>
    </div>

    <ul
      class="fixed text-base top-10 left-0 right-8 bottom-0 bg-white backdrop-blur-lg z-30 transition-transform duration-300 {{
        activeTab() && isOpen() ? 'translate-x-0 nav-active' : '-translate-x-full'
      }}">
      <div class="flex flex-col gap-7 font-medium py-16 px-10 h-full">
        <button class="font-semibold text-gray-800 flex items-center gap-1 m-4" (click)="setActiveTab(null)">
          <mat-icon svgIcon="mat_outline:keyboard_arrow_left" class="icon-size-4" />
          Go back
        </button>

        @for (link of getLinks(activeTab()); track $index) {
          <a [routerLink]="link.path" [fragment]="link.fragment" class="flex items-center gap-2.5">
            <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
              <mat-icon [svgIcon]="link.icon" class="icon-size-4 text-white" />
            </span>
            <p class="flex flex-col gap-0.5">
              {{ link.name }}
              <span class="description text-gray-700 text-xs">{{ link.description }}</span>
            </p>
          </a>
        }
      </div>
    </ul>
  </nav>

  <nav class="hidden lg:flex items-center justify-between">
    <a routerLink="/" aria-label="logo" class="inline-block" (click)="closeMenu()">
      <img ngSrc="images/logo/logo-g.png" alt="logo" class="w-6 h-7 cursor-pointer" width="64" height="68" priority />
    </a>
    <div class="flex items-center gap-6 xl:text-lg font-medium">
      @for (tab of ['Parcourir', 'My cinolu']; track $index) {
        <button class="relative flex items-center gap-1" (click)="setActiveTab(tab)">
          {{ tab }}
          <mat-icon svgIcon="mat_outline:keyboard_arrow_down" class="icon-size-4 text-gray-700" />
          <div
            class="absolute top-9 w-[30rem] animate-fadeInUp py-8 px-6 gap-6 text-sm text-start font-normal z-30 bg-white shadow-md transition-transform duration-300"
            [ngClass]="activeTab() === tab ? 'block nav-active' : 'hidden'">
            <div class="grid grid-cols-2 gap-x-8 gap-y-6 text-sm xl:text-base">
              @for (link of getLinks(activeTab()); track $index) {
                <a [routerLink]="link.path" [fragment]="link.fragment" class="flex items-center gap-2.5">
                  <span class="h-8 w-8 flex items-center justify-center bg-secondary-600 rounded-full">
                    <mat-icon [svgIcon]="link.icon" class="icon-size-4 text-white" />
                  </span>
                  <p class="flex flex-col gap-0.5 font-medium">
                    {{ link.name }}
                    <span class="description text-gray-700 text-xs">{{ link.description }}</span>
                  </p>
                </a>
              }
            </div>
          </div>
        </button>
      }
    </div>

    @if (user) {
      <a routerLink="/me" class="flex items-center gap-1.5 text-sm font-semibold" (click)="closeMenu()">
        <img
          [src]="user | apiIMG: 'user'"
          class="rounded-full w-8 h-8 object-cover ring-2 ring-secondary-800 ring-offset-1"
          alt="profile picture" />
        {{ trimName(user.name) }}
      </a>
    } @else {
      <a
        routerLink="/sign-in"
        class="flex items-center text-white px-6 py-2 bg-secondary-600 rounded-sm hover:bg-secondary-700 transition-colors duration-300 gap-1.5 font-medium text-base"
        (click)="closeMenu()">
        Se connecter
      </a>
    }
  </nav>
</header>
