<div class="flex flex-col gap-8">
  <div>
    <div class="flex items-center gap-1 mb-2 text-primary-800">
      <i-lucide [name]="icons.fileText" class="size-5" />
      <h2 class="font-semibold text-lg">Description</h2>
    </div>
    <div class="mb-1.5" [innerHTML]="project().description"></div>
  </div>
  <div>
    <div class="flex items-center gap-1 mb-2 text-primary-800">
      <i-lucide [name]="icons.notepadTextDashed" class="size-5" />
      <h2 class="font-semibold text-lg">Dates</h2>
    </div>
    <p class="mb-1.5">
      Commence le {{ project().started_at | date: "longDate" }}
    </p>
    <p class="mb-1.5">Fini le {{ project().ended_at | date: "longDate" }}</p>
  </div>
</div>
