<section class="mb-10">
  @let result = programs$ | async;
  @let types = types$ | async;
  <div class="relative py-72 min-h-[75%] bg-[url('/images/programs.webp')] bg-cover flex flex-col overflow-hidden mb-8">
    <div
      class="px-8 md:px-32 xl:px-48 absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/60 to-primary-900/70 gap-6 text-2xl md:text-4xl text-white">
      <div class="relative z-10 flex flex-col items-start py-16">
        <div
          class="mt-1 text-xl font-extrabold leading-tight tracking-tight md:text-3xl lg:text-5xl xl:6xl w-full md:w-2/3">
          Découvrez nos programmes et laissez-vous accompagner.
        </div>
        <div class="mt-6 max-w-3xl tracking-tight lg:text-xl font-light">
          Transformez vos idées en réalités impactantes grâce à nos programmes innovants ! Rejoignez un écosystème conçu
          pour vous inspirer, vous former et vous accompagner.
        </div>
      </div>
    </div>
  </div>

  <div class="px-8 md:px-26">
    <div class="flex flex-col">
      @if (types.data) {
        <div class="flex flex-col gap-1.5 mb-6">
          <mat-chip-listbox (change)="onFilterChange($event, 'type')">
            <div class="flex flex-wrap gap-1.5">
              @for (type of types.data; track type.id) {
                <mat-chip-option [selected]="queryParams().type === type.name">{{ type.name }}</mat-chip-option>
              }
            </div>
          </mat-chip-listbox>
        </div>
      }

      @if (result.data; as data) {
        @if (data.programs; as programs) {
          <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            @for (
              program of programs
                | paginate: { itemsPerPage: 9, currentPage: queryParams().page, totalItems: data.count };
              track program.id
            ) {
              <app-program-card [program]="program" />
            }
          </div>

          @if (data.count > 9) {
            <div class="flex justify-center mt-16">
              <pagination-controls
                nextLabel=""
                previousLabel=""
                [maxSize]="5"
                (pageChange)="onPageChange($event)"
                class="pg">
              </pagination-controls>
            </div>
          }
        }
      }
      @if (result.error || (result.data && result.data?.programs.length === 0)) {
        <h2 class="text-3xl font-semibold">Aucun programme!</h2>
      }

      @if (result.isLoading) {
        <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          @for (program of skeletonArray; track $index) {
            <app-program-card-skeleton />
          }
        </div>
      }
    </div>
  </div>
</section>
