<section class="px-8 md:px-28">
  <h2 class="font-satoshi font-medium text-3xl md:text-5xl mb-10 hidde" appObserveVisibility>
    Notre <span class="text-green-600">vision et mission</span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center">
    <div class="relative bg-[url('/images/slides/slide-3.webp')] bg-no-repeat bg-cover">
      <div class="bg-primary-950 bg-opacity-70 py-28 px-8 md:px-20 text-white">
        <div class="flex flex-col gap-8">
          <h2 class="font-satoshi text-xl font-medium mb-6 hidde" appObserveVisibility>
            Construire des villes plus
            <span class="text-green-600 hidde" appObserveVisibility> intelligentes</span>
            et plus fortes en Afrique
          </h2>
        </div>
      </div>
    </div>
    <div class="px-8">
      <p class="mb-6 hidde" appObserveVisibility>
        Notre vision est de contribuer à la construction de villes plus intelligentes et plus fortes en utilisant
        l'innovation, la technologie et l'entrepreneuriat pour répondre aux défis les plus pressants dans les villes et
        les zones urbaines en RDC et en Afrique.
      </p>
      <p class="hidde" appObserveVisibility>
        Nous abordons cela en favorisant la compétition et la collaboration au sein de l'écosystème.
      </p>
    </div>

    <div class="px-8 pb-10">
      <p class="mb-6 hidde" appObserveVisibility>
        Notre mission est d'équiper et de connecter les jeunes innovateurs et entrepreneurs avec les compétences, les
        connaissances et les ressources nécessaires pour réussir en tant que bâtisseurs d'entreprises compétitifs,
        éthiques et réussis, tant au niveau local qu'à l'échelle continentale.
      </p>
      <p class="hidde" appObserveVisibility>
        Nous le faisons à travers le renforcement des capacités, l'incubation, le réseautage et la construction de
        l'écosystème.
      </p>
    </div>

    <div class="relative bg-[url('/images/slides/slide-3.webp')] bg-no-repeat bg-cover">
      <div class="bg-primary-950 bg-opacity-70 py-28 px-8 md:px-20 text-white">
        <div class="flex flex-col gap-8">
          <h2 class="font-satoshi text-xl font-medium mb-6 hidde" appObserveVisibility>
            Tout est une question d'augmentation de la
            <span class="text-green-600 hidde" appObserveVisibility>compétitivité</span>
            des innovateurs.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
