<div class="max-w-7xl mx-auto">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div
      class="lg:col-span-2 bg-white rounded-md shadow-lg p-4 lg:p-8 flex flex-col md:flex-row gap-6"
    >
      <div class="w-full md:w-1/2">
        @for (key of keys; track key.id) {
          <button
            (click)="selectKey(key)"
            class="w-full py-2 px-5 flex items-center justify-between flex-row-reverse border rounded-full mt-4 transition-all duration-300 hover:-translate-y-1 hover:shadow-lg"
            [ngClass]="
              selectedKey.id === key.id
                ? 'bg-primary-500 text-white border-primary-500 ring-2 ring-primary-500 ring-offset-2'
                : 'bg-white/60 text-gray-900 border-gray-200'
            "
            [attr.aria-pressed]="selectedKey.id === key.id"
            type="button"
          >
            <i-lucide
              stroke="4"
              [name]="icons.moveUp"
              class="text-lg p-1 rounded-full transition-colors duration-300"
              [ngClass]="
                selectedKey.id === key.id
                  ? 'bg-white text-primary-600'
                  : 'bg-primary-500 text-white'
              "
            ></i-lucide>

            <span
              class="text-base font-medium sm:font-semibold transition-colors duration-300"
              [ngClass]="
                selectedKey.id === key.id ? 'text-white' : 'text-gray-900'
              "
            >
              {{ key.name }}
            </span>
          </button>
        }
      </div>

      <div class="flex-1 flex flex-col justify-between">
        @if (data.length > 0) {
          <div class="space-y-4">
            <p
              class="bg-primary-500/20 text-primary-500 text-base font-satoshi py-1 px-4 rounded-md w-32 line-clamp-1"
            >
              {{ selectedKey.name }}
            </p>
            <h3 class="text-gray-700 font-black text-2xl line-clamp-2">
              {{ getItemTitle(data[0]) }}
            </h3>
            <p class="text-gray-700 text-base line-clamp-6">
              {{ getItemDescription(data[0]) }}
            </p>
          </div>

          <button
            [routerLink]="whatIsPath() + '/' + data[0].slug"
            class="mt-3 px-5 py-2 border border-primary-400 bg-primary-500 text-white rounded-md flex items-center justify-center gap-2 transition-all duration-300 hover:bg-primary-600 hover:-translate-y-1 hover:shadow-lg"
            type="button"
          >
            Découvrir
            <i-lucide
              [name]="icons.moveUp"
              class="size-5 group-hover:translate-x-1 transition-all duration-300"
            ></i-lucide>
          </button>
        } @else {
          <p class="text-center text-2xl lg:text-3xl font-black text-gray-700">
            Pas encore d'actualité ou de fait marquant pour cette catégorie.
          </p>
        }
      </div>
    </div>

    <div
      class="md:h-[400px] relative lg:col-span-1 rounded-md overflow-hidden shadow-md"
    >
      @if (data.length > 0) {
        <img
          [ngSrc]="data[0] | apiIMG: whatIsDisplayed()"
          fill
          [alt]="getItemTitle(data[0])"
          class="w-full h-full object-cover transition-transform duration-500 hover:scale-105"
        />
      } @else {
        <img
          src="/images/mise-avant-default.jpg"
          fill
          alt="image par défaut"
          class="w-full h-full object-cover transition-transform duration-500 hover:scale-105"
        />
      }
    </div>
  </div>
</div>
