<div class="grid grid-cols-1 lg:grid-cols-5 gap-6 w-full items-center overflow-hidden">
  <div class="flex justify-center">
    <button
      (click)="prevItem()"
      class="p-2 rounded-full border border-gray-300 hover:shadow-md transition-all duration-300 text-primary-500">
      <i-lucide [name]="icons.prev"></i-lucide>
    </button>
  </div>

  <div class="relative flex items-center justify-center lg:col-span-3 overflow-hidden">
    <div
      *ngIf="prevItemData"
      class="hidden lg:flex w-64 h-[26rem] bg-white border rounded-lg overflow-hidden shadow-sm opacity-60 scale-90 transition-all duration-500">
      <div class="absolute top-3 left-3 bg-primary-500 text-white text-xs px-3 py-1 rounded-full">
        {{ getSourceLabel(prevItemData.sourceKey) }}
      </div>
      <img
        [ngSrc]="prevItemData | apiIMG: whatIsDisplayed(prevItemData)"
        fill
        class="object-cover h-40 w-full"
        [alt]="getItemTitle(prevItemData)" />
      <div class="p-3 flex flex-col justify-between flex-1">
        <h4 class="font-semibold text-gray-800 line-clamp-2">{{ getItemTitle(prevItemData) }}</h4>
        <p [innerHTML]="getItemDescription(prevItemData)" class="text-gray-600 text-sm line-clamp-3"></p>
      </div>
    </div>

    <div
      *ngIf="currentItem"
      class="relative h-[28rem] w-[90%] lg:w-[70%] bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden transition-all duration-700">
      <div class="absolute top-4 left-4 bg-primary-500 text-white text-xs px-3 py-1 rounded-full">
        {{ getSourceLabel(currentItem.sourceKey) }}
      </div>
      <div class="relative h-52 w-full overflow-hidden">
        <img
          [ngSrc]="currentItem | apiIMG: whatIsDisplayed(currentItem)"
          fill
          [alt]="getItemTitle(currentItem)"
          class="object-cover w-full h-full" />
      </div>
      <div class="p-5 flex flex-col justify-between h-[calc(100%-13rem)]">
        <div>
          <h3 class="font-semibold text-xl text-gray-800">{{ getItemTitle(currentItem) }}</h3>
          <div [innerHTML]="getItemDescription(currentItem)" class="text-gray-600 line-clamp-3"></div>
        </div>
        <div class="mt-4">
          <p-button
            [routerLink]="getPath(currentItem.sourceKey, currentItem.slug)"
            size="small"
            outlined
            severity="primary">
            <p class="flex items-center gap-2 group px-4">
              Découvrir
              <i-lucide
                [name]="icons.moveUp"
                class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"></i-lucide>
            </p>
          </p-button>
        </div>
      </div>
    </div>

    <div
      *ngIf="nextItemData"
      class="hidden lg:flex w-64 h-[26rem] bg-white border rounded-lg overflow-hidden shadow-sm opacity-60 scale-90 transition-all duration-500">
      <div class="absolute top-3 left-3 bg-primary-500 text-white text-xs px-3 py-1 rounded-full">
        {{ getSourceLabel(nextItemData.sourceKey) }}
      </div>
      <img
        [ngSrc]="nextItemData | apiIMG: whatIsDisplayed(nextItemData)"
        fill
        class="object-cover h-40 w-full"
        [alt]="getItemTitle(nextItemData)" />
      <div class="p-3 flex flex-col justify-between flex-1">
        <h4 class="font-semibold text-gray-800 line-clamp-2">{{ getItemTitle(nextItemData) }}</h4>
        <p [innerHTML]="getItemDescription(nextItemData)" class="text-gray-600 text-sm line-clamp-3"></p>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <button
      (click)="nextItem()"
      class="p-2 rounded-full border border-gray-300 hover:shadow-md transition-all duration-300 text-primary-500">
      <i-lucide [name]="icons.next"></i-lucide>
    </button>
  </div>
</div>
