<div class="grid grid-cols-1 lg:grid-cols-7 gap-6 w-full items-center">
  <div class="flex justify-center">
    <button (click)="prevItem()" class="carousel-nav-btn">
      <i-lucide [name]="icons.prev"></i-lucide>
    </button>
  </div>

  <div class="relative flex items-center justify-center lg:col-span-5 gap-4">
    @if (prevItemData) {
    <div
      class="hidden md:block relative w-96 h-[16rem] md:h-[20rem] bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-transform duration-500 hover:scale-105 animate-[fadeIn_350ms_ease-out]">
      <div
        class="absolute top-3 left-3 z-10 bg-primary-500/90 backdrop-blur text-white text-sm font-semibold px-3 py-1 rounded-lg uppercase shadow">
        {{ getSourceLabel(prevItemData.sourceKey) }}
      </div>
      <div class="relative h-1/2 w-full overflow-hidden">
        <img
          fill
          [ngSrc]="prevItemData | apiIMG: whatIsDisplayed(prevItemData)"
          class="object-cover w-full h-full transition-transform duration-500 hover:scale-105"
          alt="{{getItemTitle(prevItemData)}}"
          loading="lazy" />
      </div>
      <div class="p-3 flex flex-col justify-between gap-1 flex-1">
        <h4 class="font-semibold text-gray-800 line-clamp-1">{{ getItemTitle(prevItemData) }}</h4>
        <p [innerHTML]="getItemDescription(prevItemData)" class="text-gray-600 text-sm line-clamp-2"></p>
      </div>
      <div class="p-3 border-t border-gray-200 flex justify-center">
        <p-button
          [routerLink]="getPath(prevItemData.sourceKey, prevItemData.slug)"
          size="small"
          outlined
          severity="primary">
          <p class="flex items-center gap-2 group px-4">
            Découvrir
            <i-lucide
              [name]="icons.moveUp"
              class="size-4 group-hover:translate-x-1 transition-transform duration-300"></i-lucide>
          </p>
        </p-button>
      </div>
    </div>
    } @if (currentItem) {
    <div
      class="relative h-[22rem] md:h-[26rem] lg:h-[28rem] w-[90%] lg:w-[70%] bg-white rounded-lg shadow-xl hover:shadow-2xl overflow-hidden transition-all duration-500 animate-[fadeInUp_300ms_ease-in]">
      <div
        class="absolute top-4 left-4 z-10 bg-primary-500/90 backdrop-blur text-white text-xs px-3 py-1 rounded-lg uppercase shadow">
        {{ getSourceLabel(currentItem.sourceKey) }}
      </div>
      <div class="relative h-52 w-full overflow-hidden">
        <img
          [ngSrc]="currentItem | apiIMG: whatIsDisplayed(currentItem)"
          fill
          alt="{{getItemTitle(currentItem)}}"
          class="object-cover w-full h-full transition-transform duration-500 hover:scale-105"
          loading="lazy" />
      </div>
      <div class="p-5 flex flex-col justify-between h-[calc(100%-13rem)]">
        <div>
          <h3 class="font-semibold text-xl text-gray-800 line-clamp-1">{{ getItemTitle(currentItem) }}</h3>
          <div [innerHTML]="getItemDescription(currentItem)" class="text-gray-600 line-clamp-3 mt-2"></div>
        </div>
        <div class="mt-4">
          <p-button
            [routerLink]="getPath(currentItem.sourceKey, currentItem.slug)"
            size="small"
            outlined
            severity="primary">
            <p class="flex items-center gap-2 group px-4">
              Découvrir
              <i-lucide
                [name]="icons.moveUp"
                class="size-4 group-hover:translate-x-1 transition-transform duration-300"></i-lucide>
            </p>
          </p-button>
        </div>
      </div>
    </div>
    } @if (nextItemData) {
    <div
      class="hidden md:block relative w-96 h-[16rem] md:h-[20rem] bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-transform duration-500 hover:scale-105 animate-[fadeIn_350ms_ease-out]">
      <div
        class="absolute top-3 left-3 z-10 bg-primary-500/90 backdrop-blur text-white text-sm font-semibold px-3 py-1 rounded-lg uppercase shadow">
        {{ getSourceLabel(nextItemData.sourceKey) }}
      </div>
      <div class="relative h-1/2 w-full overflow-hidden">
        <img
          [ngSrc]="nextItemData | apiIMG: whatIsDisplayed(nextItemData)"
          class="object-cover w-full h-full transition-transform duration-500 hover:scale-105"
          fill
          alt="{{getItemTitle(nextItemData)}}"
          loading="lazy" />
      </div>
      <div class="p-3 flex flex-col justify-between gap-1 flex-1">
        <h4 class="font-semibold text-gray-800 line-clamp-1">{{ getItemTitle(nextItemData) }}</h4>
        <p [innerHTML]="getItemDescription(nextItemData)" class="text-gray-600 text-base line-clamp-2"></p>
      </div>
      <div class="p-3 border-t border-gray-200 flex justify-center">
        <p-button
          [routerLink]="getPath(nextItemData.sourceKey, nextItemData.slug)"
          size="small"
          outlined
          severity="primary">
          <p class="flex items-center gap-2 group px-4">
            Découvrir
            <i-lucide
              [name]="icons.moveUp"
              class="size-4 group-hover:translate-x-1 transition-transform duration-300"></i-lucide>
          </p>
        </p-button>
      </div>
    </div>
    }
  </div>

  <div class="flex justify-center">
    <button (click)="nextItem()" class="carousel-nav-btn">
      <i-lucide [name]="icons.next"></i-lucide>
    </button>
  </div>
</div>
