<section>
  @let result = programs$ | async;
  <div
    class="relative py-72 min-h-[75%] bg-[url('/images/programs.webp')] bg-cover flex flex-col overflow-hidden mb-12">
    <div
      class="px-8 md:px-32 xl:px-48 absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/60 to-primary-900/70 gap-6 text-2xl md:text-4xl text-white">
      <div class="relative z-10 flex flex-col items-start py-16">
        <div
          class="mt-1 text-center text-xl font-extrabold leading-tight tracking-tight md:text-3xl lg:text-5xl xl:6xl">
          Que voulez-vous apprendre ?
        </div>
        <div class="mt-6 max-w-2xl tracking-tight lg:text-xl font-ligh">
          Découvrez nos programmes et laissez-vous accompagner par les meilleurs coachs pour garantir la réussite de
          votre projet.
        </div>
      </div>
    </div>
  </div>

  <div class="px-8 md:px-26 py-6 flex flex-auto min-h-40">
    <div class="flex flex-auto flex-col">
      <div class="flex flex-col md:flex-row md:justify-between mb-8">
        <div class="flex flex-col gap-3 md:flex-row">
          @let types = types$ | async;
          @let categories = categories$ | async;
          <mat-form-field class="w-full sm:w-60" [subscriptSizing]="'dynamic'">
            <mat-select
              [value]="queryParams().type"
              (selectionChange)="onFilterChange($event, 'type')"
              placeholder="Filtrez par type">
              <mat-option [value]="'all'">Tous</mat-option>
              @if (types.data; as types) {
                @for (type of types; track $index) {
                  <mat-option [value]="type.name">{{ type.name }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="w-full sm:w-60" [subscriptSizing]="'dynamic'">
            <mat-select
              [value]="queryParams().category"
              (selectionChange)="onFilterChange($event, 'category')"
              placeholder="Filtrez par catégorie">
              <mat-option [value]="'all'">Tous</mat-option>
              @if (categories.data; as categories) {
                @for (category of categories; track $index) {
                  <mat-option [value]="category.name">{{ category.name }}</mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      @if (result.isLoading) {
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          @for (program of skeletonArray; track $index) {
            <app-program-card-skeleton />
          }
        </div>
      }
      @if (result.data; as data) {
        @if (data.programs; as programs) {
          <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            @for (
              program of programs
                | paginate: { itemsPerPage: 9, currentPage: queryParams().page, totalItems: data.count };
              track program.id
            ) {
              <app-program-card [program]="program" />
            }
          </div>

          <div class="flex items-center justify-center mt-16">
            <pagination-controls
              nextLabel=""
              previousLabel=""
              [autoHide]="true"
              [maxSize]="5"
              (pageChange)="onPageChange($event)"
              class="pg">
            </pagination-controls>
          </div>
        }
      }
      @if (result.error || (result.data && result.data?.programs.length === 0)) {
        <h2 class="text-3xl font-semibold -mt-16">Aucun programme!</h2>
      }
    </div>
  </div>
</section>
