<app-topbar />
<section class="">
  <div class="relative py-72 bg-[url('/images/programs.webp')] bg-cover flex flex-col overflow-hidden">
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center bg-primary-950/70 gap-6 text-2xl md:text-4xl px-8 md:px-32 text-white">
      <div class="relative z-10 flex flex-col items-center py-16">
        <div class="mt-1 text-center text-5xl font-extrabold leading-tight tracking-tight sm:text-4xl">
          Que voulez-vous apprendre aujourd'hui ?
        </div>
        <div class="text-gray-300 mt-6 max-w-2xl text-center tracking-tight sm:text-3xl">
          Découvrez nos programmes et laissez-vous accompagner par les meilleurs coachs pour garantir la réussite de
          votre projet.
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-auto p-6 sm:p-10 min-h-[90vh]" *ngIf="programs$ | async as result">
    <div class="mx-auto flex w-full max-w-xs flex-auto flex-col sm:max-w-5xl">
      <!-- Filters -->
      <div
        class="flex w-full max-w-xs flex-col items-center justify-between sm:max-w-none sm:flex-row"
        *ngIf="type$ | async as typesResult">
        <mat-form-field class="w-full sm:w-60" [subscriptSizing]="'dynamic'">
          <mat-select
            [value]="queryParams.type || 'all'"
            (selectionChange)="onTypeChange($event)"
            placeholder="Filtrez par type">
            <mat-option [value]="'all'">Tous</mat-option>
            @if (typesResult.data; as types) {
              @for (type of types; track $index) {
                <mat-option [value]="type.name">{{ type.name }}</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle
          class="mt-8 sm:ml-auto sm:mt-0"
          [checked]="queryParams.hideFinished"
          (toggleChange)="toogleFinished()"
          [color]="'primary'">
          Programmes en cours
        </mat-slide-toggle>
      </div>

      @if (result.isFetching) {
        <div class="mt-8 grid grid-cols-1 gap-8 sm:mt-10 sm:grid-cols-2 lg:grid-cols-3">
          @for (program of skeletonArray; track $index) {
            <app-program-card-skeleton />
          }
        </div>
      } @else if (result.data) {
        @if (result.data.programs; as programs) {
          <div class="mt-8 grid grid-cols-1 gap-8 sm:mt-10 sm:grid-cols-2 lg:grid-cols-3">
            @for (
              program of programs
                | paginate: { itemsPerPage: 9, currentPage: queryParams.page, totalItems: result.data.count };
              track program.id
            ) {
              <app-program-card [program]="program" />
            }
          </div>

          <div class="flex items-center justify-center mt-16">
            <pagination-controls
              nextLabel=""
              previousLabel=""
              [autoHide]="true"
              [maxSize]="5"
              (pageChange)="onPageChange($event)"
              class="pg">
            </pagination-controls>
          </div>
        }
      } @else if (result.isError && result.data?.programs.length <= 0) {
        <h2 class="mt-8 text-2xl font-semibold">Aucun programme trouvé !</h2>
      }
    </div>
  </div>
</section>
