<div class="flex flex-col gap-8">
  <div>
    <div class="flex items-center gap-1 mb-2 text-secondary-800">
      <ng-icon name="matDescriptionOutline" class="size-5!" />
      <h2 class="font-semibold text-lg">Description</h2>
    </div>
    <p class="mb-1.5 lowercase first-letter:uppercase">{{ project().description }}</p>
  </div>

  <div>
    <div class="flex items-center gap-1 mb-2 text-secondary-800">
      <ng-icon name="matEventNoteOutline" class="size-5!" />
      <h2 class="font-semibold text-lg">Dates</h2>
    </div>
    <p class="mb-1.5">Commence le {{ project().started_at | date: 'longDate' }}</p>
    <p class="mb-1.5">Fini le {{ project().ended_at | date: 'longDate' }}</p>
  </div>

  <div>
    <div class="flex items-center gap-1 mb-2 text-secondary-800">
      <ng-icon name="matGroupOutline" class="size-5!" />
      <h2 class="font-semibold text-lg">Partenaires</h2>
    </div>
  </div>

  @if (project()?.phases?.length) {
    <div>
      <div class="flex items-center gap-1 mb-2 text-secondary-800">
        <ng-icon name="matTimelineOutline" class="size-5!" />
        <h2 class="font-semibold text-lg">Phases</h2>
      </div>

      @for (phase of project().phases; track $index) {
        <button class="flex items-center mb-2" (click)="expand(phase.id)">
          <mat-icon
            svgIcon="matArrowRightAltOutline"
            class="text-primary-700"
            [ngClass]="expanded() === phase.id && 'rotate-90 transition-transform duration-300'" />
          <h2 class="font-medium">{{ phase.name }}</h2>
        </button>

        @if (expanded() === phase.id) {
          <div class="px-6" [ngClass]="expanded() === phase.id && '-translate-y-2 transition-transform duration-300'">
            <div class="flex flex-col gap-1.5">
              <div class="flex flex-col gap-1.5 mb-4">
                <h2 class="font-medium underline">Description</h2>
                <p class="lowercase first-letter:uppercase">{{ phase.description }}</p>
              </div>
              @if (phase.requirements?.length) {
                <div class="flex flex-col gap-1.5">
                  <h2 class="font-medium underline">Prérecquis</h2>
                  @for (req of phase.requirements; track $index) {
                    <div class="flex flex-col gap-2.5 mb-4">
                      <p class="font-medium">{{ $index + 1 }}. {{ req.name }}</p>
                      <p class="mb-2 lowercase first-letter:uppercase">{{ req.description }}</p>
                    </div>
                  }
                </div>
              }
              <p>Commence le {{ phase.started_at | date: 'longDate' }}</p>
              <p>Fini le {{ phase.ended_at | date: 'longDate' }}</p>
            </div>
          </div>
        }
      }
    </div>
  }
</div>
