.quill-wrapper {
  border: 1px solid var(--surface-border); 
  border-radius: 4px;
  padding: 0.25rem;
  background-color: var(--surface-card); 
}

.quill-wrapper .ql-toolbar {
  border-bottom: 1px solid var(--surface-border);
  border-radius: 4px 4px 0 0;
}

.quill-wrapper .ql-container {
  border: none;
  border-radius: 0 0 4px 4px;
  min-height: 150px;
}
