<header class="relative z-40 text-gray-950 font-satoshi font-medium h-14 md:h-18">
  <nav>
    <ul
      class="navbar fixed w-full top-0 left-0 right-0 translate-y-0 lg:px-20 px-10 py-3 transition-transform duration-300 bg-white shadow-sm z-20 flex items-center justify-between">
      <a routerLink="/" class="flex items-center gap-3 cursor-pointer" aria-label="logo">
        <div class="relative h-10 w-8">
          <img ngSrc="/images/logo/logo-g.png" alt="logo" class="absolute" fill priority />
        </div>
      </a>

      <div class="flex gap-4 items-center">
        @if (user$ | async; as user) {
          <a [href]="accountUrl" class="flex items-center gap-2" routerLinkActive="text-green-700">
            <div class="w-8 h-8 bg-gray-200 relative rounded-full overflow-hidden flex items-center justify-center">
              <img [ngSrc]="displayProfileImage(user)" class="object-cover" alt="profile picture" fill />
            </div>
            {{ user.name[0] }}
          </a>
        } @else {
          @for (link of links; track $index) {
            <a
              [routerLink]="link.path"
              class="inline-block transition-colors duration-300"
              routerLinkActive="text-green-700">
              {{ link.name }}
            </a>
          }
        }
      </div>
    </ul>
  </nav>
</header>
