<div class="grid grid-cols-1 lg:grid-cols-2 bg-white" *ngIf="state$ | async as state">
  <div class="flex min-h-screen md:min-h-full md:py-24 flex-col items-start justify-center px-8 md:px-8 lg:px-32">
    <div class="flex flex-col items-start">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight font-satoshi">S'inscrire</h2>
      <div class="flex items-center gap-1.5">
        <p>Ou continuez avec</p>
        <button class="text-primary-500 hover:underline" (click)="signUpWithGoogle()">Google</button>
      </div>
      @if (state.error; as error) {
        <fuse-alert class="mt-6 w-full" appearance="soft" type="error" [showIcon]="true" [@shake]="true">
          {{ error }}
        </fuse-alert>
      }
    </div>
    <form
      class="-ml-6 {{ state.error ? 'transition-transform translate-y-4 duration-150' : 'mt-6' }}"
      [formGroup]="signUpForm">
      <mat-stepper orientation="horizontal" [color]="'primary'" [linear]="true" #stepper>
        <mat-step label="Etape 1">
          <ng-template matStepContent>
            <div formGroupName="firstStep">
              <mat-form-field class="w-full">
                <mat-label>Nom complet</mat-label>
                <input autocomplete="name" id="name" matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>E-mail</mat-label>
                <input
                  autocomplete="off"
                  id="email"
                  type="email"
                  matInput
                  formControlName="email"
                  placeholder="example@gmail.com"
                  required />
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Adresse</mat-label>
                <input
                  autocomplete="off"
                  id="address"
                  matInput
                  formControlName="address"
                  placeholder="Lubumbashi, RDC."
                  required />
              </mat-form-field>
              <div>
                <button
                  class="fuse-mat-button-medium mt-6 text-white"
                  mat-flat-button
                  color="primary"
                  [disabled]="signUpForm.get('firstStep').invalid"
                  (click)="stepper.next()">
                  <span class="flex items-center gap-1">
                    Suivant
                    <mat-icon class="icon-size-5" svgIcon="arrow_forward"></mat-icon>
                  </span>
                </button>
              </div>
            </div>
          </ng-template>
        </mat-step>
        <mat-step label="Etape 2">
          <ng-template matStepContent>
            <div formGroupName="secondStep">
              <mat-form-field class="w-full">
                <mat-label>Numéro de téléphone </mat-label>
                <input
                  autocomplete="off"
                  id="phone_number"
                  matInput
                  formControlName="phone_number"
                  placeholder="+243979265726"
                  required />
              </mat-form-field>
              <mat-form-field class="w-full">
                <mat-label>Mot de passe</mat-label>
                <input
                  id="password"
                  matInput
                  type="password"
                  autocomplete="off"
                  formControlName="password"
                  #passwordField />
                <button
                  mat-icon-button
                  type="button"
                  (click)="
                    passwordField.type === 'password'
                      ? (passwordField.type = 'text')
                      : (passwordField.type = 'password')
                  "
                  matSuffix>
                  @if (passwordField.type === 'password') {
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                  }
                  @if (passwordField.type === 'text') {
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                  }
                </button>
              </mat-form-field>

              <mat-form-field class="w-full">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input
                  id="password_confirm"
                  matInput
                  type="password"
                  autocomplete="off"
                  formControlName="password_confirm"
                  #passwordConfirm />
                <button
                  mat-icon-button
                  type="button"
                  (click)="
                    passwordConfirm.type === 'password'
                      ? (passwordConfirm.type = 'text')
                      : (passwordConfirm.type = 'password')
                  "
                  matSuffix>
                  @if (passwordConfirm.type === 'password') {
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                  }
                  @if (passwordConfirm.type === 'text') {
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                  }
                </button>
              </mat-form-field>

              <div>
                <button
                  class="fuse-mat-button-large mt-6 w-full text-white"
                  mat-flat-button
                  [color]="'primary'"
                  [disabled]="state.isLoading || signUpForm.invalid"
                  (click)="signUp()">
                  @if (!state.isLoading && !signUpForm.invalid) {
                    <span>S'inscrire</span>
                  }
                  @if (state.isLoading) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
                  }
                </button>
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
  <div class="relative hidden items-center justify-center overflow-hidden bg-green-800 p-16 md:flex lg:px-28">
    <svg
      class="absolute inset-0 pointer-events-none"
      viewBox="0 0 960 540"
      width="100%"
      height="100%"
      preserveAspectRatio="xMidYMax slice"
      xmlns="http://www.w3.org/2000/svg">
      <g class="text-green-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
        <circle r="234" cx="196" cy="23"></circle>
        <circle r="234" cx="790" cy="491"></circle>
      </g>
    </svg>

    <svg class="absolute -top-16 -right-16 text-green-700" viewBox="0 0 220 192" width="220" height="192" fill="none">
      <defs>
        <pattern
          id="837c3e70-6c3a-44e6-8854-cc48c737b659"
          x="0"
          y="0"
          width="20"
          height="20"
          patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
        </pattern>
      </defs>
      <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
    </svg>
    <!-- Content -->
    <div class="relative z-10 w-full max-w-2xl">
      <div class="text-4xl font-bold leading-none text-gray-100">
        <h4>Rejoignez-nous !</h4>
      </div>
      <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
        <p>Rejoignez notre communauté de plus de 1000 utilisateurs et profitez de nos services au quotidien.</p>
      </div>
      <div class="mt-8 flex gap-3 items-center">
        <div class="flex items-center -space-x-1.5">
          @for (member of team.slice(0, 5); track $index) {
            <div class="relative h-10 w-10">
              <img
                class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-primary-900 ring-offset-1 ring-offset-primary-900"
                [ngSrc]="member.image"
                fill />
            </div>
          }
        </div>
        <p class="font-medium tracking-tight text-green-400">Plus de 1000 utilisateurs</p>
      </div>
    </div>
  </div>
</div>
