<div class="flex items-center gap-1.5 text-lg mb-6">
  <mat-icon svgIcon="mat_outline:lock" />
  <h3 class="font-semibold text-gray-800">Modifier mon mot de passe</h3>
</div>
<form [formGroup]="form">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-6">
    <mat-form-field class="w-full">
      <mat-label>Mot de passe</mat-label>
      <input id="password" matInput type="password" autocomplete="off" [formControlName]="'password'" #passwordField />
      <button
        mat-icon-button
        type="button"
        (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
        matSuffix>
        @if (passwordField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'" />
        }
        @if (passwordField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'" />
        }
      </button>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Confirmez le mot de passe</mat-label>
      <input matInput type="password" autocomplete="off" [formControlName]="'password_confirm'" #passwordConfirmField />
      <button
        mat-icon-button
        type="button"
        (click)="
          passwordConfirmField.type === 'password'
            ? (passwordConfirmField.type = 'text')
            : (passwordConfirmField.type = 'password')
        "
        matSuffix>
        @if (passwordConfirmField.type === 'password') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'" />
        }
        @if (passwordConfirmField.type === 'text') {
          <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'" />
        }
      </button>
    </mat-form-field>
  </div>
  <div class="w-1/2 md:w-1/4">
    <button class="w-full text-white" mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
      @if (!form.invalid) {
        <span> Mettre à jour</span>
      }
      @if (false) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
      }
    </button>
  </div>
</form>
