<div class="pb-16 mt-4">
  <div class="flex w-full flex-wrap gap-4 justify-between items-center mb-8">
    <h1 class="text-2xl font-bold">Mes produits</h1>
    <button class="flex items-center gap-1 font-normal primary-link" (click)="onToggleAddModal()">
      <i-lucide [name]="icons.plus" class="size-5" />
      Ajouter
    </button>
  </div>
  @if (productsStore.products()[0]) {
    @for (
      product of productsStore.products()[0]
        | paginate: { itemsPerPage: 10, currentPage: queryParams().page ?? 1, totalItems: productsStore.products()[1] };
      track product.id
    ) {
      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="relative h-28 w-52 rounded bg-gray-200">
          <img
            [ngSrc]="product | apiIMG: 'product'"
            [alt]="product.name"
            class="aspect-video object-cover rounded border-2 border-slate-200/10"
            fill />
        </div>
        <div class="flex flex-col gap-1.5 w-full md:w-3/4">
          <div class="flex items-center">
            <h3 class="font-bold font-satoshi text-lg">{{ product.name }}</h3>
            <div class="flex items-center gap-1.5">
              <button class="ml-4 inline-block text-gray-500 hover:text-gray-700" (click)="onToggleViewModal(product)">
                <i-lucide [name]="icons.eye" class="size-5 text-inherit" />
              </button>
              <button class="text-gray-500 hover:text-gray-700" (click)="onToggleEditModal(product)">
                <i-lucide [name]="icons.edit" class="size-4 text-inheri" />
              </button>
              <button (click)="onDeleteProduct(product.id, $event)">
                <p-confirmpopup />
                <i-lucide [name]="icons.trash" class="size-4 text-red-500 hover:text-red-700" />
              </button>
            </div>
          </div>
          <p class="text-base leading-normal line-clamp-3">
            {{ product.description }}
          </p>
        </div>
      </div>
    }
    @if (productsStore.products()[1] > 10) {
      <div class="flex justify-center pb-8">
        <pagination-controls
          nextLabel=""
          previousLabel=""
          [maxSize]="5"
          (pageChange)="onPageChange($event)"
          class="pg" />
      </div>
    }
  }
  @if (productsStore.products()[1] <= 0 && !productsStore.isLoading()) {
    <p class="text-gray-600">Aucune produits trouvé. Vous pouvez en ajouter une en cliquant sur le bouton "Ajouter".</p>
  }
  @if (productsStore.isLoading()) {
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="h-28 w-52 rounded bg-gray-200 animate-pulse mb-4"></div>
        <div class="md:col-span-2">
          <div class="animate-pulse h-4 w-full mb-4 md:w-56 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full mb-1 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full mb-1 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full md:w-48 rounded-md bg-gray-200"></div>
        </div>
      </div>
    }
  }

  <p-dialog [(visible)]="showViewModal" [modal]="true" [style]="{ width: '28rem' }">
    @if (product()) {
      <div class="flex flex-col md:flex-row flex-wrap gap-4">
        <div class="relative h-28 w-32 rounded bg-gray-200">
          <img
            [alt]="product()?.name"
            [ngSrc]="product() | apiIMG: 'product'"
            class="aspect-video object-cover rounded border-2 border-slate-200/10 mb-2"
            fill
            priority />
        </div>
        <div class="flex flex-col gap-1.5">
          <div class="mb-1">
            <h1 class="text-lg font-extrabold text-gray-900">{{ product()?.name | titlecase }}</h1>
            <p class="text-gray-900 text-sm">
              Créée le
              {{ product()?.created_at | date: 'longDate' }}
            </p>
          </div>
          <div class="flex items-center gap-1.5 font-semibold text-gray-800 text-sm">
            {{ product()?.price | currency: 'USD' }}
          </div>
          <div class="flex items-center gap-1.5 font-semibold text-gray-800 text-sm">
            {{ enterprise().name }}
          </div>
        </div>
      </div>
      <p class="text-gray-600 mt-6">{{ product()?.description }}</p>
    }
  </p-dialog>

  <p-dialog [(visible)]="showAddModal" [closable]="false" [modal]="true" [style]="{ width: '25rem' }">
    <form class="flex flex-col gap-4" [formGroup]="addProductForm" (ngSubmit)="onAddProduct()">
      <div class="flex flex-col gap-1.5">
        <label for="name" class="font-medium">Nom du produit<span class="text-red-500">*</span></label>
        <input pInputText type="text" id="name" name="name" formControlName="name" autocomplete="none" />
      </div>
      <div class="flex flex-col gap-1.5">
        <p class="font-medium">Description <span class="text-red-500">*</span></p>
        <textarea
          pTextarea
          id="description"
          name="description"
          formControlName="description"
          rows="5"
          cols="30"></textarea>
      </div>
      <div class="flex flex-col gap-1.5">
        <label for="price" class="font-medium">Prix<span class="text-red-500">*</span></label>
        <input pInputText type="number" id="price" name="price" formControlName="price" autocomplete="none" />
      </div>
      <div class="flex justify-end gap-4 flex-wrap">
        <p-button size="small" variant="outlined" severity="danger" class="font-satoshi" (onClick)="onToggleAddModal()">
          Annuler
        </p-button>
        <p-button
          size="small"
          severity="primary"
          class="font-satoshi"
          [disabled]="!addProductForm.valid || addProductStore.isLoading()"
          [loading]="addProductStore.isLoading()"
          (onClick)="onAddProduct()">
          Ajouter le produit
        </p-button>
      </div>
    </form>
  </p-dialog>

  <p-dialog [(visible)]="showEditModal" [closable]="false" [modal]="true" [style]="{ width: '25rem' }">
    <app-file-upload [name]="'image'" [url]="logoUrl + product()?.id" />
    <form class="flex flex-col gap-4" [formGroup]="editProductForm" (ngSubmit)="onUpdateProduct()">
      <div class="flex flex-col gap-1.5">
        <label for="name" class="font-medium">Nom du produit<span class="text-red-500">*</span></label>
        <input pInputText type="text" id="name" name="name" formControlName="name" autocomplete="none" />
      </div>
      <div class="flex flex-col gap-1.5">
        <p class="font-medium">Description <span class="text-red-500">*</span></p>
        <textarea
          pTextarea
          id="description"
          name="description"
          formControlName="description"
          rows="5"
          cols="30"></textarea>
      </div>
      <div class="flex flex-col gap-1.5">
        <label for="price" class="font-medium">Prix<span class="text-red-500">*</span></label>
        <input pInputText type="number" id="price" name="price" formControlName="price" autocomplete="none" />
      </div>
      <div class="flex justify-end gap-4 flex-wrap">
        <p-button
          size="small"
          variant="outlined"
          severity="danger"
          class="font-satoshi"
          (onClick)="onToggleEditModal(null)">
          Annuler
        </p-button>
        <p-button
          size="small"
          severity="primary"
          class="font-satoshi"
          [disabled]="!editProductForm.valid || addProductStore.isLoading()"
          [loading]="addProductStore.isLoading()"
          (onClick)="onUpdateProduct()">
          Modifier le produit
        </p-button>
      </div>
    </form>
  </p-dialog>
</div>
