<section class="bg-grid sm:px-8 mt-5 px-8 lg:px-16 xl:px-24 2xl:px-32 space-y-20 max-w-screen-2xl mx-auto py-14">
  <h3 class="text-center font-black text-gray-700 text-3xl sm:text-4xl lg:text-5xl mb-10 lg:mt-13">Rejoignez-nous</h3>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
    <div class="relative w-full h-80 sm:h-96 lg:h-[32rem] overflow-hidden rounded-xl">
      <img
        src="/images/joinUs.jpg"
        alt="Join Us"
        class="w-full h-full object-cover transition-transform duration-300 hover:scale-105" />
    </div>
    <div>
      <h1 class="text-xl sm:text-2xl font-bold text-gray-800">
        Vous souhaitez faire partie d’un réseau dynamique d’entrepreneurs et d’innovateurs, de coachs et mentors, de
        décideurs et d’experts ?
      </h1>
      <p class="mt-4 text-base sm:text-lg text-gray-600">
        Rejoignez une communauté inspirante, bénéficiez de ressources exclusives et connectez-vous avec des esprits
        brillants pour faire grandir vos projets.
      </p>

      <div class="flex flex-wrap gap-4 lg:gap-6 mt-6 justify-center lg:justify-start">
        <button
          *ngFor="let option of memberItems"
          (click)="selectUserType(option.id)"
          class="flex flex-nowrap items-center gap-3 px-5 py-2 border rounded-full cursor-pointer transition duration-300"
          [ngClass]="{
            'bg-primary-500 text-white border-primary-500': selectedUserId === option.id,
            'text-gray-600 border-gray-300 hover:bg-primary-500 hover:text-white hover:border-primary-500':
              selectedUserId !== option.id
          }">
          <i-lucide [name]="option.icon" class="text-2xl"></i-lucide>
          <p class="font-semibold text-base">
            {{ option.title }}
          </p>
        </button>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="">
      <ng-container [ngSwitch]="selectedUserId">
        <form *ngSwitchCase="0">
          <h2 class="text-3xl md:text-4xl font-bold text-gray-800 text-center mb-6">
            Je m'inscris comme membre simple
          </h2>
          <p class="p-4 text-base text-gray-600 text-center">{{ memberItems[0].description }}</p>
          <div class="w-full border-2 border-dashed border-gray-200 rounded bg-surface-50 p-8 font-medium">
            <form class="flex flex-col gap-y-6 gap-x-4" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
                <p-floatlabel class="w-full" variant="on">
                  <input pInputText id="name" formControlName="fullname" autocomplete="off" />
                  <label for="name">Nom Complet</label>
                </p-floatlabel>
                <p-floatlabel class="w-full" variant="on">
                  <input pInputText id="email" formControlName="email" autocomplete="on" />
                  <label for="email">Adresse email </label>
                </p-floatlabel>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
                <p-floatlabel class="w-full" variant="on">
                  <input pInputText id="phone" formControlName="phone" autocomplete="on" />
                  <label for="phone">Numéro de téléphone </label>
                </p-floatlabel>

                <p-select
                  [options]="genderItems"
                  formControlName="gender"
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  placeholder="Genre"
                  class="w-full" />
                <!-- <p-floatlabel class="w-full" variant="on">
                    <p-password inputId="password" promptLabel="Entrez votre mot de passe" [feedback]="false" />
                    <label for="password">Mot de passe</label>
                  </p-floatlabel> -->
              </div>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
                <p-floatlabel class="w-full" variant="on">
                  <p-datepicker inputId="birthdate" formControlName="birthdate" showIcon iconDisplay="input" />
                  <label for="birthdate">Date de naissance</label>
                </p-floatlabel>

                <p-floatlabel class="w-full" variant="on">
                  <p-select
                    inputId="status"
                    formControlName="statut"
                    [options]="statutItem"
                    optionLabel="name"
                    class="w-full" />
                  <label for="statut">Selectinnez le status</label>
                </p-floatlabel>
              </div>

              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-6">
                <p-select
                  [options]="countryItem"
                  [checkmark]="true"
                  optionLabel="name"
                  [showClear]="true"
                  placeholder="Selectionnez votre pays"
                  class="w-full" />

                <p-floatlabel class="w-full md:w-60" variant="on">
                  <input pInputText id="email" autocomplete="on" />
                  <label for="email">Adresse de residence </label>
                </p-floatlabel>
              </div>
              <div class="col-span-1">
                <p-floatlabel class="w-full" variant="on">
                  <textarea pTextarea id="object" rows="5" cols="30" style="resize: none" class="h-full"></textarea>
                  <label for="object">Pourquoi rejoindre Cinolu ?</label>
                </p-floatlabel>
              </div>
              <p-button class="w-full" type="submit" label="S'inscrire"></p-button>
            </form>
          </div>
        </form>

        <form *ngSwitchCase="1">
          <h2 class="text-xl font-bold text-gray-800">Formulaire Étudiant</h2>
          <p class="p-4 text-base text-gray-600 text-center">{{ memberItems[1].description }}</p>
          <div class="w-full border-2 border-dashed border-gray-200 rounded bg-surface-50 p-8 font-medium"></div>
        </form>

        <form *ngSwitchCase="2">
          <h2>Je m'inscris entant que {{ memberItems[1].title }}</h2>
          <p class="p-4 text-base text-gray-600 text-center">{{ memberItems[1].description }}</p>
        </form>

        <form *ngSwitchCase="3">
          <h2>Formulaire Entrepreneur</h2>
          <p class="p-4 text-base text-gray-600 text-center">{{ memberItems[3].description }}</p>
        </form>

        <form *ngSwitchCase="4">
          <h2>Formulaire Investisseur / Partenaire</h2>
          <p class="p-4 text-base text-primary-600 text-center">{{ memberItems[4].description }}</p>
        </form>

        <form *ngSwitchCase="5">
          <h2>Formulaire Volontaire / Stagiaire</h2>
          <p class="p-4 text-base text-primary-600 text-center">{{ memberItems[5].description }}</p>
        </form>
      </ng-container>
    </div>
  </div>
</section>
