<app-auth-card
  description="Réinitialisation pour accéder à votre compte et continuer à explorer notre plateforme"
  title="Réinitialisation du mot de passe">
  <p class="mt-1.5">Veuillez saisir votre nouveau mot de passe pour réinitialiser votre compte.</p>
  <form class="mt-8 flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onResetPassword()">
    <div class="flex flex-col gap-1.5">
      <label for="password" class="font-medium">Mot de passe</label>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
        autocomplete="off"
        inputId="password" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="passwordConfirm" class="font-medium">Confirmer le mot de passe</label>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password_confirm"
        autocomplete="off"
        inputId="passwordConfirm" />
    </div>
    <button
      pButton
      class="w-full"
      [loading]="store.isLoading()"
      [disabled]="store.isLoading() || form.invalid"
      type="submit">
      Réinitialisation
    </button>
  </form>
</app-auth-card>
