<section class="mb-20 py-16 bg-primary-900 text-white" id="about">
  <div class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg xl:px-0">
    <h2 class="font-semibold text-xl md:text-4xl xl:text-6xl mb-10">
      Qui <span class="text-primary-600"> sommes-nous ? </span>
    </h2>
    <div class="font-thin text-sm md:text-base">
      <p class="mb-5">
        Le Centre d'Innovation de Lubumbashi, communément appelé Cinolu en sigle, est un hub d'innovation créé en 2015
        dans la ville de Lubumbashi en RDC.
      </p>
      <p class="">
        Nous offrons du renforcement des capacités et un soutien aux entreprises en phase de démarrage (startups et PME)
        à travers des formations, du coaching et du mentorat, des services d'incubation et de conseil. Pour les
        entreprises, les investisseurs et les institutions financières internationales (IFIs), nous proposons un soutien
        à l'innovation ouverte, des services de gestion de projet ainsi qu'une communauté sélectionnée d'innovateurs
        avec qui collaborer.
      </p>
    </div>
  </div>
</section>
