<section class="pt-32 min-h-[110vh] dashboard-main-content flex flex-col gap-4">
  @let venture = store.venture();
  <div class="mb-6">
    <h5 class="text-2xl font-bold">Modifier l'entreprise</h5>
  </div>

  <form class="w-full md:w-2/3" [formGroup]="form" (ngSubmit)="onUpdateVenture()">
    <p-stepper [value]="1">
      <p-step-list class="w-full overflow-x-scroll scrollbar-hide">
        <p-step [value]="1"/>
        <p-step [value]="2"/>
        <p-step [value]="3"/>
      </p-step-list>
      <p-step-panels>
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1.5">
                <label for="name" class="font-medium">Nom de l'entreprise<span class="text-red-500">*</span></label>
                <input pInputText id="name" formControlName="name"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <label for="email" class="font-medium">Adresse e-mail</label>
                <input pInputText type="email" id="email" formControlName="email"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <label for="phone_number" class="font-medium">Numéro de téléphone</label>
                <input pInputText id="phone_number" formControlName="phone_number"/>
              </div>
              <div class="w-full">
                <p class="font-medium mb-1.5">Ajouter un logo</p>
                @if (store.isLoading()) {
                  <div class="h-20 bg-gray-200 animate-pulse rounded-md w-full mb-4"></div>
                } @else {
                  <app-file-upload [name]="'logo'" [url]="logoUrl + venture?.id"/>
                }
              </div>
              <div class="w-full">
                <p class="font-medium mb-1.5">
                  Ajouter une photo de couverture
                </p>
                @if (store.isLoading()) {
                  <div class="h-20 bg-gray-200 animate-pulse rounded-md w-full mb-4"></div>
                } @else {
                  <app-file-upload [name]="'cover'" [url]="coverUrl + venture?.id"/>
                }
              </div>
              <div class="flex py-6 pb-40 justify-end">
                <p-button size="small" variant="outlined" (onClick)="activateCallback(2)">
                  Suivant
                  <i-lucide [name]="icons.next" class="size-4"/>
                </p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1.5">
                <label for="website" class="font-medium">Site web</label>
                <input pInputText id="website" formControlName="website"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <label for="linkedin_url" class="font-medium">URL LinkedIn</label>
                <input pInputText id="linkedin_url" formControlName="linkedin_url"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Secteur</p>
                <p-select inputId="sector" [options]="sectors" formControlName="sector"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Date de création</p>
                <p-datePicker formControlName="founded_at"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <label for="location" class="font-medium">Emplacement(Pays - Ville)</label>
                <input pInputText id="location" formControlName="location"/>
              </div>
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Étape</p>
                <p-select inputId="stage" [options]="stages" formControlName="stage"/>
              </div>
              <div class="flex py-6 pb-40 justify-between">
                <p-button size="small" variant="outlined" severity="secondary" (onClick)="activateCallback(1)">
                  <i-lucide [name]="icons.previous" class="size-4"/>
                  Précedent
                </p-button>
                <p-button size="small" variant="outlined" (onClick)="activateCallback(3)">
                  Suivant
                  <i-lucide [name]="icons.next" class="size-4"/>
                </p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col gap-4">
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Description de l'entreprise<span class="text-red-500">*</span></p>
                <textarea pTextarea formControlName="description" rows="5" cols="30"></textarea>
              </div>
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Problème résolu<span class="text-red-500">*</span></p>
                <textarea pTextarea formControlName="problem_solved" rows="5" cols="30"></textarea>
              </div>
              <div class="flex flex-col gap-1.5">
                <p class="font-medium">Marché cible<span class="text-red-500">*</span></p>
                <textarea pTextarea formControlName="target_market" rows="5" cols="30"></textarea>
              </div>
              <div class="flex py-6 pb-40 justify-between">
                <p-button size="small" variant="outlined" severity="secondary" (onClick)="activateCallback(2)">
                  <i-lucide [name]="icons.previous" class="size-4"/>
                  Précedent
                </p-button>
                <p-button [loading]="updateVentureStore.isLoading()"
                          [disabled]="updateVentureStore.isLoading() || form.invalid" size="small" type="submit">
                  Finaliser
                  @if (!updateVentureStore.isLoading()) {
                    <i-lucide [name]="icons.check" class="size-4"/>
                  }
                </p-button>
              </div>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </form>
</section>
