<div class="flex min-w-0 flex-auto flex-col">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <!-- CONTENT GOES HERE -->
    <div class="h-400 max-h-400 min-h-400 rounded-2xl border-2 border-dashed border-gray-300">
      <h2 class="text-center text-3xl font-extrabold leading-tight tracking-tight md:text-5xl md:leading-none">
        La page est en cours de construction
      </h2>
      <p class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
        Nous travaillons dur pour vous offrir une meilleure expérience
      </p>
    </div>
  </div>
</div>
