<div class="flex flex-col gap-8">
  <div>
    <h2 class="text-xl font-semibold mb-2">Description</h2>
    <p class="mb-1.5">{{ program().description }}</p>
  </div>

  <div class="">
    <h2 class="text-xl font-semibold mb-2">Dates</h2>
    <p class="mb-1.5">Commence le, {{ program().started_at | date: 'longDate' }}</p>
    <p class="mb-1.5">Fini le, {{ program().ended_at | date: 'longDate' }}</p>
  </div>

  <div class="flex items-center gap-4">
    <h2 class="text-xl font-semibold">Public ciblé</h2>
    <p>{{ program().targeted_audience }}</p>
  </div>

  <div class="flex items-center gap-4">
    <h2 class="text-xl font-semibold">Catégories</h2>
    <p class="mb-1.5">{{ join(program().categories) }}</p>
  </div>

  <div class="flex items-center gap-4">
    <h2 class="text-xl font-semibold mb-2">Types</h2>
    <p class="mb-1.5">{{ join(program().types) }}</p>
  </div>

  <div class="">
    <h2 class="text-xl font-semibold mb-3">Partenaires</h2>
    <p class="mb-1.5">{{ join(program().partners) }}</p>
  </div>
  <div class="">
    <h2 class="text-xl font-semibold mb-3">Phases</h2>
    @for (phase of program().phases; track $index) {
      <div class="flex gap-1 mb-6">
        <p>&mdash;</p>
        <div class="flex flex-col gap-1.5">
          <p class="font-medium mb-2">{{ phase.name }}</p>
          <p class="mb-1">{{ phase.description }}</p>
          <p>Commence le {{ phase.started_at | date: 'longDate' }}</p>
          <p>Fini le {{ phase.ended_at | date: 'longDate' }}</p>
        </div>
      </div>
    }
  </div>
</div>
