@let projects = projects$ | async;
<section class="mb-20 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0" id="projects">
  @if (projects?.data) {
    <div class="mb-4">
      <a routerLink="/projects" class="group font-semibold text-xl md:text-4xl mb-2">
        Nos programmes
        <span class="text-secondary-600"> récents </span>
      </a>
      <p class="mb-8">Découvrez nos programmes et laissez-vous accompagner</p>
    </div>

    <div class="flex flex-col gap-5">
      <p-carousel
        #carousel
        [value]="projects.data"
        [numVisible]="3"
        [numScroll]="1"
        [showIndicators]="false"
        [showNavigators]="false"
        [circular]="true"
        [responsiveOptions]="carouselConfig">
        @for (project of projects.data; track project.id) {
          <ng-template let-product #item>
            <div class="mr-3.5" data-aos="fade-left">
              <app-project-card [project]="project" />
            </div>
          </ng-template>
        }
      </p-carousel>
      <div class="flex items-center gap-4 place-self-end">
        <button (click)="carousel.navBackward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowBackOutline" class="size-3.5!" />
        </button>
        <button (click)="carousel.navForward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowForwardOutline" class="size-3.5!" />
        </button>
      </div>
    </div>
  }

  @if (projects.isLoading) {
    <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
      @for (program of [1, 2, 3]; track $index) {
        <app-project-card-skeleton />
      }
    </div>
  }
</section>
