@let result = projects$ | async;
@if (result?.data?.length && isBrowser()) {
  <section class="mb-20 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0" id="projects" *transloco="let t">
    <a routerLink="/projects" class="group font-semibold text-xl md:text-4xl mb-2">
      {{ t('Nos programmes') }}
      <span class="text-secondary-600">
        {{ t('récents') }}
      </span>
      <mat-icon
        svgIcon="mat_outline:arrow_right_alt"
        class="text-secondary-600 group-hover:-rotate-45 transition-transform duration-200" />
    </a>

    <p class="mb-8">
      {{ t('Découvrez nos programmes et laissez-vous accompagner') }}
    </p>

    <div class="relative mb-16">
      <owl-carousel-o #recentProjects [options]="owlOptions">
        @for (project of result?.data; track project.id) {
          <ng-template carouselSlide>
            <app-project-card [project]="project" />
          </ng-template>
        }
      </owl-carousel-o>

      <button (click)="recentProjects.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
        <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left"></mat-icon>
      </button>
      <button (click)="recentProjects.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
        <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right"></mat-icon>
      </button>
    </div>

    @if (result.isLoading) {
      <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
        @for (program of [1, 2, 3]; track $index) {
          <app-project-card-skeleton />
        }
      </div>
    }
  </section>
}
