@let result = programs$ | async;
@if (result?.data?.length) {
  <section class="mb-20 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
    <h2 class="font-semibold text-xl md:text-4xl mb-2">
      Nos programmes
      <span class="text-secondary-600">récents</span>
    </h2>

    <p class="mb-8">
      Découvrez nos programmes et laissez-vous accompagner
      <a
        routerLink="/programs"
        class="underline inline-flex items-center text-end gap-0.5 text-primary-800 transition-colors duration-300 group">
        voir plus
        <mat-icon
          svgIcon="mat_outline:chevron_right"
          class="icon-size-3 group-hover:translate-x-0.5 transition-transform duration-300" />
      </a>
    </p>

    <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
      @for (program of result?.data; track program.id) {
        <app-program-card [program]="program" />
      }
    </div>

    @if (result.isLoading) {
      <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
        @for (program of [1, 2, 3]; track $index) {
          <app-program-card-skeleton />
        }
      </div>
    }
  </section>
}
