<section *ngIf="program$ | async as result">
  @if (result.data; as program) {
    <div class="relative min-h-[75vh] py-30 w-full">
      <img [ngSrc]="getImage(program)" [alt]="program.name" class="object-cover" fill />
      <div
        class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-950/70 gap-6 text-2xl md:text-4xl px-8 md:px-32 text-white">
        <div class="relative z-10 flex flex-col items-start py-16">
          <div class="mt-1 text-center text-xl font-extrabold leading-tight tracking-tight md:text-3xl lg:text-5xl">
            {{ program.name }}
          </div>
          <div class="text-gray-300 mt-6 text-lg max-w-2xl tracking-tight md:text-xl">
            {{ program.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="px-6 pt-6 max-w-screen-md mx-auto" *ngIf="program$ | async as result">
      <button class="text-primary-500 hover:underline flex items-center gap-1.5 mb-4" (click)="back()">
        <mat-icon class="text-primary-500" [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
        <span class="inline-block">Revenir aux programmes</span>
      </button>

      <div class="flex flex-col gap-10">
        <div>
          <h2 class="text-2xl font-semibold mb-3">Date butoire</h2>
          <p class="flex items-center gap-2">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:clock'" />
            Le {{ program.ended_at | date: 'longDate' }}
          </p>
        </div>

        <div>
          <h2 class="text-2xl font-semibold mb-3">Catégories</h2>
          <div class="flex items-center gap-2">
            @for (type of program.types; track $index) {
              <span class="rounded-full px-3 py-0.5 font-semibold bg-primary-50 text-primary-800">
                {{ type.name }}
              </span>
            }
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-semibold mb-3">Prérequis</h2>
          @for (requirement of program.requirements; track $index) {
            <div class="flex flex-col gap-1.5 mb-8">
              <h3 class="text-gray-800 text-lg">
                {{ requirement.name }}
              </h3>
              <p class="">
                {{ requirement.description }}
              </p>
            </div>
          }
        </div>
      </div>
    </div>
  }
  @if (result.isError) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center">
      <h2 class="text-3xl font-semibold">Aucune solution avec cet identifiant !</h2>
    </div>
  }
</section>
