<div class="flex flex-col gap-8 xl:text-lg">
  <div>
    <div class="flex items-center gap-1 text-lg mb-2">
      <mat-icon svgIcon="description" class="icon-size-4" />
      <h2 class="font-semibold">Description</h2>
    </div>
    <p class="mb-1.5 lowercase first-letter:uppercase">{{ program().description }}</p>
  </div>

  <div>
    <div class="flex items-center gap-1 text-lg mb-2">
      <mat-icon svgIcon="event" class="icon-size-4" />
      <h2 class="font-semibold">Dates</h2>
    </div>
    <p class="mb-1.5">Commence le, {{ program().started_at | date: 'longDate' }}</p>
    <p class="mb-1.5">Fini le, {{ program().ended_at | date: 'longDate' }}</p>
  </div>

  @if (program().partners?.length) {
    <div>
      <div class="flex items-center gap-1 text-xl mb-2">
        <mat-icon svgIcon="group" class="icon-size-4" />
        <h2 class="font-semibold">Partenaires</h2>
      </div>

      <p class="mb-1.5">{{ join(program().partners) }}</p>
    </div>
  }

  @if (program().phases?.length) {
    <div>
      <div class="flex items-center gap-1 text-xl mb-2">
        <mat-icon svgIcon="timeline" class="icon-size-4" />
        <h2 class="font-semibold">Phases</h2>
      </div>

      @for (phase of program().phases; track $index) {
        <div class="flex gap-1 mb-6">
          <p>&mdash;</p>
          <div class="flex flex-col gap-1.5">
            <p class="font-bold mb-2 text-lg">{{ phase.name }}</p>
            <div class="flex flex-col gap-1.5 mb-4">
              <h2 class="font-medium underline">Description</h2>
              <p class="lowercase first-letter:uppercase">{{ phase.description }}</p>
            </div>

            @if (phase.requirements?.length) {
              <div class="flex flex-col gap-1.5">
                <h2 class="font-medium underline">Prérecquis</h2>
                @for (req of phase.requirements; track $index) {
                  <div class="flex flex-col gap-2.5 mb-6">
                    <p class="font-medium">{{ req.name }}</p>
                    <p class="mb-2 lowercase first-letter:uppercase">{{ req.description }}</p>
                  </div>
                }
              </div>
            }

            <p>Commence le {{ phase.started_at | date: 'longDate' }}</p>
            <p>Fini le {{ phase.ended_at | date: 'longDate' }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>
