<section class="bg-grid">
  <div
    class="max-w-screen-xl space-y-4 mx-auto lg:space-y-7 py-10 font-satoshi text-gray-800"
  >
    <h3 class="font-black sm:text-3xl text-center lg:text-5xl lg:py-4">
      Pourquoi faire un don à <span class="text-primary-400"> Cinolu ?</span>
    </h3>
    <div class="px-3 md:px-10 lg:space-y-4">
      <p class="text-xl md:text-xl font-black leading-snug text-primary-800">
        Chaque jour, le Centre d’Innovation de Lubumbashi (Cinolu) accompagne
        des jeunes, des femmes et des innovateurs dans la création de projets à
        impact. Grâce à votre soutien, nous pouvons :
      </p>

      <div class="grid grid-cols-1">
        @for (item of OptionItems; track $index) {
          <div
            class="p-5 flex items-center flex-row-reverse justify-between bg-white/50 backdrop-blur-[2px] lg:px-15 border border-gray-200 rounded-full gap-2 transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg mt-7"
          >
            <i-lucide
              [name]="item.icon"
              class="text-primary-500 size-7"
            ></i-lucide>
            <h5 class="text-lg font-semibold text-gray-900">
              {{ item.title }}
            </h5>
          </div>
        }
      </div>

      <div
        class="bg-primary-500/50 backdrop-blur-[2px] p-5 flex items-center flex-row-reverse justify-between lg:px-15 border border-gray-200 rounded-2xl hover:shadow-sm transition duration-300 mt-4"
      >
        <i-lucide
          [name]="icons.circleChevronRight"
          class="text-white size-7"
        ></i-lucide>
        <h5 class="text-2xl font-semibold text-white">
          Un petit geste peut générer un grand impact
        </h5>
      </div>
    </div>

    <div>
      <div class="text-center max-w-[700px] mx-auto flex flex-col items-center">
        <h2
          class="text-2xl sm:text-3xl font-black leading-snug text-primary-800"
        >
          Choisissez un montant pour soutenir nos actions
        </h2>

        <p class="mt-4 text-base sm:text-lg max-w-xl text-gray-600">
          Votre contribution aide à financer des projets d’innovation et
          d’entrepreneuriat en RDC.
        </p>
      </div>
      <div
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-10 px-4 sm:px-0"
      >
        @for (item of mountItems; track $index) {
          <div
            [ngClass]="'hover:bg-' + item.color"
            class="bg-white border border-gray-200 rounded-xl shadow-sm hover:shadow-md transition duration-300 flex flex-col justify-between"
          >
            <div>
              <img
                class="rounded-t-xl w-full h-28 sm:h-32 md:h-36 object-contain p-4"
                [src]="item.icon"
                [alt]="item.title"
              />
              <div class="px-4 sm:px-5 pb-4">
                <h5
                  class="text-lg font-semibold text-primary-900 mt-2 mb-1 text-center sm:text-left"
                >
                  {{ item.title }}
                </h5>

                <p
                  class="text-xl sm:text-2xl lg:text-3xl font-black text-green-700 text-center sm:text-left"
                >
                  @if (item.mount !== undefined) {
                    {{ item.mount | currency: "USD" : "symbol" }}
                  } @else {
                    <form>
                      <input
                        type="number"
                        placeholder="Taper montant"
                        class="border border-green-500 w-full text-gray-600 font-light px-3 py-2 text-base rounded-md"
                      />
                    </form>
                  }
                </p>

                <p
                  class="text-base text-gray-600 mt-2 text-center sm:text-left"
                >
                  {{ item.description }}
                </p>
              </div>
            </div>

            <div class="px-4 pb-4">
              <button
                class="w-full max-w-[170px] mx-auto flex items-center justify-between bg-primary-500 text-white px-4 py-2 rounded-full group hover:bg-primary-600 transition"
              >
                <span class="text-sm font-medium uppercase"
                  >Je fais un don</span
                >
                <span
                  class="flex items-center justify-center w-6 h-6 bg-white/10 rounded-full group-hover:bg-white/20 transition"
                >
                  <i-lucide
                    [name]="icons.arrowUpRight"
                    class="text-white size-5"
                  ></i-lucide>
                </span>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
