<section class="bg-grid">
  <div class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto pt-20 pb-15 md:pb-10">
    <div class="mb-16 text-center px-4">
      <h3
        class="text-3xl sm:text-4xl lg:text-5xl font-black text-gray-800 font-satoshi mb-3 tracking-tight leading-tight">
        Écosystème & Partenaires
      </h3>
    </div>

    <div class="card">
      <p-carousel
        [value]="partners"
        [numVisible]="5"
        [circular]="true"
        [autoplayInterval]="2000"
        [showIndicators]="false"
        [showNavigators]="true"
        [responsiveOptions]="responsiveOptions"
        touchMoveThreshold="0"
        class="w-full partners-carousel">
        <ng-template let-partners #item>
          <div
            class="border border-gray-900/10 dark:border-surface-700 rounded m-2 p-4 bg-white/70 backdrop-blur-[2px]">
            <div class="mb-4">
              <div class="relative mx-auto space-y-2">
                <div class="w-full h-20 m-2 flex items-center justify-center rounded-lg">
                  <img
                    [ngSrc]="partners.image"
                    [alt]="'Logo de ' + partners.name"
                    [title]="partners.name"
                    width="100"
                    height="100"
                    class="max-h-full object-contain w-full rounded-border" />
                </div>

                <p-tag
                  [value]="partners.category"
                  class="dark:!bg-surface-900 line-clamp-1"
                  [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
              </div>
            </div>
            <div class="mb-4 font-medium hyphens-none line-clamp-1">{{ partners.name }}</div>
          </div>
        </ng-template>
      </p-carousel>

      <div class="w-full flex justify-center items-center mt-4 lg:mt-10">
        <a routerLink="/partners" class="w-fit">
          <p-button psize="large" rounded="full" outlined severity="primary">
            <span class="group flex items-center gap-2 px-8">
              Tous nos partenaires
              <i-lucide
                class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
                [name]="icons.moveUp" />
            </span>
          </p-button>
        </a>
      </div>
    </div>

    <h4 class="text-gray-600 text-2xl sm:text-3xl lg:text-4xl font-satoshi font-bold tracking-tight leading-snug my-10">
      Ensemble, on va plus loin !
    </h4>
  </div>

  <div class="relative h-96 bg-grid flex flex-col items-center justify-center bg-grid overflow-hidden">
    <div class="absolute inset-0 bg-gradient-to-br from-primary-400 via-primary-500 to-primary-600 opacity-95"></div>

    <div class="absolute inset-0 bg-[radial-gradient(circle_at_50%_50%,rgba(255,255,255,0.1),transparent_50%)]"></div>

    <div class="absolute top-10 left-10 w-32 h-32 bg-white/5 rounded-full blur-2xl animate-pulse"></div>
    <div
      class="absolute bottom-10 right-10 w-40 h-40 bg-white/5 rounded-full blur-3xl animate-pulse [animation-delay:1s]"></div>

    <div class="relative z-10 flex flex-col items-center justify-center px-4 fade-right-init" appAnimationsOnScroll>
      <p
        class="max-w-3xl text-center text-3xl md:text-4xl lg:text-5xl font-black text-white font-satoshi mb-6 md:mb-8 tracking-tight leading-tight hyphens-none drop-shadow-sm">
        Ce réseau est notre moteur de croissance collective, et une porte d'entrée vers des projets plus grands.
      </p>

      <button
        [routerLink]="'/sign-up'"
        type="button"
        class="group relative flex items-center justify-center gap-3 px-8 py-4 border-2 border-white/20 bg-white text-primary-700 hover:bg-primary-50 font-semibold text-lg transition-all duration-300 transform hover:-translate-y-1 hover:shadow-2xl hover:shadow-white/20 rounded-full">
        <span class="relative z-10">Devenir Partenaire</span>
        <i-lucide
          [name]="icons.userPlus"
          class="relative z-10 size-5 group-hover:translate-x-1 transition-all duration-300">
        </i-lucide>

        <div
          class="absolute inset-0 rounded-full bg-gradient-to-r from-transparent via-white/20 to-transparent -translate-x-full group-hover:translate-x-full transition-transform duration-700"></div>
      </button>
    </div>
  </div>
</section>
