@let events = events$ | async;
@if (events?.data?.length) {
  <section class="pt-20 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0" id="projects">
    <div class="flex justify-between items-center mb-6" data-aos="fade-up">
      <div>
        <h2 class="font-black font-satoshi mb-2 text-2xl">Les événements récents</h2>
        <a routerLink="/events" class="inline-flex group items-center gap-0.5 text-primary-500 hover:underline">
          Liste des événements
          <i-lucide
            [name]="icons.moveUpRight"
            class="h-4 w-4 duration-300 group-hover:-translate-y-1 group-hover:translate-x-1" />
        </a>
      </div>
      <div class="flex items-center gap-4 place-self-end">
        <button (click)="carousel.navBackward($event)" class="carousel-nav-btn">
          <i-lucide [name]="icons.moveLeft" class="size-3.5" />
        </button>
        <button (click)="carousel.navForward($event)" class="carousel-nav-btn">
          <i-lucide [name]="icons.moveRight" class="size-3.5" />
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <p-carousel
        #carousel
        [value]="events?.data ?? []"
        [numVisible]="3"
        [numScroll]="1"
        [showIndicators]="false"
        [showNavigators]="false"
        [circular]="true"
        [responsiveOptions]="carouselOptions">
        <ng-template let-event #item>
          <div class="mr-3.5" data-aos="fade-left">
            <app-event-card [event]="event" />
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </section>
}
