@let result = events$ | async;
@if (result?.data?.length && isBrowser()) {
  <section class="mb-20 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0" id="events" *transloco="let t">
    <h2 class="font-semibold text-xl md:text-4xl mb-2">
      {{ t('Nos récents') }}
      <span class="text-secondary-600">
        {{ t('événements') }}
      </span>
    </h2>

    <p class="mb-8">
      {{ t('Restez informé sur différents événements et partipez') }}
      <a
        routerLink="/events"
        class="underline inline-flex items-center text-end gap-0.5 text-primary-800 transition-colors duration-300 group">
        {{ t('Voir plus') }}
        <mat-icon
          svgIcon="mat_outline:chevron_right"
          class="icon-size-3 group-hover:translate-x-0.5 transition-transform duration-300" />
      </a>
    </p>

    <div class="relative mb-16">
      <owl-carousel-o #recentEvents [options]="owlOptions">
        @for (event of result?.data; track event.id) {
          <ng-template carouselSlide>
            <app-event-card [event]="event" />
          </ng-template>
        }
      </owl-carousel-o>

      <button (click)="recentEvents.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
        <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left"></mat-icon>
      </button>
      <button (click)="recentEvents.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
        <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right"></mat-icon>
      </button>
    </div>

    @if (result.isLoading) {
      <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
        @for (i of [1, 2, 3]; track i) {
          <app-event-card-skeleton />
        }
      </div>
    }
  </section>
}
