<section
  class="py-16 pt-32 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto sm:px-8 bg-gradient-to-br from-gray-50 to-white min-h-screen">
  <div class="text-center mb-10 lg:mb-16">
    <h2 class="text-4xl sm:text-5xl font-extrabold font-satoshi tracking-tight text-gray-900 mb-3">
      {{ 'projects.list.title' | translate }}
    </h2>
    <p class="text-lg text-primary-500 font-medium mb-2">{{ 'projects.list.subtitle' | translate }}</p>
    <div class="w-16 h-1 mx-auto bg-gradient-to-r from-primary-400 to-primary-600 rounded-full mb-4"></div>
  </div>

  <div class="relative h-60 md:h-96 w-full bg-gray-200 pb-8 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto">
    <img
      ngSrc="/images/projects.jpg"
      alt="projects"
      class="aspect-video object-cover h-full opacity-90"
      fill
      priority />
  </div>
  <div class="flex flex-col">
    @if (categoriesStore.categories().length > 0) {
    <div class="pb-2 pt-10 flex flex-wrap gap-4 md:w-1/4">
      <p-multiselect
        [inputId]="'categoriesFilter'"
        [autocomplete]="'off'"
        [showHeader]="false"
        (onChange)="onFilterChange($event, 'categories')"
        (onClear)="onClear()"
        [options]="categoriesStore.categories()"
        [optionValue]="'id'"
        [optionLabel]="'name'"
        [showClear]="true"
        placeholder="{{ 'projects.list.choose_category' | translate }}"
        class="w-full md:w-64">
      </p-multiselect>
    </div>
    } @if (store.projects()[1] > 0 && !store.isLoading()) {
    <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 pb-10">
      @for ( project of store.projects()[0] | paginate : { itemsPerPage: 9, currentPage: queryParams().page ?? 1,
      totalItems: store.projects()[1], }; track project.id ) {
      <app-project-card [project]="project" [buttonTextKey]="'recent_projects.explore'" />
      }
    </div>
    @if (store.projects()[1] > 9) {
    <div class="flex justify-center mb-8">
      <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
    </div>
    } } @if (!store.isLoading() && store.projects()[1] === 0) {
    <div
      class="flex flex-col justify-center text-gray-500 items-center gap-6 my-10 lg:my-16 w-full bg-gray-100 min-h-60 lg:h-80 rounded-lg p-8 shadow-sm">
      <i-lucide [name]="icons.circlePlus" class="lg:h-10 lg:w-10" />
      <h2 class="text-2xl font-semibold">{{ 'projects.list.no_project' | translate }}</h2>
    </div>
    } @if (categoriesStore.isLoading()) {
    <div class="pb-2 pt-10">
      <div class="w-full md:w-64 bg-gray-200 rounded-lg h-10 animate-pulse"></div>
    </div>
    } @if (store.isLoading()) {
    <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 pb-10">
      @for (project of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track project) {
      <app-project-card-skeleton />
      }
    </div>
    }
  </div>
</section>
