<section class="-mt-20 md:-mt-8">
  <div class="relative py-90 md:py-100 flex flex-col">
    <img ngSrc="/images/team/all.jpg" class="absolute object-cover top-0 bottom-0 left-0 right-0 z-10" fill priority />
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-black bg-opacity-80 gap-6 text-2xl md:text-4xl z-20 px-8 md:px-32 text-white">
      <div class="max-w-screen-md flex flex-col items-start justify-center fade-in md:-mt-16">
        <h1 class="font-bold text-2xl font-satoshi md:text-4xl fade-in-1">
          Co-créons votre projet,
          <span class="text-green-600 block text-4xl md:text-6xl">innovons ensemble!</span>
        </h1>
        <p class="font-light text-lg mb-8 mt-10 md:text-xl max-w-screen-sm">
          Nous vous accompagnons avec les compétences, les ressources et le réseau qu'il vous faut pour vous lancer et
          croitre
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-base text-cente">
          <a
            routerLink="/programs"
            class="border border-white rounded-md px-6 py-2 text-white hover:bg-white hover:text-green-700 transition-colors duration-300">
            Nos programmes
          </a>
          <a
            href="/auth/register"
            class="bg-green-700 rounded-md px-6 py-2 text-white hover:bg-green-900 transition-colors duration-300">
            Rejoignez-nous
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="-mt-20 px-8 md:px-32 z-30 relative grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-4">
    @for (purpose of purposes; track $index) {
      <div
        class="p-8 bg-white rounded-lg shadow-lg hover:shadow-xl hover:-translate-y-3 transition-transform duration-300">
        <span class="inline-block bg-green-900/90 text-center px-2.5 pt-2 pb-1.5 text-lg mb-3 rounded-full">
          <mat-icon class="icon-size-5 fill-white" [svgIcon]="purpose.icon"></mat-icon>
        </span>
        <h1 class="font-satoshi font-bold text-xl mb-4">
          {{ purpose.title }}
        </h1>
        <p class="">
          {{ purpose.description }}
        </p>
      </div>
    }
  </div>
</section>
