<div class="p-3 flex flex-col gap-3 bg-white border border-gray-100 rounded-md">
  <div class="relative">
    <div class="relative h-40 w-full bg-gray-200 overflow-hidden rounded-md">
      <img
        ngSrc="{{ company.products[0].image }}"
        class="relative w-full h-full object-cover"
        [alt]="company.name"
        fill />
    </div>
    <div class="absolute h-10 w-10 inset-0 mt-2 ml-2 rounded-full bg-gray-200 overflow-hidden">
      <img
        ngSrc="{{ company.products[0].logo }}"
        class="relative w-full h-full object-cover font-satoshi"
        [alt]="company.name"
        fill />
    </div>

    <div
      class="absolute h-14 w-14 bottom-0 left-1/2 translate-x-[-50%] translate-y-1/2 rounded-full bg-gray-200 overflow-hidden p-6 border border-gray-500">
      <img
        ngSrc="{{ company.photo }}"
        class="relative w-full h-full object-cover font-satoshi"
        [alt]="company.name"
        fill />
    </div>
  </div>

  <div class="mt-4">
    <h3 class="text-lg font-semibold text-gray-800 text-center">{{ company.name }}</h3>
    <p class="text-gray-500 text-sm hyphens-none text-center">{{ company.products[0].description }}</p>
  </div>
  <p-button
    [routerLink]="['/entrepreneurs', company.id]"
    size="small"
    outlined
    severity="primary"
    label="Savoir plus"></p-button>
</div>
