<div class="lg:hidden">
  @let user = authStore.user();
  <button (click)="toggleNav()">
    <i-lucide [name]="isOpen() ? icons.close : icons.menu" class="size-6" />
  </button>
  <div
    class="fixed top-16 left-0 right-8 bottom-0 -translate-x-[100vw] bg-white transition-transform duration-300"
    [ngClass]="isOpen() ? 'translate-x-0 active-nav' : ''"
  >
    <div
      class="inline-flex flex-col justify-between py-10 px-8 h-full text-gray-900"
    >
      <div class="inline-flex flex-col gap-2 font-medium menu">
        @for (link of links(); track $index) {
          <a
            [routerLink]="link.path"
            class="group inline-flex items-center gap-2 px-4 py-2 font-medium rounded-md hover:bg-gray-200 transition-colors duration-200"
            [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
            [routerLinkActive]="'bg-gray-200 text-gray-800'"
            (click)="toggleNav()"
          >
            <i-lucide [name]="link.icon" class="size-4 text-inherit" />
            {{ link.name }}
          </a>
        }
      </div>
      @if (user) {
        <div class="flex flex-col gap-8 text-gray-900">
          <a [routerLink]="'/dashboard'" class="flex items-center gap-2.5">
            <img
              [ngSrc]="user | apiIMG: 'user'"
              alt="Profile picture"
              width="32"
              height="32"
              class="rounded-full aspect-video object-cover w-8 h-8 ring-2 ring-primary-800 ring-offset-1"
            />
            <p class="font-semibold">{{ user?.name }}</p>
          </a>
          <button
            class="flex items-center text-white justify-center text-center px-6 py-2 bg-red-800 rounded-sm hover:bg-red-900 disabled:bg-red-800/30 transition-colors duration-300 gap-1.5 font-medium"
            (click)="onSignOut()"
          >
            Se déconnecter
          </button>
        </div>
      }
      @if (!user) {
        <a
          routerLink="/sign-in"
          class="flex items-center justify-center text-white px-6 py-2 bg-primary-600 rounded-sm hover:bg-primary-700 transition-colors duration-300 gap-1.5 font-medium"
        >
          Se connecter
        </a>
      }
    </div>
  </div>
</div>
