<div class="lg:hidden">
  <button (click)="toggleNav()">
    <i-lucide [name]="isOpen() ? icons.close : icons.menu" class="size-6" />
  </button>
  <div
    class="fixed top-16 left-0 bottom-0 w-full bg-white transition-transform duration-300 border-t border-gray-300"
    [ngClass]="isOpen() ? 'translate-x-0' : 'translate-x-full'">
    <div class="inline-flex flex-col justify-between py-10 px-8 h-full text-gray-900 w-full">
      <div class="flex flex-col items-start gap-4 w-full">
        @for (link of links(); track $index; let i = $index) {
        <div class="w-full">
          @if (link.children?.length) {
          <button
            class="flex justify-between items-center w-full px-4 py-2 text-lg font-medium text-gray-800 border-b border-gray-200"
            (click)="toggleLink(i)">
            {{ link.name }}
            <i-lucide
              class="size-5 transition-transform duration-300"
              [ngClass]="{ 'rotate-90': link.open }"
              [name]="icons.chevronRight" />
          </button>

          <div
            class="flex flex-col bg-gray-50 transition-all duration-300 overflow-hidden"
            [style.maxHeight]="link.open ? (link.children?.length ?? 0) * 48 + 'px' : '0px'">
            @for (sublink of link.children; track $index) {
            <a
              routerLinkActive="bg-primary-100 text-primary-600"
              [routerLink]="sublink.path"
              [routerLinkActiveOptions]="{
                      exact: sublink.exactUrl || false,
                    }"
              class="flex gap-2 items-center text-lg px-6 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 transition-colors duration-200">
              <i-lucide [name]="icons.plus" class="size-3 text-inherit stroke-1" />
              {{ sublink.name }}
            </a>
            }
          </div>
          } @else {
          <a
            [routerLink]="link.path"
            routerLinkActive="text-primary-600"
            [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
            class="flex gap-2 text-lg w-full px-4 py-2 font-medium text-gray-800 border-b border-gray-200 hover:text-primary-500">
            {{ link.name }}
          </a>
          }
        </div>
        }

        <div class="w-full">
          <button
            class="flex justify-between items-center w-full px-4 py-2 text-lg font-medium text-gray-800 border-b border-gray-200"
            (click)="togglePrograms()">
            Programmes
            <i-lucide
              class="size-5 transition-transform duration-300"
              [ngClass]="{ 'rotate-90': programsOpen() }"
              [name]="icons.chevronRight" />
          </button>

          <div
            class="flex flex-col bg-gray-50 transition-all duration-300 overflow-hidden"
            [style.maxHeight]="programsOpen() ? programsStore.programs().length * 64 + 'px' : '0px'">
            @for (p of programsStore.programs(); track $index) {
            <a
              routerLinkActive="bg-primary-100 text-primary-500"
              [routerLink]="['/our-programs/' + p.slug]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block px-6 py-3 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 transition-colors duration-200">
              {{ p.name }}
              <span class="block text-sm font-normal text-gray-500"> {{ p?.category?.name }} </span>
            </a>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
