@if (isBrowser()) {
  <section class="px-8 md:px-32 xl:px-48 mb-28" id="team">
    @let team = team$ | async;
    @if (team[0].data; as staff) {
      <h1 class="font-satoshi font-bold text-2xl md:text-5xl mb-4">
        Notre
        <span class="text-primary-600">équipe</span>
      </h1>
      <div class="relative mb-8">
        <owl-carousel-o #staffCarousel [options]="owlOptions">
          @for (coach of staff; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>

        <button (click)="staffCarousel.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left"></mat-icon>
        </button>
        <button (click)="staffCarousel.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right"></mat-icon>
        </button>
      </div>
    }

    @if (team[1].data; as coachs) {
      <h1 class="font-satoshi font-bold text-2xl md:text-3xl mb-4">
        Notre réseau des
        <span class="text-primary-600">coachs et mentors</span>
      </h1>
      <div class="relative">
        <owl-carousel-o #coachCarousel [options]="owlOptions">
          @for (coach of coachs; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>

        <button (click)="coachCarousel.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left" />
        </button>
        <button (click)="coachCarousel.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right" />
        </button>
      </div>
    }
  </section>
}
