<section class="mb-20 mt-14">
  <div class="relative py-52 md:py-64 w-full flex flex-col bg-[url('/images/about.jpg')] bg-cover bg-no-repeat">
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/40 to-primary-900/50 gap-6 text-white">
      <div class="flex flex-col items-start justify-center px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
        <h1 class="font-extrabold block text-3xl md:text-6xl">A propos de nous</h1>
        <p class="mb-8 mt-10 md:text-xl leading-relaxed w-full md:w-3/4">
          Découvrez notre histoire, notre mission et rencontrez notre équipe dévouée. Nous sommes passionnés par ce que
          nous faisons et nous nous engageons à fournir le meilleur service possible.
        </p>
      </div>
    </div>
  </div>
</section>
