<section class="pt-32 pb-16 w-full md:w-2/3 flex flex-col gap-4">
  <button class="mb-4 text-primary-400 hover:underline flex items-center gap-2" (click)="back()">
    <i-lucide [name]="icons.back" class="size-4" />
    Revenir en arrière
  </button>
  <h1 class="text-2xl font-semibold">Ajouter une entreprise</h1>
  <p class="text-gray-600">Remplissez le formulaire ci-dessous pour ajouter une nouvelle entreprise à votre profil.</p>
  <form class="mt-6 flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onAddEnterprise()">
    <div class="flex flex-col gap-1.5">
      <label for="name" class="font-medium">Nom de l'entreprise <span class="text-red-500">*</span></label>
      <input pInputText type="text" id="name" name="name" formControlName="name" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <p class="font-medium">Description de l'entreprise <span class="text-red-500">*</span></p>
      <textarea
        pTextarea
        id="description"
        name="description"
        formControlName="description"
        rows="5"
        cols="30"
        placeholder="Description de l'entreprise"></textarea>
    </div>
    <div class="flex flex-col gap-1.5">
      <p class="font-medium">
        Problème résolu
        <span class="text-red-500">*</span>
      </p>
      <textarea
        pTextarea
        id="problem_solved"
        name="problem_solved"
        formControlName="problem_solved"
        rows="5"
        cols="30"
        placeholder="Problème résolu par l'entreprise"></textarea>
    </div>
    <div class="flex flex-col gap-1.5">
      <p class="font-medium">
        Marché cible
        <span class="text-red-500">*</span>
      </p>
      <textarea
        pTextarea
        id="target_market"
        name="target_market"
        formControlName="target_market"
        rows="5"
        cols="30"
        placeholder="Marché cible de l'entreprise"></textarea>
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="email" class="font-medium">Adresse e-mail</label>
      <input pInputText type="email" id="email" name="email" formControlName="email" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="phone_number" class="font-medium">Numéro de téléphone</label>
      <input
        pInputText
        type="tel"
        id="phone_number"
        name="phone_number"
        formControlName="phone_number"
        autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="website" class="font-medium">Site web</label>
      <input pInputText type="url" id="website" name="website" formControlName="website" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="linkedin_url" class="font-medium">URL LinkedIn</label>
      <input
        pInputText
        type="url"
        id="linkedin_url"
        name="linkedin_url"
        formControlName="linkedin_url"
        autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <p class="font-medium">Secteur</p>
      <p-select
        inputId="sector"
        [options]="sectors"
        formControlName="sector"
        placeholder="Choisissez un secteur"
        class="w-full" />
    </div>
    <div class="flex flex-col gap-1.5">
      <p for="founded_at" class="font-medium">Date de création</p>
      <p-datepicker
        class="w-full!"
        id="founded_at"
        name="founded_at"
        formControlName="founded_at"
        autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="location" class="font-medium">Emplacement(Pays - Ville)</label>
      <input pInputText type="text" id="location" name="location" formControlName="location" autocomplete="none" />
    </div>
    <div class="flex flex-col gap-1.5">
      <p class="font-medium">Étape</p>
      <p-select
        inputId="stage"
        [options]="stages"
        formControlName="stage"
        placeholder="Choisissez une étape"
        class="w-full" />
    </div>
    <p-button
      (click)="onAddEnterprise()"
      [loading]="store.isLoading()"
      [disabled]="store.isLoading() || form.invalid"
      class="mt-4 w-full md:w-2/3"
      type="submit">
      Ajouter l'entreprise
    </p-button>
  </form>
</section>
