<aside class="pt-32 min-h-[110vh] w-full">
  <div class="flex w-full flex-wrap gap-4 justify-between items-center mb-10">
    <h1 class="text-2xl font-bold">Mes entreprises</h1>
    <a class="flex items-center gap-1 font-normal! primary-link" [routerLink]="'/profile/enterprises/add'">
      <i-lucide [name]="icons.plus" class="size-5"></i-lucide>
      Ajouter
    </a>
  </div>
  @if (store.enterprises()[0]) {
    @for (
      enterprise of store.enterprises()[0]
        | paginate: { itemsPerPage: 10, currentPage: queryParams().page ?? 1, totalItems: store.enterprises()[1] };
      track enterprise.id
    ) {
      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="relative h-28 w-52 rounded bg-gray-200">
          <img
            [ngSrc]="enterprise | apiIMG: 'enterprise'"
            [alt]="enterprise.name"
            class="aspect-video object-cover rounded border-2 border-slate-200/10"
            fill />
        </div>
        <div class="flex flex-col gap-1.5 w-full md:w-3/4">
          <div class="flex items-center">
            <h3 class="font-bold font-satoshi text-lg">{{ enterprise.name }}</h3>
            <div class="flex items-center gap-1.5">
              <a
                class="ml-4 inline-block text-gray-500 hover:text-gray-700"
                [routerLink]="['/profile/enterprises/view', enterprise.slug]">
                <i-lucide [name]="icons.eye" class="size-5 text-inherit" />
              </a>
              <a
                class="text-gray-500 hover:text-gray-700"
                [routerLink]="['/profile/enterprises/update', enterprise.slug]">
                <i-lucide [name]="icons.edit" class="size-4 text-inheri" />
              </a>
              <button (click)="onDeleteEnterprise(enterprise.id, $event)">
                <p-confirmpopup />
                <i-lucide [name]="icons.trash" class="size-4 text-red-500 hover:text-red-700" />
              </button>
            </div>
          </div>
          <p class="text-base leading-normal line-clamp-3">
            {{ enterprise.description }}
          </p>
        </div>
      </div>
    }
    @if (store.enterprises()[1] > 10) {
      <div class="flex justify-center pb-8">
        <pagination-controls
          nextLabel=""
          previousLabel=""
          [maxSize]="5"
          (pageChange)="onPageChange($event)"
          class="pg" />
      </div>
    }
  }
  @if (store.enterprises()[1] <= 0 && !store.isLoading()) {
    <p class="text-gray-600">
      Aucune entreprise trouvée. Vous pouvez en ajouter une en cliquant sur le bouton "Ajouter".
    </p>
  }
  @if (store.isLoading()) {
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
      <div class="flex flex-col md:flex-row gap-4 mb-4">
        <div class="h-28 w-52 rounded bg-gray-200 animate-pulse mb-4"></div>
        <div class="md:col-span-2">
          <div class="animate-pulse h-4 w-full mb-4 md:w-56 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full mb-1 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full mb-1 rounded-md bg-gray-200"></div>
          <div class="animate-pulse h-2 w-full md:w-48 rounded-md bg-gray-200"></div>
        </div>
      </div>
    }
  }
</aside>
