<aside class="pt-32 min-h-[110vh]">
  <div class="flex w-full justify-between items-center mb-10">
    <h1 class="text-2xl font-bold">Mes entreprises</h1>
    <a class="flex items-center gap-1 font-normal! primary-link" [routerLink]="'/profile/enterprises/add'">
      <i-lucide [name]="icons.plus" class="size-5"></i-lucide>
      Ajouter
    </a>
  </div>

  @if (store.enterprises()[1] <= 0) {
    <p class="text-gray-600">
      Aucune entreprise trouvée. Vous pouvez en ajouter une en cliquant sur le bouton "Ajouter".
    </p>
  }
  @if (store.enterprises()[0]) {
    @for (
      enterprise of store.enterprises()[0]
        | paginate: { itemsPerPage: 10, currentPage: queryParams().page ?? 1, totalItems: store.enterprises()[1] };
      track enterprise.id
    ) {
      <div class="group relative grid gap-4 pb-1 sm:grid-cols-8 sm:gap-8 md:gap-4 mb-2.5">
        <div class="z-10 sm:order-2 sm:col-span-6">
          <h3 class="inline-flex items-baseline font-medium">
            {{ enterprise.name }}
            <!-- <i-lucide
                    [name]="icons.moveUpRight"
                    class="h-4 w-4 duration-300 group-hover:-translate-y-0.5 group-hover:translate-x-0.5 ml-1 translate-y-0.5" /> -->
          </h3>
          <p class="mt-2 text-base leading-normal line-clamp-3">
            {{ enterprise.description }}
          </p>
        </div>
        <img
          [alt]="enterprise.name"
          loading="lazy"
          width="200"
          height="48"
          decoding="async"
          data-nimg="1"
          class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1"
          [src]="enterprise | apiIMG: 'enterprise'" />
      </div>
    }
    <div class="flex justify-center pb-8">
      <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
    </div>
  }
</aside>
