<div
  class="bg-white rounded-md border border-gray-200 shadow-sm flex flex-col overflow-hidden hover:shadow-md transition"
>
  <div class="relative h-48 md:h-56 2xl:h-60 overflow-hidden">
    <img
      [ngSrc]="article() | apiIMG: 'article'"
      alt="Image de l'article {{ article().title }}"
      class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
      loading="lazy"
      fill
    />
  </div>

  <div class="p-5 flex flex-col gap-5">
    <div class="space-y-3">
      <h3
        class="text-gray-900 font-bold text-lg lg:text-xl leading-snug line-clamp-1"
      >
        {{ article().title }}
      </h3>
      <p
        class="text-gray-600 text-sm leading-relaxed line-clamp-3 sm:line-clamp-2 lg:line-clamp-3"
      >
        {{ article().summary }}
      </p>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex gap-2">
        @for (tag of article().tags; track tag.id; let i = $index) {
          @if (i < 2) {
            <span
              class="flex items-center bg-primary-50 text-xs font-medium text-primary-600 rounded-full py-1 px-2 border border-primary-100"
            >
              <span class="max-w-[12ch] truncate">
                {{ tag.name }}
              </span>
            </span>
          }
        }
      </div>

      <a [routerLink]="article().slug" class="w-fit">
        <p-button size="small" rounded="full" outlined severity="primary">
          <span class="group flex items-center gap-2 px-2">
            Voir plus
            <i-lucide
              class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
              [name]="icons.moveUp"
            />
          </span>
        </p-button>
      </a>
    </div>

    <div
      class="flex justify-between items-center text-gray-400 text-xs border-t border-gray-200 pt-3"
    >
      <button
        type="button"
        aria-label="Voir les commentaires"
        class="flex items-center gap-1 hover:text-primary-500 transition"
      >
        <i-lucide [name]="icons.comment" class="w-4 h-4"></i-lucide>
        <span>{{ commentCount(article().comments) }}</span>
      </button>

      <span class="flex items-center gap-1">
        <i-lucide [name]="icons.calendar" class="w-4 h-4"></i-lucide>
        {{ article().created_at | date: "longDate" }}
      </span>
    </div>
  </div>
</div>
