<div
  class="bg-white/20 shadow-sm rounded-md border backdrop-blur-[2px] border-slate-200 transition overflow-hidden flex flex-col-reverse gap-6 sm:flex-row h-full md:min-h-96"
>
  <div class="sm:w-2/5 w-full aspect-video sm:aspect-auto">
    <div class="relative w-full h-full overflow-hidden">
      <img
        [ngSrc]="event() | apiIMG: 'event'"
        alt="Image de l'activité {{ event().name }}"
        class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
        loading="lazy"
        fill
      />
    </div>
  </div>

  <div class="sm:w-3/5 w-full flex flex-col p-4 sm:p-6 gap-4 justify-between">
    <h3
      class="font-semibold text-xl sm:text-2xl text-gray-800 flex items-center gap-2"
    >
      <i-lucide [name]="icons.tag" class="size-4" />
      {{ event().name }}
    </h3>

    <p class="text-gray-600 text-sm sm:text-base">
      {{ event().description }}
    </p>

    <div class="flex justify-between gap-4 text-sm sm:text-base">
      <div class="flex items-center gap-2 text-gray-700">
        <i-lucide [name]="icons.calendar" class="size-4 sm:size-5" />
        <span>
          <strong>Début :</strong>
          {{ event().started_at | date: "dd/MM/yyyy" }}
        </span>
      </div>
      <div class="flex items-center gap-2 text-gray-700">
        <i-lucide [name]="icons.endedAt" class="size-4 sm:size-5" />
        <span>
          <strong>Fin :</strong>
          {{ event().ended_at | date: "dd/MM/yyyy" }}
        </span>
      </div>
    </div>

    <div
      class="flex flex-wrap gap-3 items-center justify-between text-sm sm:text-base"
    >
      <div class="font-medium capitalize">
        @switch (getStatut(event())) {
          @case ("En cours") {
            <span
              class="text-primary-500 bg-primary-500/10 rounded-md py-1 px-2"
            >
              En cours
            </span>
          }
          @case ("À venir") {
            <span class="text-blue-500 bg-blue-500/10 rounded-md py-1 px-2">
              À venir
            </span>
          }
          @default {
            <span class="text-red-500 bg-red-500/10 rounded-md py-1 px-2">
              {{ getStatut(event()) }}
            </span>
          }
        }
      </div>

      <div class="flex items-center justify-between gap-2 text-gray-700">
        <i-lucide [name]="icons.place" class="size-4 sm:size-5" />
        <div>
          @if (event().place) {
            <span><strong>Lieu :</strong> {{ event().place }}</span>
          } @else {
            <span class="text-priùary-500 bg-green-500/10 rounded-md py-1 px-2"
              >En ligne</span
            >
          }
        </div>
      </div>
    </div>

    <button
      type="button"
      class="group max-w-64 text-sm sm:text-base font-medium relative z-10 flex items-center text-primary-500 border border-primary-500 rounded-full justify-center gap-2 py-2 px-6 hover:-translate-y-1 hover:shadow-lg hover:bg-primary-500 hover:text-white transition duration-300"
    >
      Postuler
      <i-lucide
        [name]="icons.arrow"
        class="group-hover:translate-x-1 transition-all duration-300"
      />
    </button>
  </div>
</div>
