<app-hero-blog />
<section id="about" class="py-12 sm:py-16 md:py-20">
  <div
    class="px-4 sm:px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto"
  >
    <h2
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-black text-gray-800 font-satoshi mb-6 tracking-tight leading-tight lg:my-7"
    >
      Nos <span class="text-primary-500">Blogs</span>
    </h2>

    <div class="flex flex-col lg:flex-row gap-6">
      <a
        href="{{ latestPost.path }}"
        class="w-full lg:w-2/3 p-4 rounded-lg max-h-[32rem] cursor-pointer flex flex-col border-1 shadow-md hover:shadow-lg transition-all duration-300 bg-white"
      >
        <div class="flex-shrink-0 overflow-hidden rounded-md">
          <img
            src="{{ latestPost.image }}"
            alt="Image de l'article {{ latestPost.title }}"
            width="600"
            height="400"
            class="object-cover w-full h-64 sm:h-80 md:h-96 rounded-md"
            loading="lazy"
          />
        </div>

        <div class="mt-4 flex justify-between items-center">
          <h3 class="text-xl font-bold text-gray-800">
            {{ latestPost.title }}
          </h3>
          <button
            type="button"
            class="px-6 py-2 bg-primary-500 text-white rounded-full hover:bg-primary-600 transition"
          >
            Voir Plus
          </button>
        </div>
      </a>

      <section class="w-full lg:w-1/3 p-4 bg-gray-50 rounded-lg shadow-inner">
        <h3 class="font-bold text-2xl text-gray-800 mb-4">
          Articles populaires
        </h3>
        @for (item of latestFivePosts; track $index) {
          <div class="flex flex-col gap-4 overflow-y-auto max-h-[32rem]">
            <article
              class="flex gap-3 cursor-pointer hover:bg-gray-100 p-2 rounded-md transition"
            >
              <div
                class="relative h-20 w-20 flex-shrink-0 overflow-hidden rounded-md"
              >
                <img
                  src="{{ item.image }}"
                  alt="Image de l'article {{ item.title }}"
                  class="object-cover h-full w-full"
                  loading="lazy"
                />
              </div>
              <div class="flex flex-col justify-between">
                <h4 class="text-md font-bold text-gray-800 mb-1 line-clamp-2">
                  {{ item.title }}
                </h4>
                <p class="text-gray-600  line-clamp-3">
                  {{ item.description }}
                </p>
                <p class="text-gray-500 text-xs mt-1">
                  {{ item.date }}
                </p>
              </div>
            </article>
          </div>
        }
      </section>
    </div>

    <section class="mt-12">
      <h3 class="text-2xl font-bold text-center mb-8">Tous les articles</h3>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        @for (item of postBlogs; track $index) {
          <div
            class="bg-gray-50 shadow-md hover:shadow-lg rounded-lg overflow-hidden flex flex-col"
          >
            <div class="relative h-48 overflow-hidden rounded-t-lg">
              <img
                src="{{ item.image }}"
                alt="Image de l'article {{ item.title }}"
                class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
                loading="lazy"
              />
              <h5
                class="absolute inset-0 flex justify-center items-center bg-gray-900/50 hover:bg-primary-900/80 text-white font-satoshi font-bold uppercase text-center px-4  sm:text-base"
              >
                {{ item.title }}
              </h5>
            </div>
            <div class="p-4 flex flex-col flex-grow text-gray-600">
              <p class="text-gray-600  flex-grow line-clamp-4">
                {{ item.description }}
              </p>
              <span
                class="truncate max-w-[10ch] bg-primary-500/20 text-primary-500 py-1 px-2 text-base"
                >{{ item.tags }}</span
              >

              <div
                class="flex justify-between items-center py-2 border-t border-gray-100 mt-4"
              >
                <div class="flex gap-2">
                  <p class="hover:text-blue-600 hover:cursor-pointer">
                    <i-lucide [name]="icons.like" class="size-5"></i-lucide>
                  </p>
                  <p class="hover:text-primary-500 hover:cursor-pointer">
                    <i-lucide [name]="icons.comment" class="size-5"></i-lucide>
                  </p>
                </div>
                <p
                  class="text-gray-600 flex items-center gap-1 text-xs whitespace-nowrap"
                >
                  <i-lucide [name]="icons.calendar" class="size-5"></i-lucide>
                  {{ item.readingTime }}
                </p>
              </div>
            </div>
          </div>
        }
      </div>
    </section>
  </div>
</section>

<div
  class="bg-[#EEEEEE] bg-grid py-12 px-4 sm:px-8 md:px-16 flex flex-col items-center justify-center text-center"
>
  <p
    class="max-w-3xl text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-black text-primary-500 font-satoshi mb-4 tracking-tight leading-tight"
  >
    Innovons ensemble.
  </p>
  <p class=" sm:text-base md:text-lg max-w-screen-lg text-gray-600">
    La plateforme numérique Cinolu OneStop a été conçue pour centraliser les
    parcours d’accompagnement, automatiser les processus (adhésion, candidature,
    mentorat) et valoriser l’impact collectif.
  </p>
  <div class="w-full flex justify-center mt-8">
    <button
      [routerLink]="'/join-us'"
      type="submit"
      class="group relative z-10 flex items-center justify-center gap-2 px-6 py-2 border border-primary-400 bg-primary-500 text-white hover:bg-primary-600 transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg rounded-sm"
    >
      Nous rejoindre
      <i-lucide
        [name]="icons.userPlus"
        class="mt-0.5 group-hover:translate-x-1 transition-all duration-300"
      ></i-lucide>
    </button>
  </div>
</div>
