@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    @apply no-scrollbar;
  }

  html {
    @apply scroll-smooth hyphens-auto;
  }

  ::selection {
    @apply text-white bg-primary-600;
  }

  .pg .ngx-pagination .current {
    @apply bg-primary-500 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }
  .pg .ngx-pagination a {
    @apply bg-gray-200/40 text-gray-700 mx-1 shadow-sm shadow-gray-300 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
