:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: #f9fafb;
    color: #374151;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 1rem;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.875rem 1rem;
  }

  .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #f9fafb;
  }
}
