<a [routerLink]="['/programs', program().id]" class="bg-card group flex flex-col overflow-hidden rounded-2xl shadow">
  <div class="h-72 w-full relative bg-gray-100">
    <img [ngSrc]="program() | apiIMG: 'program'" [alt]="program().name" class="object-cover" fill />
  </div>
  <div class="flex flex-col p-7">
    <div class="flex items-center gap-1 mb-2">
      @for (type of program().types; track $index) {
        <p class="rounded-full px-3 py-0.5 text-xs font-semibold bg-primary-100 text-primary-900">
          {{ type.name }}
        </p>
      }
    </div>

    <h4
      class="mt-4 mb-2 text-lg group-hover:text-primary-900 transition-colors duration-200 font-medium line-clamp-1 lowercase first-letter:uppercase">
      {{ program().name }}
    </h4>
    <div class="text-gray-600 mt-0.5 line-clamp-2 lowercase first-letter:uppercase">
      {{ program().description }}
    </div>
    <div class="my-6 h-1 w-12 border-t-2"></div>
    <div class="text-gray-600 flex items-center text-md leading-5">
      <mat-icon class="text-hint icon-size-5" [svgIcon]="'event'" />
      <div class="ml-1.5">Début le {{ program().started_at | date: 'longDate' }}</div>
    </div>
    <div class="text-gray-600 flex items-center text-md leading-5 mt-2">
      <mat-icon class="text-hint icon-size-5" [svgIcon]="'event_busy'" />
      <div class="ml-1.5">Fin le {{ program().ended_at | date: 'longDate' }}</div>
    </div>
  </div>
</a>
