<div class="hidden lg:flex justify-between">
  @if (user(); as user) {
  <div class="flex gap-3">
    <button class="group relative flex items-center gap-1">
      <div class="flex items-center gap-1">
        <div class="relative h-8 w-8">
          <img
            [ngSrc]="user | apiIMG: 'user'"
            alt="User Image"
            class="aspect-video object-cover ring-2 ring-primary-600 bg-gray-200 rounded-full"
            fill />
        </div>
        <p class="font-medium text-gray-700">{{ user.name | slice: 0 : 15 }}{{ user.name.length > 15 ? '...' : '' }}</p>
        <i-lucide
          [name]="icons.chevronDown"
          class="transition-transform size-5 group-hover:mt-0 ml-0.5 duration-300 group-hover:rotate-90" />
      </div>
      <div
        class="invisible absolute right-0 top-full mt-2 w-56 rounded-lg bg-white shadow-xl opacity-0 transition-all duration-300 group-hover:visible group-hover:opacity-100">
        <div class="text-left flex flex-col divide-y divide-gray-200 py-2">
          <div class="flex flex-col px-4 py-2">
            <button
              class="flex rounded-lg px-4 py-2 font-medium text-gray-700 transition-colors duration-200 hover:bg-primary-100 hover:text-primary-600"
              (click)="handleSignOut()">
              Se déconnecter
            </button>
          </div>
        </div>
      </div>
    </button>
  </div>
  }
</div>
