@let isLoading = store.isLoading(); @let hasQuery = queryParams().q; @let programCount = store.programs()[1]; @let
programList = store.programs()[0];
<div class="relative bg-white rounded-lg pb-12">
  <div class="flex flex-col gap-3 mb-10 pt-6">
    <div class="px-6 flex flex-col md:flex-row gap-2 md:justify-between md:items-center mb-6 md:mb-0">
      <h5 class="text-lg font-bold">
        Liste des programmes
        <span class="text-gray-500">
          @if (isLoading) {
          <p-progress-spinner
            strokeWidth="5"
            animationDuration=".5s"
            fill="transparent"
            [style]="{ width: '0.8rem', height: '0.8rem' }" />
          } @else { ({{ programCount }}) }
        </span>
      </h5>
      <p-button [outlined]="true" [size]="'small'" (click)="showAddModal.set(true)">
        <i-lucide [name]="icons.plus" class="size-4" />
        Ajouter un programme
      </p-button>
    </div>
    <form [formGroup]="searchForm" class="px-6 flex flex-col gap-1 md:flex-row md:gap-4">
      <input class="md:w-1/3" pInputText id="q" formControlName="q" placeholder="Rechercher..." />
    </form>
  </div>
  @if (programCount === 0 && !isLoading) {
  <h4 class="font-medium text-gray-700 text-lg px-6 pb-8">
    {{ hasQuery ? 'Aucun programme trouvé avec ce filtre' : 'Aucun programme trouvé' }}
  </h4>
  } @if (isLoading) {
  <div class="grid grid-cols-5 overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
    @for (i of skeletonArray; track $index) {
    <div class="border-y border-gray-200 py-3 px-6">
      <div class="h-4 rounded-lg bg-gray-200 animate-pulse mb-2"></div>
    </div>
    }
  </div>
  } @if (programCount > 0 && !isLoading) {
  <div class="relative flex flex-col overflow-x-auto mx-6 my-6 border border-gray-200 rounded-lg">
    <table class="text-left rtl:text-right text-gray-500">
      <thead class="font-black text-gray-800 border-y border-gray-200 bg-gray-100">
        <tr>
          <th class="px-6 py-3">Logo</th>
          <th class="px-6 py-3">Nom</th>
          <th class="px-6 py-3">Status</th>
          <th class="px-6 py-3">Créé le</th>
          <th class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for ( program of programList | paginate : { itemsPerPage: 40, currentPage: queryParams().page || 1, totalItems:
        programCount, }; track program.id ) {
        <tr class="border-b border-gray-200 last:border-none">
          <td class="px-6 py-2">
            <p-avatar [image]="program | apiIMG: 'program'" />
          </td>
          <td class="px-6 py-2 font-medium text-gray-900 w-80 hyphens-auto">{{ program.name | titlecase }}</td>
          <td class="px-6 py-2 text-xs capitalize font-medium w-32">
            @if (program.is_published) {
            <span class="text-primary-500 bg-primary-400/20 rounded py-1 px-1.5"> publié </span>
            } @else {
            <span class="text-red-500 bg-red-400/20 rounded py-1 px-2"> dépublié </span>
            }
          </td>
          <td class="px-6 py-2">{{ program.created_at | date: 'longDate' }}</td>
          <td class="px-6 py-2">
            <div class="flex items-center gap-2">
              <button pButton outlined severity="success" (click)="highlightProgram(program.id)">
                @if (program.is_highlighted) {
                <i-lucide [name]="icons.star" class="size-4" />
                } @else {
                <i-lucide [name]="icons.starOff" class="size-4" />
                }
              </button>
              <button pButton outlined severity="primary" (click)="onPublishProgram(program.id)">
                @if (!program.is_published) {
                <i-lucide [name]="icons.eyeOff" class="size-4" />
                } @else {
                <i-lucide [name]="icons.eye" class="size-4" />
                }
              </button>
              <button pButton outlined severity="info" (click)="onToggleEditModal(program)">
                <i-lucide [name]="icons.edit" class="size-4" />
              </button>
              <button pButton outlined severity="danger" (click)="onDeleteRole(program.id, $event)">
                <div class="relative">
                  <p-confirmpopup />
                  <i-lucide [name]="icons.trash" class="size-4" />
                </div>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (programCount > 40) {
  <div class="flex justify-center items-center gap-3 py-8">
    <pagination-controls
      nextLabel=""
      previousLabel=""
      [autoHide]="true"
      [maxSize]="5"
      (pageChange)="onPageChange($event)"
      class="pg" />
  </div>
  }
</div>
<p-dialog [(visible)]="showAddModal" [closable]="false" [modal]="true" [style]="{ width: '25rem' }">
  <form class="flex flex-col gap-4" [formGroup]="addProgramForm" (ngSubmit)="onAddProgram()">
    <div class="flex flex-col gap-1.5">
      <label for="categories" class="block font-medium text-gray-700">Catégories</label>
      <p-select
        [inputId]="'categories'"
        [options]="categoriesStore.categories()"
        [optionValue]="'id'"
        [optionLabel]="'name'"
        formControlName="category" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="name" class="font-medium">Nom du programme<span class="text-red-500">*</span></label>
      <input pInputText id="name" formControlName="name" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="description" class="font-medium">Description<span class="text-red-500">*</span></label>
      <textarea pTextarea id="description" formControlName="description" rows="5" cols="30"> </textarea>
    </div>
    <div class="flex justify-end gap-4 flex-wrap">
      <p-button
        size="small"
        variant="outlined"
        severity="danger"
        class="font-satoshi"
        (onClick)="showAddModal.set(false)">
        Annuler
      </p-button>
      <p-button
        size="small"
        severity="primary"
        class="font-satoshi"
        [disabled]="!addProgramForm.valid || addProgramStore.isLoading()"
        [loading]="addProgramStore.isLoading()"
        (onClick)="onAddProgram()">
        Ajouter
      </p-button>
    </div>
  </form>
</p-dialog>
<p-dialog [(visible)]="showEditModal" [closable]="false" [modal]="true" [style]="{ width: '30rem' }">
  <app-tabs [tabs]="tabs" [activeTab]="activeTab()" (tabChange)="onTabChange($event)" />
  @if (activeTab() === 'edit') {
  <div class="mb-4">
    @if (program()) {
    <app-file-upload [name]="'logo'" [url]="url + program().id" (loaded)="onFileUploadLoaded()" />
    }
  </div>
  <form class="flex flex-col gap-4" [formGroup]="updateProgramForm" (ngSubmit)="onUpdateProgram()">
    <p-select
      [inputId]="'categories'"
      [options]="categoriesStore.categories()"
      [optionValue]="'id'"
      [optionLabel]="'name'"
      formControlName="category" />
    <div class="flex flex-col gap-1.5">
      <label for="name" class="font-medium">Nom du programme<span class="text-red-500">*</span></label>
      <input pInputText type="text" id="name" formControlName="name" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="description" class="font-medium">Description<span class="text-red-500">*</span></label>
      <textarea pTextarea id="description" formControlName="description" rows="5" cols="30"> </textarea>
    </div>
    <div class="flex justify-end gap-4 flex-wrap">
      <p-button
        size="small"
        variant="outlined"
        severity="danger"
        class="font-satoshi"
        (onClick)="showEditModal.set(false)">
        Annuler
      </p-button>
      <p-button
        size="small"
        severity="primary"
        class="font-satoshi"
        [disabled]="!updateProgramForm.valid || updateProgramStore.isLoading()"
        [loading]="updateProgramStore.isLoading()"
        (onClick)="onUpdateProgram()">
        Mettre à jour
      </p-button>
    </div>
  </form>
  } @if (activeTab() === 'indicators' && program()) {
  <div class="flex flex-col gap-4 min-h-[450px]">
    <div class="flex gap-5 items-center">
      <div class="flex flex-col gap-3 flex-1">
        @for (ind of indicatorsTab(); track $index) {
        <div class="flex items-center gap-2 w-full">
          <input pInputText [(ngModel)]="indicatorsTab()[$index]" placeholder="Nom de l’indicateur" />
          <p-button
            [disabled]="indicatorsTab().length === 1"
            outlined
            severity="danger"
            (click)="removeIndicator($index)">
            <i-lucide [name]="icons.trash" class="size-6" />
          </p-button>
        </div>
        }
      </div>
    </div>
    <div class="flex items-center gap-2 mt-3 mb-10">
      <button pButton size="small" outlined (click)="addIndicator()">
        <i-lucide [name]="icons.plus" class="w-4 h-4" />
        Ajouter un indicateur
      </button>
    </div>
    <div class="flex justify-end gap-4 flex-wrap">
      <p-button
        size="small"
        variant="outlined"
        severity="danger"
        class="font-satoshi"
        (onClick)="showEditModal.set(false)">
        Annuler
      </p-button>
      <button
        pButton
        size="small"
        [disabled]="addIndicatorStore.isLoading()"
        [loading]="addIndicatorStore.isLoading()"
        (click)="onSaveIndicators()">
        Enregistrer
      </button>
    </div>
  </div>
  }
</p-dialog>
