<section class="bg-white text-gray-800 px-8 md:px-32 py-20" id="team">
  <div class="leading-snug col-span-2">
    <h1 class="font-satoshi font-bold text-3xl md:text-5xl mb-12">
      Notre
      <span class="text-green-600">équipe</span>
    </h1>

    <div class="relative grid gap-6 grid-cols-1 md:grid-cols-4">
      <!-- <button
        class="absolute top-1/2 -left-8 z-10 bg-white rounded-full px-3 py-2 shadow-md"
        *ngIf="!disablePrevious"
        (click)="previousSlide()">
        <mat-icon class="icon-size-5 fill-primary-800" svgIcon="mat_outline:arrow_back_ios"></mat-icon>
      </button> -->
      @for (member of team; track $index) {
        <div
          class="group relative rounded-xl space-y-6 overflow-hidden hidde"
          observeVisibility
          [debounceTime]="$index * 100">
          <div class="relative w-full h-[380px]">
            <img
              class="object-cover transition duration-500 group-hover:scale-105"
              [ngSrc]="member.image"
              [alt]="member.name"
              fill />
          </div>

          <div
            class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-green-800 translate-y-[100%] transition duration-300 ease-in-out group-hover:translate-y-0">
            <div>
              <h4 class="text-xl font-semibold text-white font-satoshi">{{ member.name }}</h4>
              <span class="block text-sm text-gray-100">{{ member.role }}</span>
            </div>
          </div>
        </div>
      }
      <!-- <button
        class="absolute top-1/2 -right-8 z-10 bg-white rounded-full px-3 py-2 shadow-md"
        *ngIf="!disableNext"
        (click)="nextSlide()">
        <mat-icon class="icon-size-5 fill-primary-800" svgIcon="mat_outline:arrow_forward_ios"></mat-icon>
      </button> -->
    </div>
  </div>
</section>
