<div class="max-w-xl">
  <div class="flex gap-5 items-center">
    <div class="flex flex-col gap-3 flex-1">
      @for (ind of indicatorsTab(); track $index) {
      <div class="flex items-center gap-5">
        <input pInputText [(ngModel)]="ind.name" placeholder="Nom de l’indicateur" />
        <div class="flex items-center gap-2">
          <input pInputText type="number" [(ngModel)]="ind.value" />
          <p-button
            [disabled]="indicatorsTab().length === 1"
            outlined
            severity="danger"
            (click)="removeIndicator($index)">
            <i-lucide [name]="icons.trash" class="size-6" />
          </p-button>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="flex items-center gap-2 mt-3 mb-10">
    <button pButton size="small" outlined (click)="addIndicator()">
      <i-lucide [name]="icons.plus" class="w-4 h-4" />
      Ajouter un indicateur
    </button>
  </div>
  <button pButton size="small" [disabled]="isLoading" [loading]="isLoading()" (click)="onSaveIndicators()">
    Enregistrer les indicateurs
  </button>
</div>
