<div
  class="w-full bg-white rounded-xl shadow-lg transition duration-300 hover:shadow-2xl relative"
>
  <div class="relative h-40 rounded-t-xl overflow-hidden group">
    <img
      *ngIf="entrepreneur.ventures?.length"
      [ngSrc]="entrepreneur.ventures[0] | apiIMG: 'ventureCover'"
      [alt]="entrepreneur.ventures[0].name || 'Image de couverture'"
      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105"
      priority
      fill
    />

    <div class="absolute inset-0 bg-black/25"></div>

    <div
      class="absolute top-3 left-3 flex items-center bg-white/80 backdrop-blur-sm px-3 py-1 rounded-full text-xs font-semibold text-gray-800"
    >
      <span class="mr-1 text-yellow-500">
        <i-lucide size="16" [name]="icons.award"></i-lucide>
      </span>
      Entrepreneur
    </div>

    <span class="absolute bottom-3 right-3 text-white drop-shadow-lg">
      <i-lucide size="20" [name]="icons.verified"></i-lucide>
    </span>
  </div>

  <div class="absolute inset-x-0 translate-y-1/2 flex justify-center">
    <div
      class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 w-20 h-20 rounded-full overflow-hidden border-4 border-white shadow-lg bg-gray-100 z-20"
    >
      <img
        [ngSrc]="entrepreneur | apiIMG: 'user'"
        [alt]="entrepreneur.name"
        class="w-full h-full object-cover"
        loading="lazy"
        fill
      />
    </div>
  </div>

  <div class="pt-14 pb-6 px-4 text-center relative z-10">
    <h2 class="text-lg font-bold text-gray-900 truncate">
      {{ entrepreneur.name }}
    </h2>

    <p class="text-sm text-gray-500 mb-5 line-clamp-2 min-h-[40px]">
      {{ entrepreneur.biography || "Aucune biographie disponible." }}
    </p>

    <p-button
      [routerLink]="['/entrepreneurs', entrepreneur.email]"
      size="small"
      outlined
      severity="primary"
    >
      <p class="flex items-center gap-2 group px-4">
        Voir le profil
        <i-lucide
          class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
          [name]="icons.moveRight"
        />
      </p>
    </p-button>
  </div>
</div>
