<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 pt-20 pb-10">
  <div class="mb-10">
    <h2 class="font-black font-satoshi mb-2 text-2xl">Nos partenaires</h2>
    <p class="mb-4 text-primary-600 font-satoshi">Ceux avec qui nous travaillons</p>
  </div>
  <div class="mt-10 flex flex-wrap gap-5">
    @for (p of partners; track $index) {
      <div class="flex p-3 bg-gray-100/90 rounded-sm shadow-sm shadow-gray-100">
        <img [src]="p" [alt]="'Logo partenaire ' + $index" class="h-20 w-auto" />
      </div>
    }
  </div>
</section>
