@let result = partners | async;
@if (result?.data; as partners) {
  <section class="mb-20 px-8 md:px-32 xl:px-48">
    <h1 class="font-satoshi font-bold text-2xl md:text-5xl mb-8">
      Nos
      <span class="text-primary-600">partenaires</span>
    </h1>
    <div class="flex items-center gap-6 flex-wrap">
      @for (partner of partners; track partner.id) {
        @if (partner.website_link !== 'https://cinolu.org/') {
          <a [href]="partner.website_link" target="_blank" class="relative p-6 h-26 w-40 inline-block bg-gray-100">
            <img [ngSrc]="partner | apiIMG: 'partner'" class="object-contain" [alt]="'Image' + partner.name" fill />
          </a>
        }
      }
    </div>
  </section>
}
