<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 py-20">
  <div class="mb-10">
    <h2 class="font-black font-satoshi mb-2 text-2xl">Nos partenaires</h2>
    <p class="mb-4 text-primary-600 font-satoshi">Ceux avec qui nous travaillons</p>
  </div>
  <div class="mt-10 flex items-start flex-wrap gap-5 justify-start">
    @for (p of partners; track $index) {
      <div class="flex p-2 bg-gray-100 rounded-sm shadow-gray-100">
        <div class="relative h-20 w-28">
          <img [ngSrc]="p" class="object-contain" [alt]="p" fill />
        </div>
      </div>
    }
  </div>
</section>
