<section class="pt-32 pb-8 min-h-[110vh] w-full flex flex-col gap-4">
  @if (store.isLoading()) {
    <div class="animate-pulse rounded-md bg-gray-200 h-3 w-28"></div>
    <div class="flex flex-col md:flex-row flex-wrap gap-4">
      <div class="animate-pulse bg-gray-200 h-36 rounded w-48"></div>
      <div class="flex flex-col gap-1.5 mt-2">
        <div class="mb-6">
          <div class="animate-pulse rounded-md mb-1 bg-gray-200 h-5 w-64"></div>
          <div class="animate-pulse rounded-md bg-gray-200 h-3 w-52"></div>
        </div>
        <div class="animate-pulse rounded-md bg-gray-200 h-3 w-52"></div>
        <div class="animate-pulse rounded-md bg-gray-200 h-3 w-52"></div>
        <div class="animate-pulse rounded-md bg-gray-200 h-3 w-52"></div>
      </div>
    </div>
    <div
      class="animate-pulse rounded-md bg-gray-200 h-52 md:h-80 w-full pb-8 px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32 max-w-screen-2xl mx-auto mb-4"></div>
    <div class="animate-pulse rounded-md bg-gray-200 h-6 w-full"></div>
    <div class="animate-pulse rounded-md bg-gray-200 h-6 w-full"></div>
    <div class="animate-pulse rounded-md bg-gray-200 h-6 w-full"></div>
    <div class="animate-pulse rounded-md bg-gray-200 h-6 w-full"></div>
    <div class="animate-pulse rounded-md bg-gray-200 h-6 w-full"></div>
  }
  @if (store.enterprise(); as enterprise) {
    <button class="text-primary-400 hover:underline flex items-center gap-2" (click)="back()">
      <i-lucide [name]="icons.back" class="size-4" />
      Revenir en arrière
    </button>
    <div class="flex flex-col md:flex-row flex-wrap gap-4">
      <div class="relative h-36 w-48 rounded bg-gray-200">
        <img
          [alt]="enterprise.name"
          [ngSrc]="enterprise | apiIMG: 'enterprise'"
          class="aspect-video object-cover rounded border-2 border-slate-200/10 mb-2"
          fill />
      </div>
      <div class="flex flex-col gap-1.5">
        <div class="mb-1">
          <h1 class="text-lg font-extrabold text-gray-900">{{ enterprise?.name | titlecase }}</h1>
          <p class="text-gray-900 text-sm">
            Créée le
            {{ enterprise.founded_at | date: 'longDate' }}
          </p>
        </div>
        <div class="flex items-center gap-1.5 text-gray-800 text-sm">
          <i-lucide [name]="icons.locate" class="size-3.5 text-green-500" />
          {{ enterprise.location }}
        </div>
        <div class="flex items-center gap-1.5 text-gray-800 text-sm">
          <i-lucide [name]="icons.phone" class="size-3 text-green-500" />
          {{ enterprise.phone_number }}
        </div>
        <div class="flex items-center gap-1.5 text-gray-800 text-sm">
          <i-lucide [name]="icons.email" class="size-3 text-green-500" />
          {{ enterprise.email }}
        </div>
      </div>
    </div>
    <div class="relative h-52 md:h-80 w-full pb-8 px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32 max-w-screen-2xl mx-auto">
      <img
        [ngSrc]="enterprise | apiIMG: 'enterpriseCover'"
        [alt]="enterprise.name + ' cover image'"
        class="aspect-video object-cover h-full opacity-90 rounded border-2 bg-gray-200 border-slate-200/10"
        fill
        priority />
    </div>
    <div class="relative overflow-x-auto">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <tbody>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-satoshi font-medium text-gray-900 whitespace-nowrap">Description</th>
            <td class="pr-8 text-gray-800 py-4">{{ enterprise.description }}</td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-satoshi font-medium text-gray-900 whitespace-nowrap">
              Problème résolu
            </th>
            <td class="pr-8 text-gray-800 py-4">{{ enterprise.problem_solved }}</td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Marché cible</th>
            <td class="pr-8 text-gray-800 py-4">{{ enterprise.target_market }}</td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Étape</th>
            <td class="pr-8 text-gray-800 py-4">{{ enterprise.stage }}</td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Secteur</th>
            <td class="pr-8 text-gray-800 py-4">{{ enterprise.sector }}</td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">URL LinkedIn</th>
            <td class="pr-8 text-gray-800 py-4">
              <a [href]="enterprise.website" target="_blank" class="text-primary-600 hover:underline">{{
                enterprise.linkedin_url
              }}</a>
            </td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Site Web</th>
            <td class="pr-8 text-gray-800 py-4">
              <a [href]="enterprise.website" target="_blank" class="text-primary-600 hover:underline">{{
                enterprise.website
              }}</a>
            </td>
          </tr>
          <tr class="odd:bg-white even:bg-gray-50 border-b border-gray-200">
            <th scope="row" class="pr-8 py-4 font-medium font-satoshi text-gray-900 whitespace-nowrap">Produits</th>
            <td class="flex flex-col gap-4 py-4">
              @for (product of enterprise.products; track product.id) {
                <div class="flex flex-col md:flex-row flex-wrap gap-4">
                  <div class="relative h-14 w-16 rounded bg-gray-200">
                    <img
                      [alt]="product?.name"
                      [ngSrc]="product | apiIMG: 'product'"
                      class="aspect-video object-cover rounded border-2 border-slate-200/10 mb-2"
                      fill />
                  </div>
                  <div class="flex flex-col gap-0.5">
                    <h1 class="font-extrabold text-gray-900">{{ product?.name | titlecase }}</h1>
                    <div class="flex items-center gap-1.5 text-gray-800 font-medium">
                      Prix :
                      {{ product?.price | currency: 'USD' }}
                    </div>
                  </div>
                </div>
                <p class="text-gray-600 font-medium mb-4 border-b border-gray-200 pb-2">{{ product?.description }}</p>
              }
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  }
  @if (!store.isLoading() && !store.enterprise()) {
    <h2 class="text-3xl font-semibold px-4 pt-6 pb-14">Aucune entreprise trouvée!</h2>
  }
</section>
