<a [routerLink]="['/posts', post().slug]" class="flex flex-col gap-2">
  <div class="relative h-40 w-full">
    <img
      [ngSrc]="post() | apiIMG: 'post'"
      alt="Post Image"
      class="object-cover w-full h-full rounded-md shadow-md"
      fill />
  </div>
  <div class="flex flex-col gap-1.5">
    <div class="flex justify-between">
      <p class="text-sm text-gray-700">{{ estimateReadingTime(post().content) }}</p>
      <div class="flex items-center gap-2">
        <div class="flex items-center gap-0.5">
          <ng-icon name="matVisibilityOutline" class="size-4" />
          <p class="text-xs text-gray-700 font-bold">
            {{ post().viewsCount | shortNumber }}
          </p>
        </div>
        <div class="flex items-center gap-0.5">
          <ng-icon name="matFavoriteOutline" class="size-4" />
          <p class="text-xs text-gray-700 font-bold">
            {{ post().likesCount | shortNumber }}
          </p>
        </div>
        <div class="flex items-center gap-0.5">
          <ng-icon name="matChatBubbleOutlineOutline" class="size-4" />
          <p class="text-xs text-gray-700 font-bold">
            {{ post().commentsCount | shortNumber }}
          </p>
        </div>
      </div>
    </div>
    <h2 class="text-gray-900 font-bold text-lg line-clamp-1">
      {{ post().title }}
    </h2>
  </div>
</a>
