<footer class="relative bg-[url('/images/about.jpg')] mt-10 bg-cover bg-center bg-no-repeat">
  <div class="bg-primary-950/85 py-10">
    <div class="text-white px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32 max-w-screen-2xl mx-auto">
      <div class="flex gap-8 items-start justify-between flex-wrap">
        @for (link of links; track $index) {
          <div class="flex flex-col gap-3 mb-6">
            <h5 class="font-black font-satoshi mb-3 text-white text-lg">{{ link.title }}</h5>
            @for (url of link.urls; track $index) {
              @if (url.external) {
                <a target="_blank" class="text-satoshi hover:underline flex items-center gap-1.5" [href]="url.path"
                  >{{ url.name }}
                  <i-lucide [name]="icons.arrowRight" class="size-4" />
                </a>
              } @else {
                <a
                  [fragment]="url.fragment"
                  class="text-satoshi flex hover:underline items-center gap-1.5"
                  [routerLink]="url.path">
                  <i-lucide [name]="icons.arrowUpRight" class="size-4" />
                  {{ url.name }}
                </a>
              }
            }
          </div>
        }
        <div class="flex flex-col gap-3">
          <a routerLink="/" class="flex items-center gap-3 cursor-pointer">
            <img
              ngSrc="images/logo/logo-w.png"
              alt="logo"
              class="w-14 cursor-pointer"
              width="64"
              height="68"
              priority />
          </a>
          <p class="text-sm">&copy; {{ getYear() }} CINOLU</p>
        </div>
      </div>
    </div>
  </div>
</footer>
