<section
  class="py-10 lg:py-20 px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto fade-left-init"
  id="projects"
  appAnimationsOnScroll>
  <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-6 lg:gap-4">
    <div class="text-center lg:text-left">
      <h3 class="text-3xl sm:text-4xl lg:text-5xl font-black font-satoshi tracking-tight leading-tight">
        Les programmes récents
      </h3>
    </div>

    <div class="hidden lg:flex items-center gap-4">
      <button (click)="carousel.navBackward($event)" class="carousel-nav-btn" type="button">
        <i-lucide [name]="icons.moveLeft" class="size-3.5" />
      </button>
      <button (click)="carousel.navForward($event)" class="carousel-nav-btn" type="button">
        <i-lucide [name]="icons.moveRight" class="size-3.5" />
      </button>
    </div>
  </div>
  @if (store.isLoading()) {
  <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 pb-10">
    @for (p of [1, 3, 3]; track $index) {
    <app-project-card-skeleton />
    }
  </div>
  }
  <div class="space-y-6 lg:space-y-8 mt-8 lg:mt-12">
    <p-carousel
      #carousel
      [value]="store.projects()"
      [numVisible]="3"
      [numScroll]="1"
      [showIndicators]="false"
      [showNavigators]="false"
      [circular]="true"
      [responsiveOptions]="carouselConfig"
      [autoplayInterval]="5000"
      touchMoveThreshold="0"
      class="no-touch-mobile">
      <ng-template let-project #item>
        <div class="sm:px-3">
          <app-project-card [project]="project" />
        </div>
      </ng-template>
    </p-carousel>

    <div class="flex lg:hidden justify-center items-center gap-6 pt-4">
      <button (click)="carousel.navBackward($event)" class="carousel-nav-btn" type="button">
        <i-lucide [name]="icons.moveLeft" class="size-4" />
      </button>
      <div class="flex items-center gap-2">
        <span class="w-2 h-2 bg-primary-300 rounded-full"></span>
        <span class="w-2 h-2 bg-gray-300 rounded-full"></span>
        <span class="w-2 h-2 bg-gray-300 rounded-full"></span>
      </div>
      <button (click)="carousel.navForward($event)" class="carousel-nav-btn" type="button">
        <i-lucide [name]="icons.moveRight" class="size-4" />
      </button>
    </div>

    <div class="w-full flex justify-center items-center">
      <a routerLink="/programs" class="w-fit">
        <p-button psize="large" rounded="full" outlined severity="primary">
          <span class="group flex items-center gap-2 px-8">
            Tous les programmes
            <i-lucide
              class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
              [name]="icons.moveUpRight" />
          </span>
        </p-button>
      </a>
    </div>
  </div>
</section>
