<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-10 text-white bg-primary-950">
  <div class="relative bg-[url('/images/slides/slide-3.webp')] bg-no-repeat bg-cover">
    <div class="bg-primary-950 bg-opacity-85 py-28 px-8 md:px-20">
      <div class="flex flex-col gap-8">
        <h2 class="font-satoshi text-2xl font-medium mb-6 hidde" appObserveVisibility>
          Construire des villes plus
          <span class="text-green-600 hidde" appObserveVisibility> intelligentes</span>
          et plus fortes en Afrique
        </h2>
      </div>
    </div>
  </div>

  <div class="md:text-lg font-thin px-8 pb-10">
    <p class="mb-6 hidde" appObserveVisibility>
      Notre vision est de contribuer à la construction de villes plus intelligentes et plus fortes en utilisant
      l'innovation, la technologie et l'entrepreneuriat pour répondre aux défis les plus pressants dans les villes et
      les zones urbaines en RDC et en Afrique.
    </p>
    <p class="hidde" appObserveVisibility>
      Nous abordons cela en favorisant la compétition et la collaboration au sein de l'écosystème.
    </p>
  </div>
</section>
