<section class="w-full">
  <div
    class="flex w-full flex-wrap gap-4 justify-between items-center mb-10 bg-white rounded-lg h-32 px-8 hover:shadow-lg transition-all duration-300">
    <div class="text-2xl font-bold font-satoshi flex items-center gap-2">
      <span class="border border-primary-500/50 p-1 rounded-lg text-primary-600">
        <i-lucide [name]="icons.shopping" class="size-5 md:size-8" />
      </span>
      Mes produits
    </div>
    <p-button [routerLink]="'/dashboard/products/add'" [size]="'small'" variant="outlined">
      <i-lucide [name]="icons.plus" class="size-4" />
      <span class="hidden sm:block"> Nouveau produit </span>
    </p-button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
    @if (store.products()[0] && !store.isLoading()) { @for ( product of store.products()[0] | paginate : { itemsPerPage:
    10, currentPage: queryParams().page || 1, totalItems: store.products()[1], }; track product.id ) {
    <app-product-card [product]="product" />
    } } @if (store.products()[1] <= 0 && !store.isLoading()) {
    <p class="text-gray-600 text-lg">Aucun produit trouvé.</p>
    } @if (store.isLoading()) { @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
    <app-product-card-skeleton />
    } }
  </div>
  @if (store.products()[1] > 10) {
  <div class="flex items-center justify-center py-8">
    <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
  </div>
  }
</section>
