<section class="px-8 md:px-32 mb-20">
  <h2 class="font-satoshi font-medium text-3xl md:text-5xl mb-10 hidde" observeVisibility>
    Qui sommes-nous<span class="text-green-600">, Who are we ?</span>
  </h2>
  <div class="text-base md:w-11/12 md:text-xl font-light md:font-thin">
    <p class="hidde mb-5" observeVisibility [debounceTime]="100">
      Le Centre d'Innovation de Lubumbashi, communément appelé Cinolu en sigle, est un hub d'innovation créé en 2015
      dans la ville de Lubumbashi en RDC.
    </p>
    <p class="hidde" observeVisibility [debounceTime]="150">
      Nous offrons du renforcement des capacités et un soutien aux entreprises en phase de démarrage (startups et PME) à
      travers des formations, du coaching et du mentorat, des services d'incubation et de conseil. Pour les entreprises,
      les investisseurs et les institutions financières internationales (IFIs), nous proposons un soutien à l'innovation
      ouverte, des services de gestion de projet ainsi qu'une communauté sélectionnée d'innovateurs avec qui collaborer.
    </p>
  </div>
</section>
