<section class="min-h-fit bg-white backdrop-blur-[1px] bg-grid items-center content-center" appAnimationsOnScroll>
  <div class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-14 md:py-28">
    <div class="mb-10">
      <h3
        class="text-3xl text-center sm:text-4xl lg:text-5xl font-black font-satoshi mb-3 tracking-tight leading-tight">
        Open Innovation & Partenariats
      </h3>
    </div>
    <div class="grid grid-cols-1 lg:gap-5 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
      @for (s of services; track $index) {
      <div
        class="gap-5 p-2 md:p-5 hover:shadow-lg duration-300 transition-all relative flex bg-white/20 shadow-sm border backdrop-blur-[2px] border-slate-200 rounded-lg">
        <p class="text-primary-500 text-center flex flex-col items-center justify-center rounded-full">
          <i-lucide [name]="s.icon" class="md:size-12 size-10" />
        </p>
        <div class="mb-2">
          <h5 class="font-extrabold py-2 md:py-3 text-lg text-gray-900">{{ s.title }}</h5>
          <p>{{ s.description }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
