<section class="relative min-h-[40vh] pt-40 pb-20 flex" aria-label="faire un Don" role="region">
  <div class="absolute inset-0 bg-[url('/images/dnt.jpg')] bg-cover bg-center bg-no-repeat w-full" aria-hidden="true">
    <div class="absolute inset-0 bg-primary-950/85" aria-hidden="true"></div>
  </div>
  <div class="px-8 relative z-10 sm:px-6 lg:px-12 xl:px-32 2xl:px-64 max-w-screen-xl bg-grid">
    <h1
      class="inline-flex items-center gap-2 px-4 py-2 rounded-full bg-primary-500/20 backdrop-blur-sm mb-4 text-primary-50 font-medium font-satoshi">
      <i-lucide [name]="icons.donation" class="size-5" aria-hidden="true" focusable="false"></i-lucide>
      Donation
    </h1>
    <h2 class="font-satoshi text-4xl sm:text-5xl md:text-6xl font-black mb-6 text-white">
      Faire un <span class="text-primary-400">Don</span>
    </h2>
    <p class="text-lg sm:text-xl text-white mb-12">Soutenez l’innovation, l’inclusion et l’entrepreneuriat en RDC</p>
  </div>
</section>
