<a [routerLink]="['/events', event().id]" class="bg-card group flex flex-col overflow-hidden rounded-2xl shadow">
  <div class="h-60 w-full relative bg-gray-100">
    <img [ngSrc]="event() | apiIMG: 'event'" [alt]="event().name" class="object-cover" fill />
  </div>
  <div class="flex flex-col p-7">
    <div class="flex items-center justify-between flex-wrap">
      <div class="flex items-center flex-wrap gap-1">
        @for (type of event().types; track $index) {
          <p class="rounded-full px-3 py-0.5 text-xs font-semibold bg-primary-100 text-primary-900">
            {{ type.name }}
          </p>
        }
      </div>
      <p class="rounded-full px-3 py-0.5 mt-1.5 text-xs font-semibold bg-secondary-100 text-secondary-900">
        @if (event().event_type === 'physical') {
          Physique
        } @else {
          En ligne
        }
      </p>
    </div>

    <h4
      class="mt-4 mb-2 text-lg group-hover:text-primary-900 transition-colors capitalize duration-200 font-medium line-clamp-1">
      {{ event().name.toLowerCase() }}
    </h4>
    <div class="text-gray-600 mt-0.5 line-clamp-2">
      {{ event().description }}
    </div>
    <div class="my-6 h-1 w-12 border-t-2"></div>
    <div class="text-gray-600 flex items-center text-md leading-5 mb-2">
      <mat-icon class="text-hint icon-size-5" svgIcon="mat_outline:location_on" />
      <div class="ml-1.5">Lieu {{ event().location }}</div>
    </div>
    <div class="text-gray-600 flex items-center text-md leading-5 mb-2">
      <mat-icon class="text-hint icon-size-5" [svgIcon]="'event'" />
      <div class="ml-1.5">Début le {{ event().started_at | date: 'longDate' }}</div>
    </div>
    <div class="text-gray-600 flex items-center text-md leading-5">
      <mat-icon class="text-hint icon-size-5" [svgIcon]="'event_busy'" />
      <div class="ml-1.5">Fin le {{ event().ended_at | date: 'longDate' }}</div>
    </div>
  </div>
</a>
