<section
  class="relative bg-grid px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto pt-20 pb-10"
  aria-label="Pourquoi rejoindre Cinolu ?"
  role="region">
  <div class="text-center">
    <h3
      class="text-3xl sm:text-4xl lg:text-5xl font-black text-gray-800 font-satoshi mb-3 tracking-tight leading-tight">
      Pourquoi rejoindre <span class="text-primary-400">Cinolu ?</span>
    </h3>
    <p class="mt-4 text-base max-w-3xl text-gray-600 m-auto">
      Cinolu est un Hub d’innovation basé à Lubumbashi en RDC, dédié à l’autonomisation des jeunes, des femmes et des
      innovateurs à travers l’innovation, la technologie, l’entrepreneuriat, le développement durable et la
      collaboration, et ce depuis 2015
    </p>
  </div>

  <div>
    <h4 class="text-primary-500 font-medium text-xl md:text-2xl font-satoshi text-left my-10">
      Notre impact en chiffres :
    </h4>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10"
      role="list"
      aria-label="Statistiques de notre plateforme">
      @for (s of stats; track $index) {
        <div
          class="relative gap-2.5 md : 4 justify-center items-start p-6 rounded-lg hover:bg-black-700/20 bg-neutral-300/20 backdrop-blur-[1px] border border-neutral-400/30 w-full"
          role="listitem">
          <i-lucide
            [name]="s.icon"
            class="absolute -left-2 -top-2 h-15 w-15 text-primary-400 text-sm bg-white rounded-full border border-primary-400/20 p-2"
            aria-hidden="true"
            focusable="false"></i-lucide>
          <div class="text-2xl text-center sm:text-3xl lg:text-5xl font-black text-gray-600 mb-1">{{ s.value }}+</div>
          <div class="text-base text-primary-400">
            {{ s.label }}
          </div>
        </div>
      }
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center py-20">
    <div class="relative h-80 sm:h-96">
      <div class="relative w-full h-80 sm:h-96 lg:h-[32rem] overflow-hidden rounded-xl">
        <img
          src="/images/joinUs.jpg"
          alt="Join Us"
          class="w-full h-full object-cover transition-transform duration-300 hover:scale-105" />
      </div>
      <div
        class="absolute h-64 w-80 z-50 border border-neutral-500 -left-1/3 top-1/2 transform translate-x-1/2 text-3xl bg-neutral-300/30 backdrop-blur-2xl group-hover:opacity-100 transition-all duration-300 whitespace-nowrap px-4 py-2 borber-neutral-400/20 hover:bg-neutral-300/30 mb-2 text-primary-500 font-medium font-satoshi sm:text-base">
        <p class="text-4xl font-light">Ensemble</p>
      </div>
    </div>
    <div>
      <div class="grid grid-cols-1">
        <p class="text-primary-500 font-light text-xl md:text-2xl font-satoshi text-center mb-7">
          Rejoignez un écosystème dynamique et contribuez à façonner l’avenir de la région avec d’autres change-makers
          comme vous.
        </p>
        @for (item of reason; track $index) {
          <div
            class="p-5 flex items-center flex-row-reverse justify-between lg:px-10 bg-white/50 backdrop-blur-[2px] border border-gray-200 rounded-full mt-4 gap-2 transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
            <i-lucide
              stroke="4"
              [name]="icons.moveUp"
              class="bg-primary-500 text-2xl text-white p-1 rounded-full"></i-lucide>
            <h5 class="text-base font-semibold text-gray-900">
              {{ item }}
            </h5>
          </div>
        }
      </div>
    </div>
  </div>
</section>
