<section
  class="relative bg-grid px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto pt-20 pb-0 md:pb-10"
  aria-label="Pourquoi rejoindre Cinolu ?"
  role="region">
  <div class="text-center fade-left-init" appAnimationsOnScroll>
    <h3
      class="text-3xl sm:text-4xl lg:text-5xl font-black text-gray-800 font-satoshi mb-3 tracking-tight leading-tight">
      Pourquoi rejoindre <span class="text-primary-400">Cinolu&nbsp;?</span>
    </h3>
    <p class="mt-3 text-base lg:text-lg max-w-3xl text-gray-600 m-auto mb-14">
      Depuis 2015, Cinolu est un hub d’innovation à Lubumbashi qui soutient jeunes, femmes et innovateurs à travers
      technologie, entrepreneuriat et collaboration.
    </p>
  </div>

  <div class="fade-right-init" appAnimationsOnScroll aria-labelledby="impact-title">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-10 lg:gap-y-12 mb-10"
      role="list"
      aria-label="Statistiques de Cinolu">
      @for (s of stats; track $index) {
      <div
        class="relative p-6 pt-10 w-full flex flex-col bg-white rounded-lg border border-gray-200 hover:border-primary-300 hover:shadow-lg transition-all duration-300 group h-full"
        role="listitem">
        <div
          class="absolute -top-6 flex items-center justify-center w-12 h-12 bg-white border border-primary-400 rounded-lg shadow">
          <i-lucide [name]="s.icon" class="text-primary-500 w-6 h-6" aria-hidden="true" focusable="false"></i-lucide>
        </div>
        <p
          appCountUp
          [duration]="2000"
          [end]="s.value"
          class="text-4xl sm:text-5xl md:text-6xl font-black text-gray-800 text-center"></p>

        <p class="text-center text-gray-700 mt-1 text-base 3xl:text-lg">{{ s.label }}</p>
      </div>
      }
    </div>
  </div>
</section>
