<section class="bg-white text-gray-800 px-8 md:px-32 py-20" id="team">
  <div class="leading-snug col-span-2">
    <h1 class="font-satoshi font-bold text-3xl md:text-5xl mb-12">
      Notre
      <span class="text-green-600">équipe</span>
    </h1>
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
      @for (member of team; track $index) {
        <div class="group relative rounded-xl space-y-6 overflow-hidden">
          <div class="relative w-full h-[450px]">
            <img
              class="object-cover transition duration-500 group-hover:scale-105"
              [ngSrc]="member.image"
              [alt]="member.name"
              fill />
          </div>

          <div
            class="absolute bottom-0 inset-x-0 h-max mt-auto px-8 py-6 bg-green-800 translate-y-[100%] transition duration-300 ease-in-out group-hover:translate-y-0">
            <div>
              <h4 class="text-xl font-semibold text-white font-satoshi">{{ member.name }}</h4>
              <span class="block text-sm text-gray-100">{{ member.role }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
