<section class="mb-20 bg-primary-900 py-20 text-white" id="team" *transloco="let t">
  <div class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
    <h1 class="font-semibold text-3xl md:text-4xl xl:text-6xl mb-14">
      {{ t('Nos') }}
      <span class="text-secondary-600">
        {{ t('statistiques') }}
      </span>
    </h1>
    <div class="font-thin grid grid-cols-2 gap-10 md:grid-cols-4 lg:grid-cols-5">
      @for (s of stats; track $index) {
        <div class="flex flex-col">
          <h2 class="font-medium text-2xl md:text-5xl">{{ s.value }}+</h2>
          <p class="text-xl">{{ t(s.label) }}</p>
        </div>
      }
    </div>
  </div>
</section>
