<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 text-sm md:text-base mb-20" id="vision">
  <h2 class="font-semibold text-xl md:text-4xl xl:text-6xl mb-8">
    Notre
    <span class="text-primary-600"> vision et mission </span>
  </h2>

  <div class="flex flex-col gap-10 lg:text-lg">
    <div class="flex flex-col">
      <p class="mb-2">
        Notre vision est de contribuer à la construction de villes plus intelligentes et plus fortes en utilisant
        l'innovation, la technologie et l'entrepreneuriat pour répondre aux défis les plus pressants dans les villes et
        les zones urbaines en RDC et en Afrique.
      </p>
      <p class="">Nous abordons cela en favorisant la compétition et la collaboration au sein de l'écosystème.</p>
    </div>

    <div class="flex flex-col">
      <p class="mb-2">
        Notre mission est d'équiper et de connecter les jeunes innovateurs et entrepreneurs avec les compétences, les
        connaissances et les ressources nécessaires pour réussir en tant que bâtisseurs d'entreprises compétitifs,
        éthiques et réussis, tant au niveau local qu'à l'échelle continentale.
      </p>
      <p class="">
        Nous nous engageons à soutenir les innovateurs et les entrepreneurs à chaque étape de leur parcours, de
        l'idéation à la commercialisation, en passant par la croissance et l'expansion.
      </p>
    </div>
  </div>
</section>
