<app-auth-card
  title="S'inscrire"
  description="Rejoignez notre communauté de plus de 1000 utilisateurs et profitez de nos services au quotidien">
  @let result = signUp$ | async;
  @if (result?.error) {
    <app-alert class="mt-6 w-full" appearance="soft" type="error" [showIcon]="true" [@shake]="true">
      {{ result.error }}
    </app-alert>
  }
  <div [ngClass]="result?.error && 'transition-transform translate-y-4 duration-150'">
    <h2 class="text-3xl font-extrabold leading-tight tracking-tight font-satoshi pt-24">S'inscrire</h2>
    @if (result?.error) {
      <app-alert class="mt-6 w-full" appearance="soft" type="error" [showIcon]="true" [@shake]="true">
        {{ result.error }}
      </app-alert>
    }
    <form class="mt-6 mb-10" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <mat-form-field class="w-full">
        <mat-label>Nom complet</mat-label>
        <input autocomplete="name" id="name" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>E-mail</mat-label>
        <input
          autocomplete="off"
          id="email"
          type="email"
          matInput
          formControlName="email"
          placeholder="example@gmail.com"
          required />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Adresse</mat-label>
        <input
          autocomplete="off"
          id="address"
          matInput
          formControlName="address"
          placeholder="Lubumbashi, RDC."
          required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Numéro de téléphone </mat-label>
        <input
          autocomplete="off"
          id="phone_number"
          matInput
          formControlName="phone_number"
          placeholder="+243979265726"
          required />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Mot de passe</mat-label>
        <input id="password" matInput type="password" autocomplete="off" formControlName="password" #passwordField />
        <button
          mat-icon-button
          type="button"
          (click)="
            passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
          "
          matSuffix>
          @if (passwordField.type === 'password') {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
          }
          @if (passwordField.type === 'text') {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
          }
        </button>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input
          id="password_confirm"
          matInput
          type="password"
          autocomplete="off"
          formControlName="password_confirm"
          #passwordConfirm />
        <button
          mat-icon-button
          type="button"
          (click)="
            passwordConfirm.type === 'password' ? (passwordConfirm.type = 'text') : (passwordConfirm.type = 'password')
          "
          matSuffix>
          @if (passwordConfirm.type === 'password') {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
          }
          @if (passwordConfirm.type === 'text') {
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
          }
        </button>
      </mat-form-field>

      <button class="mt-6 w-full" mat-flat-button type="submit" [disabled]="result?.isLoading || signUpForm.invalid">
        @if (!result?.isLoading && !signUpForm.invalid) {
          <span>S'inscrire</span>
        }
        @if (result?.isLoading) {
          <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
        }
      </button>

      <div class="mt-4 flex items-center">
        <div class="mt-px flex-auto border-t"></div>
        <div class="text-gray-700 mx-2">Ou continuer avec</div>
        <div class="mt-px flex-auto border-t"></div>
      </div>
      <div class="mt-4 flex items-center space-x-4">
        <button class="flex-auto" type="button" mat-stroked-button (click)="signUpWithGoogle()">
          <div class="flex items-center gap-1.5">
            <div class="relative h-5 w-5">
              <img ngSrc="/images/logo/google.svg" alt="Google" fill />
            </div>
            Google
          </div>
        </button>
      </div>
    </form>
  </div>
</app-auth-card>
