<section
  class="min-h-fit bg-primary-500 md:h-[500px] text-white backdrop-blur-[1px] bg-grid flex items-center"
  appAnimationsOnScroll
>
  <div
    class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-14 md:py-28"
  >
    <div class="mb-10 text-center">
      <h3
        class="text-3xl sm:text-4xl lg:text-5xl font-black font-satoshi mb-3 tracking-tight leading-tight"
      >
        Actualités & Faits Marquants
      </h3>
      <p class="max-w-3xl text-base text-white m-auto hyphens-none">
        Un aperçu des projets, événements et initiatives qui ont marqué ou
        marquent notre parcours.
      </p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-stretch">
      <div
        class="lg:col-span-2 md:h-[400px] grid grid-cols-1 md:grid-cols-2 gap-6 rounded-lg bg-white p-6 lg:p-8"
      >
        <div class="w-full">
          @for (key of keys; track key.id) {
            <button
              (click)="selectKey(key)"
              class="w-full py-2 px-5 flex items-center flex-row-reverse justify-between lg:px-6 border rounded-full mt-4 transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
              [ngClass]="
                selectedKey.id === key.id
                  ? 'bg-primary-500 text-white border-primary-500 ring-2 ring-primary-500 ring-offset-2'
                  : 'bg-white/60 text-gray-900 border-gray-200'
              "
              [attr.aria-pressed]="selectedKey.id === key.id"
              type="button"
            >
              <i-lucide
                stroke="4"
                [name]="icons.moveUp"
                class="text-lg p-1 rounded-full transition-colors duration-300"
                [ngClass]="
                  selectedKey.id === key.id
                    ? 'bg-white text-primary-600'
                    : 'bg-primary-500 text-white'
                "
              ></i-lucide>

              <span
                class="text-base font-medium sm:font-semibold hyphens-none transition-colors duration-300"
                [ngClass]="
                  selectedKey.id === key.id ? 'text-white' : 'text-gray-900'
                "
              >
                {{ key.name }}
              </span>
            </button>
          }
        </div>

        @if (selectedData.length > 0) {
          <div class="flex flex-col justify-between">
            <div class="text-center md:text-left space-y-4">
              <p
                class="bg-primary-500/20 text-base font-satoshi py-1 w-32 px-4 text-primary-500 line-clamp-1 rounded-md max-w-[11ch]"
              >
                {{ selectedKey.name }}
              </p>
              <h3
                class="font-black font-satoshi text-gray-700 mb-2 text-2xl line-clamp-2"
              >
                {{ getItemTitle(selectedData[0]) }}
              </h3>
              <p
                class="text-base text-gray-700 max-w-3xl line-clamp-6 hyphens-none"
              >
                {{ getItemDescription(selectedData[0]) }}
              </p>
            </div>

            <button
              [routerLink]="whatIsPath() + '/' + selectedData[0].slug"
              type="submit"
              class="group relative mt-3 text-sm flex items-center justify-center gap-2 px-5 py-2 border border-primary-400 bg-primary-500 text-white hover:bg-primary-600 transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg rounded-md"
            >
              Découvrir
              <i-lucide
                [name]="icons.moveUp"
                class="mt-0.5 group-hover:translate-x-1 transition-all duration-300 size-5"
              ></i-lucide>
            </button>
          </div>
        }
      </div>

      <div class="md:h-[400px] relative lg:col-span-1">
        @if (selectedData.length > 0) {
          <div
            class="relative rounded-lg shadow-md overflow-hidden h-full min-h-[400px]"
          >
            <img
              [ngSrc]="selectedData[0] | apiIMG: whatIsDisplayed()"
              fill
              [alt]="getItemTitle(selectedData[0])"
              class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
            />
          </div>
        }
      </div>
    </div>
  </div>
</section>
