<section
  class="min-h-fit bg-gray-50 md:h-[500px] text-white backdrop-blur-[1px] bg-grid flex items-center"
  appAnimationsOnScroll
>
  <div
    class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-14 md:py-28"
  >
    <div class="mb-10 text-center">
      <h3
        class="text-3xl sm:text-4xl text-gray-800 lg:text-5xl font-black font-satoshi mb-3 tracking-tight leading-tight"
      >
        Actualités & Faits Marquants
      </h3>
      <p class="max-w-3xl text-base text-gray-500 m-auto hyphens-none">
        Un aperçu des projets, événements et initiatives qui ont marqué ou
        marquent notre parcours.
      </p>
    </div>

    <div>
      <app-highlight-card
        [keys]="keys"
        [selectedKey]="selectedKey"
        [data]="selectedData"
        (keySelected)="selectKey($event)"
      ></app-highlight-card>
    </div>
  </div>
</section>
