<section
  class="min-h-fit bg-primary-500 md:max-h-full text-white backdrop-blur-[1px] bg-grid items-center content-center"
  appAnimationsOnScroll
>
  <div
    class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-14 md:py-28"
  >
    <div class="mb-10 text-center">
      <h3
        class="text-3xl sm:text-4xl lg:text-5xl font-black font-satoshi mb-3 tracking-tight leading-tight"
      >
        Nos Temps forts
      </h3>
      <p class="max-w-3xl text-base text-white m-auto hyphens-none">
        Un aperçu des projets, événements et initiatives qui ont marqué ou
        marquent notre parcours.
      </p>
    </div>

    <div
      class="grid grid-cols-1 lg:grid-cols-3 gap-8 items-stretch min-h-[400px]"
    >
      <div
        class="lg:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-6 rounded-lg bg-white hyphens-none p-6 lg:p-8"
      >
        <div class="w-full">
          @for (item of keys; track $index) {
            <button
              (click)="selectKey(item)"
              class="w-full py-2 px-5 flex items-center flex-row-reverse justify-between lg:px-6 border rounded-full mt-4 transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
              [ngClass]="
                selectedKey.id === item.id
                  ? 'bg-primary-500 text-white border-primary-500 ring-2 ring-primary-500 ring-offset-2'
                  : 'bg-white/60 text-gray-900 border-gray-200'
              "
              [attr.aria-pressed]="selectedKey.id === item.id"
              type="button"
            >
              <i-lucide
                stroke="4"
                [name]="icons.moveUp"
                class="backdrop-blur-[1px] text-lg p-1 rounded-full transition-colors duration-300"
                [ngClass]="
                  selectedKey.id === item.id
                    ? 'bg-white text-primary-600'
                    : 'bg-primary-500 text-white'
                "
              ></i-lucide>

              <span
                class="text-base font-medium sm:font-semibold hyphens-none transition-colors duration-300"
                [ngClass]="
                  selectedKey.id === item.id ? 'text-white' : 'text-gray-900'
                "
              >
                {{ item.name }}
              </span>
            </button>
          }
        </div>

        <div class="flex flex-col justify-between">
          <div class="text-center md:text-left space-y-4">
            <p
              class="bg-primary-500/30 font-black py-1 w-28 px-6 text-primary-500 line-clamp-1 rounded-md"
            >
              Tous les tags
            </p>
            <h3
              class="font-black font-satoshi text-gray-500 mb-2 text-2xl line-clamp-2"
            >
              Rejoignez un écosystème dynamique et contribuez à façonner
              l’avenir de la région avec d’autres change-makers comme vous.
            </h3>
            <p class="text-base text-gray-500 max-w-3xl">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Asperiores suscipit assumenda aliquam doloremque voluptates, nisi
              ipsam sunt? Voluptatum, repudiandae aut voluptatibus, libero,
              quasi quod reprehenderit blanditiis nulla dolores numquam natus.
            </p>
          </div>

          <button
            type="submit"
            class="group relative text-sm flex items-center justify-center gap-2 px-5 py-2 border border-primary-400 bg-primary-500 text-white hover:bg-primary-600 transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg rounded-md"
          >
            Découvrir
            <i-lucide
              [name]="icons.moveUp"
              class="mt-0.5 group-hover:translate-x-1 transition-all duration-300 size-5"
            ></i-lucide>
          </button>
        </div>
      </div>

      <div class="relative lg:col-span-1" appAnimationsOnScroll>
        <div
          class="relative rounded-lg shadow-md overflow-hidden h-full min-h-[500px]"
        >
          <img
            src="/images/joinUs.jpg"
            alt="Programme principal"
            class="w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-105"
          />
        </div>
      </div>
    </div>
  </div>
</section>
