<section class="px-8 md:px-32 xl:px-40">
  @let result = program$ | async;
  @let user = user$ | async;
  @if (result.data; as program) {
    <div class="relative h-60 md:h-120 xl:min-h-140 mt-22 w-full rounded-md overflow-hidden">
      <img [ngSrc]="program | apiIMG: 'program'" [alt]="'Photo de couverture'" class="object-cover" fill priority />

      <div
        class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-600/80 gap-6 text-2xl md:text-4xl px-8 md:px-32 lg:px-40 text-white">
        <div class="relative z-10 flex flex-col items-start py-10">
          <button
            class="text-gray-100 text-sm group underline flex items-center gap-1 mb-8 font-semibold"
            (click)="back()">
            <mat-icon
              [svgIcon]="'heroicons_outline:arrow-long-left'"
              class="group-hover:-translate-x-1.5 transition-transform duration-300 icon-size-4" />
            <span class="inline-block">Revenir</span>
          </button>

          <div
            class="mt-1 text-center capitalize text-lg font-extrabold leading-tight tracking-tight md:text-2xl lg:text-4xl">
            {{ program.name }}
          </div>
          <div
            class="text-gray-300 mt-6 max-w-2xl tracking-tight md:text-lg line-clamp-2 lowercase first-letter:uppercase">
            {{ program.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="py-10">
      <div class="flex items-center gap-7 mb-8 font-medium border-b border-dashed xl:text-lg">
        <button
          [ngClass]="activeTab() === 'overview' && 'border-b border-primary-700 text-primary-700'"
          class="py-2 flex items-center gap-1.5"
          (click)="setActiveTab('overview')">
          Resumé
          <mat-icon svgIcon="description" class="icon-size-3 xl:icon-size-4" />
        </button>

        <button
          [disabled]="!user || !program.phases[0].form"
          [ngClass]="activeTab() === 'application' && 'border-b border-primary-700 text-primary-700'"
          class="py-2 disabled:text-gray-500 disabled:cursor-not-allowed flex items-center gap-1.5"
          (click)="setActiveTab('application')">
          Postuler
          <mat-icon svgIcon="send" class="icon-size-3 xl:icon-size-4" />
        </button>
      </div>

      @if (activeTab() === 'overview') {
        <app-program-overview [program]="program" />
      }

      @if (activeTab() === 'application') {
        <app-program-application [program]="program" />
      }
    </div>
  }
  @if (result.isLoading) {
    <app-program-skeleton />
  }
  @if (result.error) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold">Aucune solution avec cet identifiant !</h2>
    </div>
  }
</section>
