<section class="px-8 md:px-32 xl:px-40 mb-12">
  @let result = program$ | async;
  @let user = user$ | async;
  @if (result.data; as program) {
    <div class="relative mb-6 h-60 w-full md:h-120 bg-gray-50">
      <img [ngSrc]="program | apiIMG: 'program'" [alt]="'Photo de couverture'" class="object-contain" fill priority />
      <div
        class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-end py-20 bg-gradient-to-b from-transparent to-primary-900/90 gap-2 px-8 md:px-32 text-white">
        <h1 class="font-extrabold block text-2xl md:text-6xl xl:text-8xl font-satoshi">{{ program.name }}</h1>
        <button class="text-gray-50 underline flex items-center gap-1 text-base" (click)="back()">
          <mat-icon svgIcon="heroicons_outline:arrow-left" class="icon-size-3" />
          Retour
        </button>
      </div>
    </div>

    <div class="mb-10">
      <div
        class="flex items-center gap-7 text-nowrap border-primary-300 xl:text-lg mb-10 no-scrollbar overflow-x-scroll border-b border-dashed">
        <button
          [ngClass]="!activeTab() && 'border-b border-primary-700 text-primary-700'"
          class="py-2 flex items-center gap-1.5"
          (click)="setActiveTab(null)">
          Resumé
          <mat-icon svgIcon="description" class="icon-size-3 xl:icon-size-4" />
        </button>

        <button
          [disabled]="!user || !program?.phases[0]?.form"
          [ngClass]="activeTab() === 'application' && 'border-b border-primary-700 text-primary-700'"
          class="py-2 disabled:text-gray-500 disabled:cursor-not-allowed flex items-center gap-1.5"
          (click)="setActiveTab('application')">
          Postuler
          <mat-icon svgIcon="send" class="icon-size-3 xl:icon-size-4" />
        </button>
      </div>

      @if (!activeTab()) {
        <app-program-overview [program]="program" />
      }

      @if (activeTab() === 'application' && program?.phases[0]?.form) {
        <app-program-application [program]="program" />
      }
    </div>
  }
  @if (result.isLoading) {
    <app-program-skeleton />
  }
  @if (result.error) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold">Aucune solution avec cet identifiant !</h2>
    </div>
  }
</section>
<app-footer />
