<section class="bg-white text-gray-800 px-8 md:px-32 py-20" id="team">
  <div *ngIf="staff$ | async as staff">
    <h1 class="font-satoshi font-bold text-2xl md:text-5xl mb-12">
      Notre
      <span class="text-green-600">staff</span>
    </h1>

    <div class="relative grid gap-6 grid-cols-1 md:grid-cols-4">
      @if (staff.isFetching) {
        @for (item of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <div class="px-4 py-8 rounded-lg border border-gray-300 shadow-md bg-white mr-6 mb-7 last:mb-1 animate-spin">
            <div class="flex flex-col gap-5">
              <div class="relative h-10 w-10"></div>
              <div class="flex flex-col gap-1.5">
                <div class="bg-gray-100 h-2 w-2/3"></div>
                <div class="h-1 bg-gray-100 lowercase w-full"></div>
              </div>
            </div>
          </div>
        }
      }
    </div>
    @if (staff.data; as staff) {
      <owl-carousel-o [options]="owlOptions">
        @for (member of staff; track $index) {
          <ng-template carouselSlide [id]="member.id">
            <div class="px-4 py-8 rounded-lg border border-gray-300 shadow-md bg-white mr-6 mb-7 last:mb-1">
              <div class="flex flex-col gap-5">
                <div class="relative h-10 w-10">
                  <img
                    class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-primary-900 ring-offset-1 ring-offset-primary-900"
                    [ngSrc]="displayProfileImage(member)"
                    [alt]="member.name"
                    fill />
                </div>
                <div class="flex flex-col gap-1.5">
                  <h4 class="text-gray-950">{{ member.name }}</h4>
                  <span class="block text-gray-700 lowercase text-xs">{{ member.email }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    }
  </div>

  <div class="mt-16" *ngIf="coachs$ | async as coachs">
    <h1 class="font-satoshi font-bold text-2xl md:text-5xl mb-12">
      Nos
      <span class="text-green-600">coachs</span>
    </h1>

    <div class="relative grid gap-6 grid-cols-1 md:grid-cols-4">
      @if (coachs.isFetching) {
        @for (item of [1, 2, 3, 4]; track $index) {
          <div class="px-4 py-8 rounded-lg border border-gray-300 shadow-md bg-white mr-6 mb-7 last:mb-1 animate-spin">
            <div class="flex flex-col gap-5">
              <div class="relative h-10 w-10"></div>
              <div class="flex flex-col gap-1.5">
                <div class="bg-gray-100 h-2 w-2/3"></div>
                <div class="h-1 bg-gray-100 lowercase w-full"></div>
              </div>
            </div>
          </div>
        }
      }
    </div>
    @if (coachs.data; as coachs) {
      <owl-carousel-o [options]="owlOptions">
        @for (coach of coachs; track $index) {
          <ng-template carouselSlide [id]="coach.id">
            <div class="px-4 py-8 rounded-lg border border-gray-300 shadow-md bg-white mr-6 mb-7 last:mb-1">
              <div class="flex flex-col gap-5">
                <div class="relative h-10 w-10">
                  <img
                    class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-primary-900 ring-offset-1 ring-offset-primary-900"
                    [ngSrc]="displayProfileImage(coach)"
                    [alt]="coach.name"
                    fill />
                </div>
                <div class="flex flex-col gap-1.5">
                  <h4 class="text-gray-950">{{ coach.name }}</h4>
                  <span class="block text-gray-700 lowercase text-xs">{{ coach.email }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    }
  </div>
</section>
