<section
  class="bg-white bg-grid animate-slide-in"
  id="about"
  aria-labelledby="section-title"
  appAnimationsOnScroll
>
  <div
    class="px-8 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-12 sm:py-16 md:pb-20"
  >
    <h2
      id="section-title"
      class="text-2xl sm:text-3xl md:text-4xl text-center lg:text-5xl font-black text-gray-800 font-satoshi mb-8 tracking-tight leading-tight pb-8"
    >
      Notre <span class="text-primary-500">Équipe</span>
    </h2>

    <div class="flex w-full max-h-[64rem] gap-2 md:gap-8 flex-col md:flex-row">
      <div
        class="w-full sm:w-1/3 max-h-[32rem] overflow-hidden rounded-md bg-white shadow-md border border-gray-200"
      >
        <img
          [src]="selectedMember.image"
          [alt]="selectedMember.name"
          [title]="selectedMember.name"
          loading="lazy"
          class="w-full h-96 object-cover object-top rounded-md mb-4"
        />
        <div class="p-4">
          <h3 class="text-2xl font-bold text-gray-800">
            {{ selectedMember.name }}
          </h3>
          <p class="text-gray-500 text-base">{{ selectedMember.role }}</p>
        </div>
      </div>

      <div class="w-full sm:w-2/3 h-full">
        <div
          class="hidden sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          @for (item of our_team; track $index) {
            <button
              (click)="selectMember(item)"
              class="cursor-pointer rounded-md overflow-hidden border border-gray-200 hover:shadow-lg transition-transform h-40 duration-300 hover:scale-105 flex-shrink-0"
              [class.ring-2]="selectedMember.id === item.id"
              [class.ring-primary-500]="selectedMember.id === item.id"
              [class.ring-offset-2]="selectedMember.id === item.id"
            >
              <div class="w-full h-full aspect-square overflow-hidden">
                <img
                  [src]="item.image"
                  [alt]="item.name"
                  loading="lazy"
                  class="w-full h-full object-cover object-top"
                />
              </div>
            </button>
          }
        </div>

        <div
          class="flex flex-row w-full gap-2 py-2 overflow-x-auto overflow-y-hidden scrollbar-hide sm:hidden"
        >
          @for (item of our_team; track $index) {
            <button
              (click)="selectMember(item)"
              class="cursor-pointer border border-gray-200 hover:shadow-lg w-20 h-24 transition-transform duration-300 hover:scale-105 flex-shrink-0"
              [class.ring-2]="selectedMember.id === item.id"
              [class.ring-primary-500]="selectedMember.id === item.id"
              [class.ring-offset-2]="selectedMember.id === item.id"
            >
              <div class="w-full aspect-square overflow-hidden">
                <img
                  [src]="item.image"
                  [alt]="item.name"
                  loading="lazy"
                  class="w-full h-full object-cover object-top md:object-contain"
                />
              </div>
            </button>
          }
        </div>
      </div>
    </div>
  </div>
</section>
