<section class="mb-12 mt-14">
  @let result = events$ | async;
  @let types = types$ | async;
  <div class="relative py-52 md:py-64 bg-[url('/images/events.jpg')] bg-cover flex flex-col mb-8">
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/60 to-primary-900/70 gap-6 text-white">
      <div
        class="relative z-10 flex flex-col items-start py-16 px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
        <h1 class="font-extrabold block text-xl mb-6 md:text-4xl xl:text-6xl">
          Restez informé sur différents événements
        </h1>
        <p class="mb-8 md:text-lg text-sm leading-relaxed font-light w-full md:w-3/4">
          Faites le tour de événements en cours, passés et a venir ! Réjoignez nous pour un moment de partage, de
          apprentissage, de croissance et de réseautage
        </p>
      </div>
    </div>
  </div>

  <div class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
    <div class="flex flex-col">
      @if (types.data) {
        <mat-chip-listbox (change)="onFilterChange($event, 'type')">
          <div class="flex gap-1.5 flex-wrap text-sm">
            @for (type of types.data; track type.id) {
              <mat-chip-option [selected]="getTypeId(types.data, queryParams().type) === type.name">
                {{ type.name }}
              </mat-chip-option>
            }
          </div>
        </mat-chip-listbox>
      }

      @if (result.data; as data) {
        @if (data?.events; as events) {
          <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
            @for (
              e of events | paginate: { itemsPerPage: 9, currentPage: queryParams().page, totalItems: data.count };
              track e.id
            ) {
              <app-event-card [event]="e" />
            }
          </div>

          @if (data.count > 9) {
            <div class="flex justify-center mt-16">
              <pagination-controls
                nextLabel=""
                previousLabel=""
                [maxSize]="5"
                (pageChange)="onPageChange($event)"
                class="pg">
              </pagination-controls>
            </div>
          }
        }
      }
      @if (result.error || (result.data && result.data?.events.length === 0)) {
        <h2 class="text-3xl font-semibold">Aucun événement !</h2>
      }

      @if (result.isLoading) {
        <div class="mt-8 grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
          @for (program of skeletonArray; track $index) {
            <app-event-card-skeleton />
          }
        </div>
      }
    </div>
  </div>
</section>
<app-footer />
