<section>
  <div class="relative pt-40 pb-72 -mt-6 h-[50%] md:py-64 bg-[url('/images/events.webp')] bg-cover flex flex-col mb-12">
    <div
      class="px-8 md:px-32 xl:px-48 absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/60 to-primary-900/70 gap-6 text-white">
      <div class="relative z-10 flex flex-col items-start py-16">
        <div
          class="mt-1 text-xl font-extrabold leading-tight tracking-tight md:text-3xl lg:text-5xl xl:6xl w-full md:w-2/3">
          Restez informé sur différents événements et partipez.
        </div>
        <div class="mt-6 max-w-2xl tracking-tight lg:text-lg font-medium">
          Faites le tour de événements en cours, passés et a venir ! Réjoignez nous pour un moment de partage, de
          apprentissage, de croissance et de réseautage
        </div>
      </div>
    </div>
  </div>

  @let result = events$ | async;
  @let types = types$ | async;

  <div class="px-8 md:px-32 xl:px-48 py-6 flex flex-auto">
    <div class="flex flex-auto flex-col">
      @if (types.data?.length) {
        <div class="flex flex-col gap-1.5 mb-6">
          <mat-chip-listbox (change)="onFilterChange($event, 'type')">
            <div class="flex flex-wrap gap-1.5">
              @for (type of types.data; track type.id) {
                <mat-chip-option [selected]="queryParams().type === type.name">{{ type.name }}</mat-chip-option>
              }
            </div>
          </mat-chip-listbox>
        </div>
      }

      @if (result?.isLoading) {
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          @for (event of skeletonArray; track $index) {
            <app-event-card-skeleton />
          }
        </div>
      }

      @if (result?.data?.events; as events) {
        <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
          @for (
            event of events
              | paginate: { itemsPerPage: 9, currentPage: queryParams().page, totalItems: result.data.count };
            track event.id
          ) {
            <app-event-card [event]="event" />
          }
        </div>

        @if (events?.length > 9) {
          <div class="flex items-center justify-center mt-16">
            <pagination-controls
              nextLabel=""
              previousLabel=""
              [autoHide]="true"
              [maxSize]="5"
              (pageChange)="onPageChange($event)"
              class="pg">
            </pagination-controls>
          </div>
        }
      }
      @if (result.error || !result.data?.events?.length) {
        <h2 class="text-3xl font-semibold -mt-16">Aucun événement !</h2>
      }
    </div>
  </div>
</section>
