<section>
  <div class="pt-14 animate-pulse">
    <div
      class="mx-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 border-x border-dashed border-gray-200 overflow-hidden">
      <!-- Skeleton Carousel -->
      <div class="relative h-60 md:h-96 w-full bg-gray-200 rounded-md mb-10 overflow-hidden"></div>

      <div class="grid grid-cols-1 gap-7 md:grid-cols-2 lg:grid-cols-3 my-10 px-4 md:px-0">
        <!-- Skeleton Categories -->
        <div class="overflow-x-auto whitespace-nowrap md:whitespace-normal md:overflow-hidden">
          <div class="flex items-center md:items-start md:flex-col gap-5 md:gap-2.5 place-self-start justify-start">
            @for (item of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
              <div class="w-28 h-3.5 mx-4 bg-gray-200 rounded mb-1"></div>
            }
          </div>
        </div>

        <!-- Skeleton Posts -->
        <div class="place-self-start items-start justify-start col-span-2 space-y-8">
          @for (item of [1, 2, 3, 4]; track $index) {
            <div class="space-y-3">
              <div class="w-60 md:w-96 h-6 bg-gray-200 rounded"></div>
              <div class="w-full h-4 bg-gray-200 rounded"></div>
              <div class="w-5/6 h-4 bg-gray-200 rounded"></div>
              <div class="w-4/6 h-4 bg-gray-200 rounded"></div>
            </div>
          }

          <!-- Skeleton Pagination -->
          <div class="flex justify-center pt-4 pb-8">
            <div class="flex space-x-2">
              <div class="w-8 h-8 bg-gray-200 rounded-full"></div>
              <div class="w-8 h-8 bg-gray-200 rounded-full"></div>
              <div class="w-8 h-8 bg-gray-200 rounded-full"></div>
              <div class="w-8 h-8 bg-gray-200 rounded-full"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
