<div class="grid grid-cols-1 lg:grid-cols-5 gap-6 w-full h-[40rem] items-center overflow-hidden animate-pulse">
  <div class="flex justify-center">
    <div class="p-2 rounded-full border border-gray-200 bg-gray-100 size-10"></div>
  </div>

  <div class="relative flex items-center justify-center lg:col-span-3 overflow-hidden">
    <div
      class="hidden lg:flex w-64 h-[26rem] bg-white border border-gray-200 rounded-lg overflow-hidden shadow-sm opacity-60 scale-90">
      <div class="absolute top-3 left-3 bg-gray-300 text-transparent text-xs px-8 py-2 rounded-full"></div>
      <div class="relative h-40 w-full bg-gray-300 overflow-hidden"></div>

      <div class="p-3 flex flex-col justify-between flex-1">
        <div class="h-5 bg-gray-300 rounded w-11/12 mb-2"></div>
        <div class="h-5 bg-gray-300 rounded w-3/4 mb-4"></div>
        <div class="h-3 bg-gray-200 rounded w-full"></div>
        <div class="h-3 bg-gray-200 rounded w-10/12"></div>
        <div class="h-3 bg-gray-200 rounded w-8/12"></div>
      </div>
    </div>

    <div
      class="relative h-[28rem] w-[90%] lg:w-[70%] bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
      <div class="absolute top-4 left-4 bg-primary-500/50 text-white text-xs px-10 py-2 rounded-full"></div>

      <div class="relative h-52 w-full bg-gray-400 overflow-hidden"></div>

      <div class="p-5 flex flex-col justify-between h-[calc(100%-13rem)]">
        <div>
          <div class="h-7 bg-gray-300 rounded w-4/5 mb-5"></div>
          <div class="h-4 bg-gray-200 rounded w-full mb-2"></div>
          <div class="h-4 bg-gray-200 rounded w-11/12 mb-2"></div>
          <div class="h-4 bg-gray-200 rounded w-10/12"></div>
        </div>

        <div class="mt-4">
          <div class="h-8 w-28 bg-primary-300 rounded-md"></div>
        </div>
      </div>
    </div>

    <div
      class="hidden lg:flex w-64 h-[26rem] bg-white border border-gray-200 rounded-lg overflow-hidden shadow-sm opacity-60 scale-90">
      <div class="absolute top-3 left-3 bg-gray-300 text-transparent text-xs px-8 py-2 rounded-full"></div>
      <div class="relative h-40 w-full bg-gray-300 overflow-hidden"></div>

      <div class="p-3 flex flex-col justify-between flex-1">
        <div class="h-5 bg-gray-300 rounded w-11/12 mb-2"></div>
        <div class="h-5 bg-gray-300 rounded w-3/4 mb-4"></div>
        <div class="h-3 bg-gray-200 rounded w-full"></div>
        <div class="h-3 bg-gray-200 rounded w-10/12"></div>
        <div class="h-3 bg-gray-200 rounded w-8/12"></div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="p-2 rounded-full border border-gray-200 bg-gray-100 size-10"></div>
  </div>
</div>
