<section class="bg-grid">
  <div class="px-8 lg:px-16 2xl:px-28 max-w-screen-2xl m-auto py-14 font-satoshi text-gray-800">
    <h3 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-center mb-8 tracking-tight leading-snug">
      Pourquoi faire un don à <span class="text-primary-500">Cinolu ?</span>
    </h3>

    <div class="flex flex-col items-center w-full space-y-8">
      <p class="text-lg md:text-xl leading-relaxed text-gray-600 max-w-3xl text-center">
        Chaque jour, le
        <span class="font-semibold text-gray-800">Centre d’Innovation de Lubumbashi (Cinolu)</span>
        accompagne des jeunes, des femmes et des innovateurs dans la création de projets à impact. Grâce à votre
        soutien, nous pouvons :
      </p>

      <div class="grid grid-cols-1 2xl:grid-cols-2 gap-6 w-full">
        @for (item of OptionItems; track $index) {
        <div
          class="w-full p-6 flex items-center justify-between bg-white/50 backdrop-blur-[2px] hover:bg-white/70 border border-gray-200 rounded-xl transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg gap-3">
          <h5 class="text-lg md:text-xl font-semibold text-gray-700">{{ item.title }}</h5>
          <i-lucide [name]="item.icon" class="text-primary-500 size-7 hidden sm:block"></i-lucide>
        </div>
        }
      </div>

      <div
        class="p-6 flex items-center justify-between border border-gray-200 rounded-xl w-full bg-gradient-to-r from-primary-50 to-white">
        <h5 class="text-xl md:text-2xl lg:text-3xl font-extrabold text-primary-600 leading-snug">
          Un petit geste peut générer un grand impact
        </h5>
        <i-lucide [name]="icons.arrowUpRight" class="text-primary-500 size-7 hidden sm:block"></i-lucide>
      </div>
    </div>

    <div class="mt-16 text-center max-w-[700px] mx-auto flex flex-col items-center space-y-5">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-extrabold leading-tight text-gray-800 tracking-tight">
        Choisissez un montant pour soutenir nos actions
      </h2>
      <p class="text-base sm:text-lg leading-relaxed text-gray-600 max-w-xl">
        Votre contribution aide à financer des projets
        <span class="font-medium text-gray-800">d’innovation</span> et
        <span class="font-medium text-gray-800">d’entrepreneuriat</span> en RDC.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 py-12">
      @for (p of mountItems; track $index) {
      <div
        class="flex flex-col justify-around hover:bg-white/50 bg-white/80 backdrop-blur-[2px] p-6 hover:shadow-xl hover:z-10 transition-all duration-300 space-y-6 text-center">
        <div class="space-y-3">
          <div class="h-12 w-12 border border-primary-500 rounded-full overflow-hidden mx-auto">
            <img class="h-full w-full object-contain p-4 transform scale-150" [src]="p.icon" [alt]="p.title" />
          </div>
          <hr class="border-gray-200" />
          <p class="text-gray-700 leading-snug">{{ p.description }}</p>
        </div>

        @if (p.mount !== undefined) {
        <a
          class="border border-primary-500 cursor-pointer py-2 px-5 rounded-full text-primary-600 font-bold hover:bg-primary-500 hover:text-white transition-colors duration-200">
          {{ p.mount | currency: 'USD' : 'symbol' }}
        </a>
        } @else {
        <form>
          <input
            type="number"
            placeholder="Taper montant"
            class="border border-primary-500 w-full text-gray-700 font-light px-3 py-2 text-base rounded-md focus:outline-none focus:ring-2 focus:ring-primary-400" />
        </form>
        }
      </div>
      }
    </div>
  </div>
</section>
