<section class="bg-white text-gray-800 px-8 md:px-32 mb-20" id="coachs" *ngIf="coachs$ | async as result">
  <h1 class="font-satoshi font-bold text-2xl md:text-5xl mb-8">
    Nos
    <span class="text-primary-600">coachs</span>
  </h1>

  @if (result.isFetching) {
    <div class="relative grid gap-6 grid-cols-1 md:grid-cols-4">
      @for (item of [1, 2, 3, 4]; track $index) {
        <app-team-card-skeleton />
      }
    </div>
  }

  @if (result.data; as coachs) {
    <div class="relative grid gap-6 grid-cols-1 md:grid-cols-4">
      @for (item of coachs; track $index) {
        <app-team-card [user]="item" />
      }
    </div>
  }
</section>
