@if (layout === "empty-layout") {
  @defer (on idle) {
    <app-empty-layout/>
  } @placeholder {
    <app-loader/>
  }
}

@if (layout === "full-layout") {
  @defer (on idle) {
    <app-full-layout/>
  } @placeholder {
    <app-loader/>
  }
}

@if (layout === "fixed-layout") {
  @defer (on idle) {
    <app-fixed-topbar-layout/>
  } @placeholder {
    <app-loader/>
  }
}

@if (layout === "dashboard-layout") {
  @defer (on idle) {
    <app-dashboard-layout/>
  } @placeholder {
    <app-loader/>
  }
}
