@let stats = store.stats();

<div class="flex flex-wrap gap-6">
  <div class="flex items-center w-full gap-3 h-32 justify-between mt-2 bg-primary-500/10 p-4 rounded-lg shadow-md">
    <p class="text-gray-700 text-lg font-medium">
      Bonjour, {{ authStore.user() | json}}

      <span
        ><i-lucide [name]="icons.mic" class="h-4 w-4 stroke-2" />

        <span> Bienvenue back, </span><span class="font-semibold">{{ authStore.user()?.name }}</span>
      </span>
    </p>
  </div>

  <div
    class="flex flex-col gap-1 max-w-sm w-60 p-6 items-center bg-white rounded-lg shadow-md hover:shadow-2xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-[1.03] cursor-pointer group">
    <div class="flex items-center justify-between w-full gap-4">
      <span class="text-gray-600 text-base font-medium">Entreprises</span>

      <span
        class="p-2 rounded-lg transition-colors duration-300 group-hover:bg-primary-500/10 flex items-center justify-center">
        <i-lucide
          [img]="icons.ventures"
          size="40"
          class="text-primary-500 stroke-1 transition-transform duration-500 group-hover:scale-110" />
      </span>
    </div>

    <div class="flex items-center gap-3 justify-between w-full mt-2">
      <span
        class="text-xl md:text-4xl lg:text-5xl font-satoshi font-black transition-all duration-300 transform group-hover:-translate-y-1"
        [ngClass]="{
          'text-primary-500 group-hover:text-primary-600': stats?.totalVentures,
          'text-red-400 group-hover:text-red-300': !stats?.totalVentures
        }">
        {{ stats?.totalVentures }}
      </span>

      <div
        class="flex items-end gap-1 text-sm font-medium transition-colors duration-300"
        [ngClass]="{
          'text-primary-500 group-hover:text-primary-600': stats?.totalVentures ,
          'text-red-400 group-hover:text-red-300': stats?.totalVentures === 0
        }">
        <i-lucide [name]="icons.trendingUp" class="h-4 w-4 stroke-2" />
        <span>+{{ stats?.totalVentures }} tous les temps</span>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col gap-1 max-w-sm w-60 p-6 items-center bg-white rounded-lg shadow-md hover:shadow-2xl transition-all duration-500 transform hover:-translate-y-2 hover:scale-[1.03] cursor-pointer group">
    <div class="flex items-center justify-between w-full gap-4">
      <span class="text-gray-600 text-base font-medium">Partages</span>

      <span
        class="p-2 rounded-lg transition-colors duration-300 group-hover:bg-green-500/10 flex items-center justify-center">
        <i-lucide
          [img]="icons.share"
          size="40"
          class="text-green-500 stroke-1 transition-transform duration-500 group-hover:scale-110" />
      </span>
    </div>

    <div class="flex items-center gap-3 justify-between w-full mt-2">
      <span
        class="text-xl md:text-4xl lg:text-5xl font-satoshi font-black transition-all duration-300 transform group-hover:-translate-y-1"
        [ngClass]="{
          'text-green-500 group-hover:text-green-600': stats?.referralsCount ,
          'text-red-400 group-hover:text-red-300': stats?.referralsCount === 0
        }">
        {{ stats?.referralsCount }}
      </span>

      <div
        class="flex items-end gap-1 text-sm font-medium transition-colors duration-300"
        [ngClass]="{
          'text-green-500 group-hover:text-green-600': stats?.referralsCount,
          'text-red-400 group-hover:text-red-300': !stats?.referralsCount
        }">
        <i-lucide [name]="icons.trendingUp" class="h-4 w-4 stroke-2" />
        <span>+{{ stats?.referralsCount }} tous les temps</span>
      </div>
    </div>
  </div>
</div>
