<section class="content w-full px-4">
  <div
    class="flex w-full flex-wrap gap-2 md:gap-4 justify-between items-center mb-10 bg-white rounded-lg h-28 md:h-32 px-8 hover:shadow-lg transition-all duration-300">
    <div class="text-xl md:text-2xl font-bold font-satoshi flex items-center gap-2">
      <span class="border border-primary-500/50 p-1 rounded-md text-primary-600 hidden md:block">
        <i-lucide [name]="icons.company" class="size-4 md:size-6" />
      </span>
      Mes entreprises
    </div>
    <p-button [routerLink]="'/dashboard/ventures/add'" [size]="'small'" variant="outlined">
      <i-lucide [name]="icons.plus" class="size-4" />
      <span class="hidden sm:block"> Nouvelle entreprise </span>
    </p-button>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-6">
    @if (store.ventures()[0] && !store.isLoading()) { @for ( venture of store.ventures()[0] | paginate : { itemsPerPage:
    10, currentPage: queryParams().page || 1, totalItems: store.ventures()[1], }; track venture.id ) {
    <app-venture-card [venture]="venture" />
    } } @if (store.ventures()[1] <= 0 && !store.isLoading()) {
    <p class="text-gray-600 text-lg">Aucune entreprise trouvée.</p>
    } @if (store.isLoading()) { @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
    <app-venture-card-skeleton />
    } }
  </div>
  @if (store.ventures()[1] > 10) {
  <div class="flex items-center justify-center py-8">
    <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
  </div>
  }
</section>
