<app-topbar />
<section *ngIf="program$ | async as result">
  @if (result.data; as program) {
    <div class="relative min-h-[75vh] py-50 w-full">
      <img
        [ngSrc]="program | apiIMG: 'program'"
        [alt]="'Photo de couverture ' + program.name"
        class="object-cover"
        fill
        priority />
      <div
        class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-800/70 gap-6 text-2xl md:text-4xl px-8 md:px-32 text-white">
        <div class="relative z-10 flex flex-col items-start py-16">
          <div class="mt-1 text-center text-xl font-extrabold leading-tight tracking-tight md:text-3xl lg:text-5xl">
            {{ program.name }}
          </div>
          <div class="text-gray-300 mt-6 text-lg max-w-2xl tracking-tight md:text-xl line-clamp-2">
            {{ program.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-screen-md py-10">
      <app-program-overview [program]="program" />
      @if (program.phases[0].form; as form) {
        <app-program-application [jsonData]="form" />
      }
    </div>
  }
  @if (result.error) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center">
      <h2 class="text-3xl font-semibold">Aucune solution avec cet identifiant !</h2>
    </div>
  }
</section>
