<div
  class="bg-white rounded-lg border border-gray-200 shadow-sm flex flex-col overflow-hidden hover:shadow-md transition"
>
  <div class="relative h-48 overflow-hidden">
    <img
      [ngSrc]="article() | apiIMG: 'article'"
      alt="Image de l'article {{ article().title }}"
      class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
      loading="lazy"
      fill
    />
  </div>

  <div class="p-4 flex flex-col gap-4">
    <div class="space-y-2">
      <h3 class="text-gray-900 font-semibold text-base line-clamp-1">
        {{ article().title }}
      </h3>
      <p class="text-gray-500 text-sm line-clamp-3 hyphens-none">
        {{ article().content }}
      </p>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex gap-2">
        @for (tag of article().tags; track tag.id; let i = $index) {
          @if (i < 2) {
            <span
              class="flex items-center bg-primary-500/40 text-xs font-medium text-primary-600 rounded-full py-1 px-2"
            >
              <span class="max-w-[8ch] truncate">
                {{ tag.name }}
              </span>
            </span>
          }
        }
      </div>
      <a
        [routerLink]="article().slug"
        class="flex items-center gap-1 text-xs font-medium border border-primary-500 px-3 py-1.5 rounded-full text-primary-500 hover:bg-primary-500 hover:text-white transition-colors duration-200"
      >
        Voir plus
        <i-lucide [name]="icons.moveUp" class="w-4 h-4"></i-lucide>
      </a>
    </div>

    <div
      class="flex justify-between items-center text-gray-400 text-xs border-t border-gray-200 pt-3"
    >
      <button
        type="button"
        class="flex items-center gap-1 hover:text-primary-500 transition"
      >
        <i-lucide [name]="icons.comment" class="w-4 h-4"></i-lucide>
      </button>

      <span class="flex items-center gap-1">
        <i-lucide [name]="icons.calendar" class="w-4 h-4"></i-lucide>
        {{ article().created_at | date: "dd/MM/yyyy" }}
      </span>
    </div>
  </div>
</div>
