<div class="bg-gray-50 shadow-md hover:shadow-lg rounded-lg overflow-hidden flex flex-col"
>
  <div class="relative h-48 overflow-hidden rounded-t-lg">
    <img
      [ngSrc]="article() | apiIMG : 'article'"
      alt="Image de l'article {{ article().title }}"
      class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
      loading="lazy"
      fill/>
    <h5
      class="absolute inset-0 flex justify-center article()s-center bg-gray-900/50 hover:bg-primary-900/80 text-white font-satoshi font-bold uppercase text-center px-4 sm:text-base">
      {{ article().title }}
    </h5>
  </div>
  <div class="p-4 flex flex-col flex-grow text-gray-600">
    <p class="text-gray-600 flex-grow line-clamp-4">
      {{ article().content }}
    </p>
    <div class="flex gap-2 flex-wrap mt-4">
      @for (tag of article().tags; track tag.id) {
        <span class="bg-primary-500/20 text-xs font-medium text-primary-500 inline-flex rounded-full py-1 px-2">
        {{ tag.name }}
      </span>
      }
    </div>
    <div
      class="flex justify-between article()s-center py-2 border-t border-gray-100 mt-4">
      <div class="flex gap-2">
        <p class="hover:text-primary-500 hover:cursor-pointer">
          <i-lucide [name]="icons.comment" class="size-5"></i-lucide>
        </p>
      </div>
      <p
        class="text-gray-600 flex article()s-center gap-1 text-xs whitespace-nowrap"
      >
        <i-lucide [name]="icons.calendar" class="size-5"></i-lucide>
        3Min
      </p>
    </div>
  </div>
</div>
