<div *ngIf="user$ | async as user">
  <button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
      @if (user.google_image || user.profile) {
        <div class="w-7 h-7 bg-gray-200 relative rounded-full overflow-hidden flex items-center justify-center">
          <img [ngSrc]="displayProfile(user)" class="object-cover" alt="profile picture" fill />
        </div>
      } @else {
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
      }
      <span
        class="absolute bottom-0 right-0 h-2 w-2 rounded-full bg-green-500"
        [ngClass]="{ 'mb-px mr-px': !user.profile || !user.profile }"></span>
    </span>
  </button>

  <mat-menu [xPosition]="'before'" #userActions="matMenu">
    <div class="px-4 py-2">
      <div class="flex flex-col leading-none">
        <span>Connecté en tant que</span>
        <span class="mt-1.5 text-md font-medium">{{ user.email }}</span>
      </div>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <a routerLink="/dashboard/my-account" rout mat-menu-item>
      <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
      <span>Profil</span>
    </a>
    <a routerLink="/dashboard/my-preferences" mat-menu-item>
      <mat-icon [svgIcon]="'heroicons_outline:cog-8-tooth'"></mat-icon>
      <span>Préférences</span>
    </a>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
      <mat-icon [svgIcon]="'heroicons_outline:arrow-right-on-rectangle'"></mat-icon>
      <span>Se déconnecter</span>
    </button>
  </mat-menu>
</div>
