<a class="flex flex-col gap-4" [routerLink]="['/blog', post().id]">
  <div class="h-60 md:h-52 w-full relative bg-gray-100 mb-2">
    <img [ngSrc]="post() | apiIMG: 'post'" [alt]="post().title" class="object-cover" fill />
  </div>
  <p class="font-medium">
    {{ post().created_at | date: 'longDate' }}
  </p>
  <p class="line-clamp-2 mb-1.5">
    {{ post().content }}
  </p>
  <span class="rounded-full inline-block text-sm py-1.5 px-3 font-medium border">
    {{ post().category.name }}
  </span>
</a>
