<header class="relative h-full text-sm font-medium">
  @let user = user$ | async;
  <nav [ngClass]="isOpen() ? 'lg:static fixed inset-0 bg-white/75 z-10' : ''">
    <ul
      class="navbar fixed w-full top-0 px-10 lg:px-20 py-3 transition-transform duration-300 text-gray-800 bg-white shadow-sm z-20 flex items-center justify-between">
      <!-- Logo -->
      <a routerLink="/" class="flex items-center gap-3 cursor-pointer" aria-label="logo">
        <img ngSrc="images/logo/logo-g.png" alt="logo" class="w-8 cursor-pointer" width="64" height="68" priority />
      </a>

      <!-- Toggle Button for Mobile -->
      <button
        class="flex flex-col gap-2 lg:hidden cursor-pointer"
        [ngClass]="isOpen() ? 'nav-open' : ''"
        (click)="toogleMenu()">
        <div class="h-[1px] w-6 bg-current transition-transform duration-300"></div>
        <div class="h-[1px] w-6 bg-current transition-transform duration-300"></div>
      </button>

      <!-- Desktop Navbar Links -->
      <div class="hidden lg:flex items-center gap-5">
        @for (link of commonLinks; track $index) {
          <a
            [routerLink]="link.path"
            class="hover:text-secondary-700 transition-colors duration-300"
            routerLinkActive="text-secondary-700"
            (click)="closeMenu()"
            [routerLinkActiveOptions]="{ exact: link.exactUrl }">
            {{ link.name }}
          </a>
        }

        <ng-container *ngIf="!user; else authLinksTemplate">
          @for (link of authLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-secondary-700 transition-colors duration-300"
              routerLinkActive="text-secondary-700"
              (click)="closeMenu()"
              [routerLinkActiveOptions]="{ exact: link.exactUrl }">
              {{ link.name }}
            </a>
          }
        </ng-container>
      </div>
    </ul>

    <!-- Mobile Navbar Links -->
    <div
      class="lg:hidden fixed top-14 left-0 right-16 bottom-0 bg-white backdrop-blur-lg z-40 transition-transform duration-300"
      [ngClass]="isOpen() ? 'translate-x-0' : '-translate-x-full'">
      <div class="flex flex-col gap-5 p-20 py-40">
        @for (link of commonLinks; track $index) {
          <a
            [routerLink]="link.path"
            class="hover:text-secondary-700 transition-colors duration-300"
            routerLinkActive="text-secondary-700"
            (click)="closeMenu()"
            [routerLinkActiveOptions]="{ exact: link.exactUrl }">
            {{ link.name }}
          </a>
        }

        <ng-container *ngIf="!user; else authLinksTemplate">
          @for (link of authLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-secondary-700 transition-colors duration-300"
              routerLinkActive="text-secondary-700"
              (click)="closeMenu()"
              [routerLinkActiveOptions]="{ exact: link.exactUrl }">
              {{ link.name }}
            </a>
          }
        </ng-container>
      </div>
    </div>

    <ng-template #authLinksTemplate>
      <a
        [href]="accountUrl"
        class="flex items-center gap-2 hover:text-secondary-700 transition-colors duration-300"
        (click)="closeMenu()">
        <img
          [src]="user | apiIMG: 'user'"
          class="rounded-full object-cover w-8 h-8 ring-1 ring-secondary-400 ring-offset-1 ring-offset-secondary-400"
          alt="profile picture" />
        {{ trimName(user.name) }}
      </a>
    </ng-template>
  </nav>
</header>
