<header class="relative h-full text-sm font-medium z-20">
  <nav [ngClass]="isOpen() && 'lg:static fixed top-0 bottom-0 right-0 left-0 bg-white/75'">
    <ul
      class="navbar fixed w-full top-0 left-0 right-0 translate-y-0 lg:px-20 px-10 py-3 transition-transform duration-300 text-gray-800 bg-white shadow-sm z-20 flex items-center justify-between">
      <a routerLink="/" class="flex items-center gap-3 cursor-pointer" aria-label="logo">
        <img ngSrc="/images/logo/logo-g.png" alt="logo" class="cursor-pointer w-8" width="64" height="68" priority />
      </a>
      <button
        class="flex flex-col cursor-pointer gap-2 lg:hidden"
        [ngClass]="isOpen() ? 'nav-open' : ''"
        (click)="toogleMenu()">
        <div class="h-[1px] w-6 bg-current transition-transform duration-300"></div>
        <div class="h-[1px] w-6 bg-current transition-transform duration-300"></div>
      </button>
      <!-- Desktop navbar -->
      <div class="hidden lg:flex items-center gap-5">
        @if (user$ | async; as user) {
          @for (link of commonLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-primary-500 transition-colors duration-300"
              routerLinkActive="text-primary-500">
              {{ link.name }}
            </a>
          }
          <a [href]="accountUrl" class="flex items-center gap-2">
            <div class="relative w-8 h-8">
              <img
                [ngSrc]="getProfile(user)"
                class="rounded-full object-cover ring-1 ring-primary-400 ring-offset-1 ring-offset-primary-400"
                alt="profile picture"
                fill />
            </div>
            {{ trimName(user.name) }}
          </a>
        } @else {
          @for (link of unAuthenticatedUserLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-primary-400 transition-colors duration-300"
              routerLinkActive="text-primary-500">
              {{ link.name }}
            </a>
          }
        }
      </div>
    </ul>
    <!-- Mobile navbar -->
    <div
      class="lg:hidden fixed top-14 left-0 right-16 backdrop-blur-lg bottom-0 bg-white z-40 transition-transform duration-300"
      [ngClass]="isOpen() ? 'translate-x-0' : '-translate-x-[200%]'">
      <div class="flex flex-col gap-5 p-20 py-40">
        @if (user$ | async; as user) {
          @for (link of commonLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-primary-500 transition-colors duration-300"
              routerLinkActive="text-primary-500">
              {{ link.name }}
            </a>
          }
          <a
            routerLink="/auth/profile"
            class="hover:text-primary-500 transition-colors duration-300"
            routerLinkActive="text-primary-500">
            {{ trimName(user.name) }}
          </a>
        } @else {
          @for (link of unAuthenticatedUserLinks; track $index) {
            <a
              [routerLink]="link.path"
              class="hover:text-primary-500 transition-colors duration-300"
              routerLinkActive="text-primary-500">
              {{ link.name }}
            </a>
          }
        }
      </div>
    </div>
  </nav>
</header>
