<section>
  @let projects = projects$ | async;
  <div class="px-8 mx-auto py-24 md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 border-x border-dashed border-gray-200">
    <div
      class="relative py-60 bg-[url('/images/projects.jpg')] bg-cover flex flex-col justify-center overflow-hidden mb-8"></div>

    <div class="flex flex-col">
      <!-- <mat-chip-listbox (change)="onFilterChange($event, 'type')">
          <div class="flex gap-1.5 flex-wrap text-sm">
            @for (type of types.data; track type.id) {
              <mat-chip-option [value]="type.id" [selected]="queryParams().type === type.id">
                {{ type.name }}
              </mat-chip-option>
            }
          </div>
        </mat-chip-listbox> -->
      @if (projects?.data?.[0]) {
        <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 px-3">
          @for (
            project of projects?.data?.[0]
              | paginate: { itemsPerPage: 9, currentPage: queryParams().page, totalItems: projects.data[1] };
            track project.id
          ) {
            <app-project-card [project]="project" />
          }
        </div>

        @if (projects.data[1] > 9) {
          <div class="flex justify-center mt-16">
            <pagination-controls
              nextLabel=""
              previousLabel=""
              [maxSize]="5"
              (pageChange)="onPageChange($event)"
              class="pg">
            </pagination-controls>
          </div>
        }
      }
      @if (!projects.isLoading && projects?.data?.[1] === 0) {
        <h2 class="text-3xl font-semibold">Aucun programme!</h2>
      }
      @if (projects?.isLoading) {
        <div class="mt-8 grid grid-cols-1 gap-x-3 gap-y-10 md:grid-cols-2 lg:grid-cols-3 px-3">
          @for (project of skeletonArray; track $index) {
            <app-project-card-skeleton />
          }
        </div>
      }
    </div>
  </div>
</section>
