<section class="pt-14 mx-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg">
  <div class="py-10">
    <h2 class="font-black font-satoshi mb-2 text-3xl">Voir nos programmes</h2>
    <p class="text-primary-500">Tous les programmes</p>
  </div>
  <div class="relative h-60 md:h-96 w-full bg-gray-200 pb-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg">
    <img ngSrc="/images/projects.jpg" alt="projects" class="object-cover h-full opacity-90" fill priority />
  </div>
  <div class="flex flex-col md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-lg">
    @if (categoriesStore.categories().length > 0) {
      <div class="pb-2 pt-10 flex flex-wrap gap-4">
        <p-multiselect
          [inputId]="'categoriesFilter'"
          [autocomplete]="'off'"
          [showHeader]="false"
          (onChange)="onFilterChange($event, 'categories')"
          (onClear)="onClear()"
          [options]="categoriesStore.categories()"
          [optionValue]="'id'"
          [optionLabel]="'name'"
          [showClear]="true"
          placeholder="Choisir une catégorie"
          class="w-full md:w-64">
        </p-multiselect>
      </div>
    }
    @if (store.projects()[1] > 0 && !store.isLoading()) {
      <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 pb-10">
        @for (
          project of store.projects()[0]
            | paginate: { itemsPerPage: 9, currentPage: queryParams().page ?? 1, totalItems: store.projects()[1] };
          track project.id
        ) {
          <app-project-card [project]="project" />
        }
      </div>
      <div class="flex justify-center pb-8">
        <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg">
        </pagination-controls>
      </div>
    }
    @if (!store.isLoading() && store.projects()[1] === 0) {
      <h2 class="text-3xl font-semibold px-4 pt-6 pb-14">Pas de programme!</h2>
    }
    @if (categoriesStore.isLoading()) {
      <div class="px-4 pb-2 pt-10">
        <div class="w-full md:w-64 bg-gray-200 rounded-md h-10 animate-pulse"></div>
      </div>
    }
    @if (store.isLoading()) {
      <div class="mt-8 grid grid-cols-1 gap-x-5 gap-y-10 md:grid-cols-2 lg:grid-cols-3 pb-10">
        @for (project of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track $index) {
          <app-project-card-skeleton />
        }
      </div>
    }
  </div>
</section>
