<div class="bg-gray-50 px-6 py-8 rounded-md">
  <h3 class="font-medium text-lg">Postulez</h3>
  <form class="mt-6" #applicationForm="ngForm" (ngSubmit)="onSubmit()">
    @for (input of generateInputsArray(jsonData()); track $index) {
      @if (input.type === 'textarea') {
        <mat-form-field class="w-full">
          <mat-label>{{ input.label }}</mat-label>
          <textarea
            matInput
            rows="3"
            [id]="input.name"
            [name]="input.name"
            [(ngModel)]="formData[input.name]"
            [required]="input.required">
          </textarea>
        </mat-form-field>
      } @else {
        <mat-form-field class="w-full">
          <mat-label>{{ input.label }}</mat-label>
          <input
            matInput
            autocomplete="off"
            [id]="input.name"
            [type]="input.type"
            [name]="input.name"
            [(ngModel)]="formData[input.name]"
            [required]="input.required" />
        </mat-form-field>
      }
    }
    <button
      class="mt-6 w-full text-white"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="applicationForm.invalid">
      @if (false) {
        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'" />
      } @else {
        <span>Candidater</span>
      }
    </button>
  </form>
</div>
