<section class="px-8 md:px-32 text-sm md:text-base">
  <h2 class="font-satoshi font-medium text-3xl md:text-5xl mb-10">
    Notre <span class="text-primary-600">vision et mission</span>
  </h2>

  <div class="flex flex-col gap-10">
    <div class="flex flex-col">
      <p class="mb-2">
        Notre vision est de contribuer à la construction de villes plus intelligentes et plus fortes en utilisant
        l'innovation, la technologie et l'entrepreneuriat pour répondre aux défis les plus pressants dans les villes et
        les zones urbaines en RDC et en Afrique.
      </p>
      <p class="">Nous abordons cela en favorisant la compétition et la collaboration au sein de l'écosystème.</p>
    </div>

    <div class="flex flex-col">
      <p class="mb-2">
        Notre mission est d'équiper et de connecter les jeunes innovateurs et entrepreneurs avec les compétences, les
        connaissances et les ressources nécessaires pour réussir en tant que bâtisseurs d'entreprises compétitifs,
        éthiques et réussis, tant au niveau local qu'à l'échelle continentale.
      </p>
      <p class="">
        Nous le faisons à travers le renforcement des capacités, l'incubation, le réseautage et la construction de
        l'écosystème.
      </p>
    </div>
  </div>
</section>
