<section class="relative min-h-screen flex flex-col justify-center items-center py-24 lg:py-32">
  <div class="absolute inset-0 bg-[url('/images/hero.jpg')] bg-cover bg-center bg-no-repeat">
    <div class="absolute inset-0 bg-primary-950/85" aria-hidden="true"></div>
  </div>
  <div class="relative z-10 px-8 sm:px-6 lg:px-12 xl:px-20 max-w-screen-2xl mx-auto pt-5 md:pt-10 space-x-3">
    <h1
      class="inline-flex items-start gap-2 px-4 py-2 my-2 rounded-full bg-neutral-300/20 backdrop-blur-[1px] border borber-neutral-400/20 hover:bg-neutral-300/30 mb-2 text-primary-50 font-medium font-satoshi sm:text-base">
      <i-lucide [name]="icons.lightbulb" class="size-5" />
      Innovons ensemble !
    </h1>
    <div class="flex justify-center w-full flex-col items-center space-y-3 text-center">
      <h2
        [@fadeInOut]
        class="font-satoshi hidden md:mt-4 font-black gap-2 text-white sm:flex flex-col text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
        <span> Accélérons les talents </span>
        <span class="text-primary-400">Connectons les opportunités</span>
      </h2>
      <h2
        [@fadeInOut]
        class="font-satoshi sm:hidden md:mt-4 font-black gap-2 text-white text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl hyphens-none">
        <span> Accélérons les talents, </span>
        <span class="text-primary-400">Connectons les opportunités</span>
      </h2>
      <p class="text-white lg:text-lg max-w-md sm:max-w-xl md:max-w-2xl lg:max-w-3xl my-5">
        Le Centre d’Innovation de Lubumbashi (Cinolu) est un espace vivant où les idées deviennent des solutions pour
        bâtir des villes intelligentes, inclusives et durables.
      </p>
      <div class="flex flex-col sm:flex-row items-right justify-right text-left gap-5 md:gap-10">
        <div class="relative inline-flex ring-pulse mt-6">
          <a
            [routerLink]="'/sign-up'"
            type="submit"
            class="group lg:w-56 relative z-10 flex text-white items-center justify-center gap-2 px-6 py-2 border rounded-full border-primary-400 hover:bg-primary-500 duration-300">
            Devenir membre
            <i-lucide [name]="icons.arrowFlash" class="mt-0.5 group-hover:translate-x-1 transition-all" />
          </a>
        </div>
        <div class="relative w-full md:w-56 inline-flex max-md:justify-center mt-6">
          <a
            href="https://www.every.org/centre-dinnovation-lubumbashi-asbl?utm_campaign=donate-link#/donate"
            target="_blank"
            class="group relative w-full md:w-56 z-10 flex text-white items-center justify-center gap-2 px-6 py-2 border rounded-full border-primary-400 bg-primary-500/60 hover:bg-primary-600 duration-300">
            Faire un don
            <i-lucide [name]="icons.donate" class="mt-0.5 group-hover:translate-x-1 transition-all" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
