<section class="px-8 md:px-26 lg:px-32 xl:px-40 mb-26">
  <h1 class="font-satoshi font-bold text-3xl md:text-5xl mb-18">
    Ce que nous
    <span class="text-primary-600">faisons</span>
  </h1>

  <div class="grid md:grid-cols-2 gap-10">
    @for (service of services; track $index) {
      <div class="flex gap-4 items-start flex-col">
        <span class="bg-secondary-800 h-8 w-8 flex flex-col items-center justify-center rounded-full">
          <mat-icon class="icon-size-5 fill-white" [svgIcon]="service.icon"></mat-icon>
        </span>
        <div>
          <h3 class="font-semibold text-xl mb-1.5">
            {{ service.title }}
          </h3>
          <p class="mt-1 text-gray-500">
            {{ service.description }}
          </p>
        </div>
      </div>
    }
  </div>
</section>
