<section class="px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32 max-w-screen-2xl mx-auto pt-20">
  <div class="mb-10">
    <h3 class="font-black font-satoshi mb-2 text-2xl">Ce que nous faisons</h3>
  </div>
  <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
    @for (s of services; track $index) {
      <div class="flex flex-col gap-2">
        <p
          class="h-10 w-10 bg-primary-800/90 text-center flex flex-col items-center justify-center mb-3 rounded-full text-white">
          <i-lucide [name]="s.icon" class="size-5" />
        </p>
        <h5 class="font-extrabold py-3 border-r-2 border-gray-200 text-lg mb-1.5 text-gray-900">
          {{ s.title }}
        </h5>
        <p>{{ s.description }}</p>
      </div>
    }
  </div>
</section>
