<div class="flex gap-6">
  <div class="flex flex-col gap-4 w-1/4">
    <button
      *ngFor="let key of keys"
      (click)="selectKey(key)"
      [ngClass]="selectedKey.id === key.id ? 'bg-primary-500 text-white' : 'bg-white text-gray-900 border'"
      class="px-4 py-2 rounded-full border hover:shadow-lg transition-all duration-300">
      {{ key.name }}
    </button>
  </div>

  <div class="w-3/4 relative h-96 perspective">
    <div class="relative w-full h-full">
      <ng-container *ngFor="let item of data; let i = index; trackBy: trackByFn">
        <div
          *ngIf="isVisible(i)"
          class="card absolute"
          [class.active]="i === activeIndex"
          [class.prev]="i === (activeIndex - 1 + data.length) % data.length"
          [class.next]="i === (activeIndex + 1) % data.length">
          <div class="h-48 w-full relative rounded-lg overflow-hidden mb-4">
            <img
              [ngSrc]="data[0] | apiIMG: whatIsDisplayed()"
              fill
              [alt]="getItemTitle(data[0])"
              class="w-full h-full object-cover transition-transform duration-500 hover:scale-105" />
          </div>

          <h3 class="font-bold text-xl mb-2 text-gray-800">{{ getItemTitle(item) }}</h3>
          <div class="prose prose-gray max-w-none mt-2 text-gray-600 !line-clamp-3 !hyphens-none break-words break-all">
            <quill-view [content]="getItemDescription(item)" class="quill-prose"></quill-view>
          </div>

          <p-button [routerLink]="whatIsPath() + '/' + data[0].slug" size="small" outlined severity="primary">
            <p class="flex items-center gap-2 group px-4">
              Découvrir
              <i-lucide
                class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
                [name]="icons.moveUp" />
            </p>
          </p-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
