<div class="bg-card mb-4 group flex flex-col overflow-hidden rounded-lg shadow bg-white">
  <div class="h-60 w-full overflow-hidden relative">
    <img
      class="aspect-video object-cover rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30"
      [ngSrc]="event() | apiIMG: 'event'"
      [alt]="event().name"
      fill />
  </div>
  <div class="flex flex-col p-6">
    <h4 class="mt-4 mb-2 text-xl group-hover:text-primary-900 transition-colors duration-200 font-bold line-clamp-1">
      {{ event().name | titlecase }}
    </h4>
    <quill-view class="hyphens-none" [content]="event().description" />
    <div class="my-3 h-1 w-14 border-t border-gray-200"></div>
    <div class="flex flex-wrap justify-between items-end gap-3">
      <div class="font-medium flex flex-col gap-2">
        <div class="flex items-center text-md leading-5 gap-1.5">
          <i-lucide [name]="icons.MapPin" class="size-5" />
          <div>{{ event().place | titlecase | slice: 0: 15 }} @if (event().place.length > 15) { ... }</div>
        </div>
        <div class="flex items-center text-md leading-5 gap-1.5">
          <i-lucide [name]="icons.CalendarX" class="size-5" />
          <div>Fin : Le {{ event().ended_at | date: 'dd/MM/yyyy' }}</div>
        </div>
      </div>
      <p-button class="" size="small" outlined severity="primary" [routerLink]="['/events', event().slug]">
        <p class="flex items-center gap-2 group px-2">
          Voir Plus
          <i-lucide
            class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
            [name]="icons.MoveRight" />
        </p>
      </p-button>
    </div>
  </div>
</div>
