<section class="max-w-screen-xl mx-auto px-8 lg:px-0 py-16 mt-6 lg:py-28">
  <ng-container *ngIf="store.isLoading()">
    <app-venture-card-skeleton />
  </ng-container>
  @if (store.venture(); as venture) {

  <div class="relative">
    <div class="relative w-full h-72 lg:h-96 rounded-lg overflow-hidden mb-12 shadow-sm">
      <img [ngSrc]="venture | apiIMG:'ventureCover'" fill alt="cover" class="object-cover w-full h-full" priority />
    </div>
    @if (venture.logo) {
    <div
      class="absolute bottom-0 z-10 left-1/2 -translate-x-1/2 translate-y-1/2 w-28 h-28 rounded-full border-4 border-white shadow-md bg-white overflow-hidden">
      <img [ngSrc]="venture | apiIMG:'venture'" fill alt="logo" class="object-cover w-full h-full" />
    </div>
    }
  </div>
  <div class="text-center w-full pt-16">
    <h1 class="text-3xl font-extrabold text-primary-600 mb-2">{{ venture.name }}</h1>
    <p class="text-sm text-gray-500">{{ venture.sector }} • {{ venture.location }}</p>

    <div class="flex flex-col items-center justify-center gap-3 mt-6">
      <h2 class="text-lg font-semibold text-gray-800">Stade de développement</h2>
      <p class="text-xs text-primary-500 py-2 px-4 bg-primary-500/10 border border-primary-500/20 w-fit rounded-full">
        {{ venture.stage }}
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-16">
    <div>
      @if (venture.gallery && venture.gallery.length) {
      <p-galleria
        [value]="venture.gallery"
        [autoPlay]="true"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }">
        <ng-template pTemplate="item" let-img>
          <div class="relative w-full overflow-hidden h-72 md:h-[28rem] rounded-lg">
            <img
              [src]="img | apiIMG:'gallery'"
              [alt]="img.image"
              class="object-cover w-full h-full transition-transform duration-300 hover:scale-105" />
          </div>
        </ng-template>

        <ng-template pTemplate="thumbnail" let-img>
          <img [src]="img | apiIMG:'gallery'" [alt]="img.image" class="object-cover h-20 w-20 rounded-md" />
        </ng-template>
      </p-galleria>
      } @else {
      <div class="relative w-full overflow-hidden h-72 md:h-[28rem] rounded-lg">
        <img
          [src]="venture | apiIMG:'ventureCover'"
          [alt]="venture.name"
          class="object-cover w-full h-full transition-transform duration-300 hover:scale-105" />
      </div>
      }
    </div>

    <div
      class="space-y-8 bg-white p-8 rounded-lg shadow-md hover:shadow-lg border border-gray-100 transition-all duration-300">
      @if (venture.description) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Description</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture.description }}</p>
      </div>
      } @if (venture.problem_solved) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Problème résolu</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture.problem_solved }}</p>
      </div>
      } @if (venture.target_market) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Marché cible</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture.target_market }}</p>
      </div>
      }

      <div class="flex flex-wrap items-center justify-between gap-4 pt-6 border-t border-gray-200">
        @if (venture.website) {
        <a
          [href]="venture.website"
          target="_blank"
          class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.globe" size="18" /> Site Web
        </a>
        } @if (venture.linkedin_url) {
        <a
          [href]="venture.linkedin_url"
          target="_blank"
          class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.linkedin" size="18" /> LinkedIn
        </a>
        } @if (venture.email) {
        <a href="mailto:{{ venture.email }}" class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.email" size="18" /> {{ venture.email }}
        </a>
        } @if (venture.phone_number) {
        <span class="text-gray-600 text-sm flex items-center gap-1">
          <i-lucide [name]="icons.phone" size="18" /> {{ venture.phone_number }}
        </span>
        }
      </div>
    </div>
  </div>

  <div class="mt-20">
    <h2 class="text-2xl font-extrabold text-gray-700 mb-8 text-center">Produits</h2>

    @if (venture.products && venture.products.length) {
    <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
      @for (product of venture.products; track $index) {
      <div
        class="bg-white rounded-lg shadow-md hover:shadow-xl transition-all duration-300 overflow-hidden border border-gray-100">
        <div class="relative w-full h-56 overflow-hidden">
          @if (product?.gallery?.[0]) {
          <img
            [src]="product?.gallery?.[0] | apiIMG:'gallery'"
            [alt]="product.name"
            class="w-full h-full object-cover transition-transform duration-500 hover:scale-105" />
          } @else {
          <img
            src="/images/no-image.jpg"
            alt="No Image"
            class="w-full h-full object-cover transition-transform duration-500 hover:scale-105" />
          }
        </div>
        <div class="p-6 text-center">
          <h3 class="text-lg font-semibold text-gray-800 mb-1">{{ product.name }}</h3>
          <p class="text-sm text-gray-500 mb-3 line-clamp-1">{{ product.description }}</p>
          <p-button [routerLink]="[product.slug]" label="Voir le produit" outlined class="w-full" />
        </div>
      </div>
      }
    </div>
    } @else {
    <div class="text-center text-gray-500 py-10 text-lg">Aucun produit trouvé</div>
    }
  </div>
  } @else {
  <div class="text-center py-20 text-gray-500">Aucune entreprise trouvée.</div>
  }
</section>
