@if (venture()) {
<section class="max-w-screen-xl mx-auto px-6 sm:px-8 lg:px-16 py-12 md:py-16 lg:py-28">
  <div class="relative w-full h-72 rounded-lg overflow-hidden mb-12">
    <img [ngSrc]="venture() | apiIMG:'ventureCover'" alt="cover" fill class="object-cover" priority />
    @if (venture()?.logo) {
    <div
      class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 w-28 h-28 rounded-full border-4 border-white shadow-lg bg-white overflow-hidden">
      <img fill [ngSrc]="venture() | apiIMG:'venture'" alt="logo" class="object-cover" />
    </div>
    }
  </div>

  <div class="text-center w-full mb-10">
    <h1 class="text-3xl font-extrabold text-primary-600 mb-2">{{ venture()?.name }}</h1>
    <p class="text-sm text-gray-500">{{ venture()?.sector }} • {{ venture()?.location }}</p>

    <div class="text-center flex flex-col items-center justify-center gap-3">
      <h2 class="text-lg font-semibold text-gray-800 mt-4">Stade de développement</h2>
      <p class="text-xs text-primary-500 py-2 px-4 bg-primary-500/10 border-primary-500/20 border w-fit rounded-full">
        {{ venture()?.stage }}
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2">
    <div>
      @if (images().length > 0) {
      <p-galleria
        [value]="images()"
        [autoPlay]="true"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }">
        <ng-template pTemplate="item" let-img>
          <div class="relative w-full overflow-hidden h-72 md:h-[32rem]">
            <img
              [src]="img | apiIMG: 'ventureGallery'"
              [alt]="img.image"
              class="relative object-cover w-full h-full block transition-transform duration-300 hover:scale-105"
              priority />
          </div>
        </ng-template>

        <ng-template pTemplate="thumbnail" let-img>
          <img [src]="img | apiIMG: 'ventureGallery'" [alt]="img.image" class="relative object-cover h-20 w-20" />
        </ng-template>
      </p-galleria>
      } @else {
      <div class="relative w-full overflow-hidden h-72 md:h-[32rem]">
        <img
          [src]="venture() | apiIMG: 'ventureCover'"
          [alt]="venture()?.name"
          class="relative object-cover w-full h-full block transition-transform duration-300 hover:scale-105"
          priority />
      </div>
      }
    </div>
    <div
      class="space-y-8 bg-white p-8 rounded-lg hover:shadow-xl/10 border border-gray-100 transform transition-all duration-300">
      @if (venture()?.description) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Description</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture()?.description }}</p>
      </div>
      } @if (venture()?.problem_solved) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Problème résolu</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture()?.problem_solved }}</p>
      </div>
      } @if (venture()?.target_market) {
      <div>
        <h2 class="text-xl font-semibold text-gray-800 mb-3">Marché cible</h2>
        <p class="text-gray-700 leading-relaxed">{{ venture()?.target_market }}</p>
      </div>
      }

      <div class="flex flex-wrap items-center justify-between gap-4 pt-6 border-t border-gray-200">
        @if (venture()?.website) {
        <a
          [href]="venture()?.website"
          target="_blank"
          class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.globe" size="18" class="inline-block" />
          Site Web</a
        >
        } @if (venture()?.linkedin_url) {
        <a
          [href]="venture()?.linkedin_url"
          target="_blank"
          class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.linkedin" size="18" />
          LinkedIn</a
        >
        } @if (venture()?.email) {
        <a
          href="mailto:{{ venture()?.email }}"
          class="text-primary-500 hover:underline text-sm flex items-center gap-1">
          <i-lucide [name]="icons.email" size="18" />
          {{ venture()?.email }}
        </a>
        } @if (venture()?.phone_number) {
        <span class="text-gray-600 text-sm flex items-center gap-1">
          <i-lucide [name]="icons.phone" size="18" />
          {{ venture()?.phone_number }}</span
        >
        }
      </div>
    </div>
  </div>
</section>
} @else {
<div class="text-center py-20 text-gray-500">Aucune entreprise trouvée.</div>
}
