<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-10 my-20 text-white bg-primary-900">
  <div class="font-thin py-20 px-8 md:pl-30 md:pr-6">
    <h2 class="font-satoshi font-bold text-xl lg:text-2xl mb-10">
      Votre
      <span class="text-secondary-600">“One Stop Ecosystem Support” </span>
    </h2>
    <div class="flex flex-col gap-3">
      <p class="text-base">
        Rejoindre un Tech hub ? un incubateur ou un accélérateur ? Ne cherchez plus! Intégrez notre hub d'innovation
        pour vous inspirez, discuter, bâtir vos compétences ou construire votre projet en un seul endroit . Nous offrons
        des parcours de formation et d'incubation type long a guichet unique. De l'idéation à la croissance, de la
        pré-incubation à l'accélération de votre projet sur une seule plateforme vous permettant de vous concentrer sur
        vous et votre projet.
      </p>
    </div>
  </div>
  <div class="bg-[url('/images/ps.webp')] bg-no-repeat bg-center bg-cover h-full w-full"></div>
</section>
