<header
  class="fixed top-0 left-0 md:left-[22vw] right-0 h-14 flex items-center z-30 bg-white shadow-xs text-gray-800 transition-colors duration-300 font-satoshi"
>
  <nav class="flex justify-between items-center w-full px-8">
    <a
      routerLink="/"
      class="flex items-center gap-1.5 opacity-100 md:opacity-0"
      aria-label="logo"
    >
      <img
        ngSrc="/images/logo/logo-g.png"
        alt="logo"
        class="w-8 h-9"
        width="64"
        height="68"
        priority
      />
    </a>
    <div>
      <app-mobile-nav [user]="authStore.user()" (signOut)="handleSignOut()" />
      <app-desktop-nav [user]="authStore.user()" (signOut)="handleSignOut()" />
    </div>
  </nav>
</header>
