<a [routerLink]="['/events', event().slug]" class="bg-card mb-4 group flex flex-col overflow-hidden rounded-2xl shadow">
  <div class="h-60 w-full overflow-hidden relative bg-gray-100">
    <img
      [ngSrc]="event() | apiIMG: 'event'"
      [alt]="event().name"
      class="object-cover group-hover:scale-110 transition-transform duration-300"
      fill />
  </div>

  <div class="flex flex-col p-6">
    <h4 class="mt-4 mb-2 text-lg group-hover:text-primary-900 transition-colors duration-200 font-bold line-clamp-1">
      {{ event().name | titlecase }}
    </h4>
    <div class="mt-0.5 text-sm line-clamp-2 font-medium lowercase first-letter:uppercase">
      {{ event().description }}
    </div>
    <div class="my-3 h-1 w-14 border-t border-gray-200"></div>
    <div class="font-medium text-sm">
      <div class="flex items-center text-md leading-5 mb-2">
        <ng-icon class="text-hint size-5!" name="matLocationOnOutline" />
        <div class="ml-1.5">Début: Le {{ event().place | titlecase }}</div>
      </div>
      <div class="flex items-center text-md leading-5 mb-2">
        <ng-icon class="text-hint size-5!" [name]="'matEventNoteOutline'" />
        <div class="ml-1.5">Fini: Le {{ event().started_at | date: 'longDate' }}</div>
      </div>
    </div>
  </div>
</a>
