<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-10 text-white bg-primary-950">
  <div class="flex flex-col gap-3 md:text-lg font-thin px-8 md:px-16">
    <p class="mb-3 hidde" appObserveVisibility>
      Notre mission est d'équiper et de connecter les jeunes innovateurs et entrepreneurs avec les compétences, les
      connaissances et les ressources nécessaires pour réussir en tant que bâtisseurs d'entreprises compétitifs,
      éthiques et réussis, tant au niveau local qu'à l'échelle continentale.
    </p>
    <p class="hidde" appObserveVisibility>
      Nous le faisons à travers le renforcement des capacités, l'incubation, le réseautage et la construction de
      l'écosystème !
    </p>
  </div>
  <div class="relative bg-[url('/images/slides/slide-1.webp')] bg-no-repeat bg-cover">
    <div class="bg-primary-950 bg-opacity-85 py-28 px-8 md:px-32">
      <div class="flex flex-col gap-8">
        <h1 class="font-satoshi font-bold text-2xl md:text-3xl hidde" appObserveVisibility>
          Notre
          <span class="text-green-600 hidde" appObserveVisibility>Objectif </span>
        </h1>
        <h2 class="font-satoshi text-2xl font-bold mb-6 hidde" appObserveVisibility>
          Tout est une question d'augmentation de la compétitivité des innovateurs et des ESOs
        </h2>
      </div>
    </div>
  </div>
</section>
