<section
  class="px-6 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto bg-grid pt-30 pb-10"
>
  @if (store.event(); as event) {
    <div class="space-y-6 md:space-y-12">
      <div class="text-center">
        <h2
          class="font-black font-satoshi mb-1 text-2xl md:text-4xl text-center"
        >
          {{ event.name | titlecase }}
        </h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div
          class="relative h-64 md:h-[28rem] bg-gray-100 rounded-md overflow-hidden shadow-sm"
        >
          <img
            [ngSrc]="event | apiIMG: 'event'"
            [alt]="'Photo de couverture'"
            class="aspect-video object-cover"
            fill
            priority
          />
        </div>

        <div class="flex flex-col gap-8">
          <div
            class="rounded-md bg-white shadow-sm border border-gray-100 p-8 hover:shadow-lg transition"
          >
            <div class="flex items-center gap-3 mb-4">
              <div
                class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-100 text-primary-600"
              >
                <i-lucide [name]="icons.fileText" class="size-5 stroke-[1.5]" />
              </div>
              <h3 class="font-semibold text-xl text-gray-800">Description</h3>
            </div>
            <p
              class="text-gray-600 leading-relaxed text-justify text-base hyphens-none"
              [innerHTML]="event.description"
            ></p>
          </div>

          <div
            class="rounded-md bg-primary-50 shadow-sm border border-primary-200 p-8 hover:shadow-lg transition"
          >
            <div class="flex items-center gap-3 mb-4">
              <div
                class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-500  text-white"
              >
                <i-lucide
                  [name]="icons.calendarDays"
                  class="size-5 stroke-[1.5]"
                />
              </div>
              <h3 class="font-semibold text-xl text-primary-700">Dates</h3>
            </div>
            <p class="text-gray-700 text-base mb-2">
              📅 <span class="font-medium">Début :</span>
              {{ event.started_at | date: "longDate" }}
            </p>
            <p class="text-gray-700 text-base">
              🏁 <span class="font-medium">Fin :</span>
              {{ event.ended_at | date: "longDate" }}
            </p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full">
        <div
          class="rounded-md bg-green-50 shadow-sm border border-green-100 p-8 hover:shadow-lg transition"
        >
          <div class="flex items-center gap-3 mb-6">
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-500 text-white"
            >
              <i-lucide [name]="icons.tag" class="size-5 stroke-[1.5]" />
            </div>
            <h3 class="font-semibold text-xl text-primary-700">Catégories</h3>
          </div>
          <div class="flex flex-wrap gap-3">
            @for (item of event.categories; track $index) {
              <span
                class="px-4 py-1.5 text-sm font-medium rounded-full bg-white border border-gray-200 shadow-sm text-gray-700 hover:bg-gray-50 transition"
              >
                {{ item.name }}
              </span>
            }
          </div>
        </div>

        <div
          class="rounded-md bg-white shadow-sm border border-gray-100 p-8 hover:shadow-lg transition"
        >
          <div class="flex items-center gap-3 mb-4">
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-100 text-primary-600"
            >
              <i-lucide [name]="icons.mapPin" class="size-5 stroke-[1.5]" />
            </div>
            <h3 class="font-semibold text-xl text-gray-800">Adresse</h3>
          </div>
          <p
            class="text-gray-600 leading-relaxed text-justify text-base"
            [innerHTML]="event.place"
          ></p>
        </div>
      </div>

      <div class="flex justify-center gap-6">
        @if (
          getStatut(event) === "En cours" ||
          (getStatut(event) === "À venir" && event.link)
        ) {
          <p-button size="small" severity="primary" outlined>
            <p class="flex items-center gap-2 group px-4">
              Postuler Maintenant
              <i-lucide
                class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
                [name]="icons.arrow"
              />
            </p>
          </p-button>
        } @else {
          <p-button size="small" severity="danger" disabled outlined>
            <p class="flex items-center gap-2 group px-4">
              <i-lucide class="size-4" [name]="icons.fileLock" />
              Postuler Maintenant
              <i-lucide
                class="size-4 group-hover:translate-x-0.5 transition-transform duration-300"
                [name]="icons.arrow"
              />
            </p>
          </p-button>
        }
      </div>
    </div>
  }

  @if (store.isLoading()) {
    <app-event-skeleton />
  }

  @if (!store.isLoading() && !store.event()) {
    <div class="min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold">
        Aucun événement avec cet identifiant !
      </h2>
    </div>
  }
</section>
