<section
  class="px-6 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto bg-grid pt-[7.5rem] pb-16"
>
  @if (store.event(); as event) {
    <div class="space-y-12">
      <div class="text-center">
        <h2
          class="font-black font-satoshi text-3xl md:text-4xl text-gray-900 leading-tight"
        >
          {{ event.name | titlecase }}
        </h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>
          @if (images().length > 0) {
            <p-galleria
              [value]="images()"
              [responsiveOptions]="responsiveOptions"
              [numVisible]="1"
              [circular]="images().length > 1"
              [showItemNavigators]="true"
              [showThumbnails]="false"
              autoPlay="true"
              class="mx-auto w-full rounded-md shadow-sm overflow-hidden h-80 md:h-[32rem]"
            >
              <ng-template pTemplate="item" let-img>
                <div class="relative w-full overflow-hidden h-80 md:h-[32rem]">
                  <img
                    fill
                    [ngSrc]="img | apiIMG: 'eventGallery'"
                    [alt]="img.image"
                    class="relative object-cover w-full h-full block transition-transform duration-300 hover:scale-105"
                    priority
                  />
                </div>
              </ng-template>

              <ng-template pTemplate="thumbnail" let-img>
                <div class="relative w-full">
                  <img
                    fill
                    [ngSrc]="img | apiIMG: 'eventGallery'"
                    [alt]="img.image"
                    class="relative object-cover w-full h-24 block rounded-md shadow-sm"
                    priority
                  />
                </div>
              </ng-template>
            </p-galleria>
          } @else {
            <div
              class="relative w-full rounded-md shadow-sm overflow-hidden h-80 md:h-[32rem]"
            >
              <img
                [ngSrc]="event | apiIMG: 'event'"
                [alt]="'Photo de couverture'"
                class="relative object-cover object-center w-full h-full block"
                fill
                priority
              />
            </div>
          }
        </div>

        <div class="flex flex-col gap-8">
          <div
            class="rounded-md bg-white shadow-sm border border-gray-100 p-8 hover:shadow-lg transition"
          >
            <div class="flex items-center gap-3 mb-4">
              <div
                class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-100 text-primary-600"
              >
                <i-lucide [name]="icons.fileText" class="size-5 stroke-[1.5]" />
              </div>
              <h3 class="font-semibold text-xl text-gray-800">Description</h3>
            </div>
            <article
              class="text-gray-600 leading-relaxed text-base whitespace-pre-line break-words hyphens-none text-justify"
              [innerHTML]="event.description"
            ></article>
          </div>

          <div
            class="rounded-md bg-primary-50 shadow-sm border border-primary-200 p-8 hover:shadow-lg transition"
          >
            <div class="flex items-center gap-3 mb-4">
              <div
                class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-500 text-white"
              >
                <i-lucide
                  [name]="icons.calendarDays"
                  class="size-5 stroke-[1.5]"
                />
              </div>
              <h3 class="font-semibold text-xl text-primary-700">Dates</h3>
            </div>
            <p class="text-gray-700 text-base mb-2 flex gap-2 items-center">
              <i-lucide
                [name]="icons.calendarDays"
                class="size-5 stroke-[1.5]"
              />
              <span class="font-medium">Début :</span>
              {{ event.started_at | date: "longDate" }}
            </p>
            <p class="text-gray-700 text-base flex gap-2 items-center">
              <i-lucide
                [name]="icons.calendarX"
                class="size-5 stroke-[1.5] text-red-600"
              />
              <span class="font-medium">Fin :</span>
              {{ event.ended_at | date: "longDate" }}
            </p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full mt-10">
        <div
          class="rounded-md bg-green-50 shadow-sm border border-green-100 p-8 hover:shadow-lg transition w-full"
        >
          <div class="flex items-center gap-3 mb-6">
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-500 text-white"
            >
              <i-lucide [name]="icons.tag" class="size-5 stroke-[1.5]" />
            </div>
            <h3 class="font-semibold text-xl text-primary-700">Catégories</h3>
          </div>
          <div class="flex flex-wrap gap-3">
            @for (item of event.categories; track $index) {
              <span
                class="px-4 py-1.5 text-sm font-medium rounded-full bg-white border border-gray-200 shadow-sm text-gray-700 hover:bg-gray-50 transition"
              >
                {{ item.name }}
              </span>
            }
          </div>
        </div>

        <div
          class="rounded-md bg-white shadow-sm border border-gray-100 p-8 hover:shadow-lg transition w-full"
        >
          <div class="flex items-center gap-3 mb-4">
            <div
              class="flex items-center justify-center w-10 h-10 rounded-full bg-primary-100 text-primary-600"
            >
              <i-lucide [name]="icons.mapPin" class="size-5 stroke-[1.5]" />
            </div>
            <h3 class="font-semibold text-xl text-gray-800">Adresse</h3>
          </div>
          <p
            class="text-gray-600 leading-relaxed text-justify text-base"
            [innerHTML]="event.place"
          ></p>
        </div>
      </div>

      <div
        class="flex flex-col md:flex-row justify-center items-center gap-6 mt-10 w-full m-auto bg-gray-50 rounded-md p-6 md:p-8"
      >
        @if (
          getStatut(event) === "En cours" ||
          (getStatut(event) === "À venir" && event.link)
        ) {
          <p-button
            size="large"
            severity="primary"
            class="flex items-center gap-3 px-6 lg:px-8 py-3 group rounded-lg transition-all duration-300"
          >
            Postuler Maintenant
            <i-lucide
              class="size-5 group-hover:translate-x-1 transition-transform duration-300"
              [name]="icons.arrow"
            />
          </p-button>
        } @else {
          <div class="flex flex-col items-center gap-4">
            <h3 class="text-xl font-semibold text-gray-700">
              Événement terminé
            </h3>
            <p-button
              size="large"
              severity="danger"
              disabled
              class="flex items-center gap-3 px-6 py-3 rounded-lg opacity-70 cursor-not-allowed"
            >
              <i-lucide class="size-5" [name]="icons.fileLock" />
              Postuler Maintenant
            </p-button>
          </div>
        }
      </div>
    </div>
  }

  @if (store.isLoading()) {
    <app-event-skeleton />
  }

  @if (!store.isLoading() && !store.event()) {
    <div class="min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold text-gray-700">
        Aucun événement avec cet identifiant !
      </h2>
    </div>
  }
</section>
