<footer class="border-t bg-primary-900 text-white py-10">
  <div class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
    <div class="flex gap-8 items-start justify-between flex-wrap">
      @for (link of links; track $index) {
        <div class="flex flex-col gap-3 mb-6">
          <h5 class="font-semibold mb-3 text-gray-200 text-lg">{{ link.title }}</h5>
          @for (url of link.urls; track $index) {
            @if (url.external) {
              <a target="_blank" class="text-satoshi text-sm md:text-base" [href]="url.path">{{ url.name }}</a>
            } @else {
              <a [fragment]="url.fragment" class="text-satoshi text-sm md:text-base" [routerLink]="url.path">{{
                url.name
              }}</a>
            }
          }
        </div>
      }
      <div class="flex flex-col gap-3">
        <a routerLink="/" class="flex items-center gap-3 cursor-pointer">
          <img ngSrc="images/logo/logo-w.png" alt="logo" class="w-14 cursor-pointer" width="64" height="68" priority />
        </a>
        <p class="text-sm">&copy; {{ getYear() }} CINOLU</p>
      </div>
    </div>
  </div>
</footer>
