<aside
  class="font-satoshi fixed top-0 w-[22vw] xl:text-lg  h-screen overflow-y-auto px-10 pt-6 bg-primary-900 text-gray-50">
  <a
    class="mb-12 font-medium text-white inline-flex items-center bg-primary-800 gap-1.5 border border-primary-400 rounded px-4 py-2 hover:bg-primary-700 transition-colors duration-200"
    [routerLink]="'/'">
    <i-lucide [name]="icons.home" class="size-3.5 text-inherit"/>
    Revenir à l'accueil
  </a>
  <div class="flex flex-col gap-2">
    @for (link of links(); track $index) {
      @if ((link?.children?.length || 0) > 0) {
        <button
          class="flex justify-between items-center px-4 py-2 font-medium rounded-md hover:bg-primary-700 hover:text-white"
          (click)="onToggleTab(link.name)"
          [ngClass]="{
            'bg-primary-700 text-white': isTabOpen(link.name),
          }">
          <div class="group inline-flex gap-1.5 items-center">
            <i-lucide [name]="link.icon" class="size-4 text-inherit"/>
            {{ link.name }}
          </div>
          <i-lucide
            [name]="icons.chevronDown"
            class="size-3.5 transition-transform duration-300 -rotate-45"
            [ngClass]="{
              'rotate-45 text-white': isTabOpen(link.name),
              'text-gray-400': !isTabOpen(link.name),
            }"
          />
        </button>
        @if (isTabOpen(link.name)) {
          <div class="ml-10 border-l border-gray-500 flex flex-col gap-3">
            @for (child of link.children; track $index) {
              <a
                class="group flex items-center gap-3 text-gray-300/90 tracking-wider"
                [routerLink]="child.path"
                [routerLinkActive]="'text-white active-link'"
                [routerLinkActiveOptions]="{ exact: child.exactUrl || false }">
                <div
                  class="relative group-[.active-link]:bg-gray-50 group-[.active-link]:after:bg-gray-50 group-hover:bg-gray-100 group-hover:after:bg-gray-100 transition-colors duration-300 h-[1px] mr-1 w-6 bg-gray-500 after:absolute after:-top-0.5 after:-right-1 after:w-1.5 after:bg-gray-500/90 after:h-1.5 after:rounded-full after:z-40">
                </div>
                {{ child.name }}
              </a>
            }
          </div>
        }
      } @else {
        <a
          [routerLink]="link.path"
          class="group inline-flex items-center gap-1.5 px-4 py-2 font-medium rounded-md hover:bg-primary-700 transition-colors duration-200"
          [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
          [routerLinkActive]="'bg-primary-700'"
          (click)="onToggleTab(link.name)">
          <i-lucide [name]="link.icon" class="size-4 text-inherit"/>
          {{ link.name }}
        </a>
      }
    }
  </div>
</aside>
