<section class="my-20 bg-primary-900 py-20 text-white">
  <div class="px-8 md:px-32 md:mx-auto md:max-w-screen-md lg:max-w-screen-lg">
    <h2 class="font-satoshi font-medium text-3xl md:text-5xl mb-10">
      Qui sommes-nous<span class="text-secondary-600">, Who are we ?</span>
    </h2>
    <div class="text-sm md:text-base md:w-11/12 font-thin">
      <p class="mb-5">
        Le Centre d'Innovation de Lubumbashi, communément appelé Cinolu en sigle, est un hub d'innovation créé en 2015
        dans la ville de Lubumbashi en RDC.
      </p>
      <p class="">
        Nous offrons du renforcement des capacités et un soutien aux entreprises en phase de démarrage (startups et PME)
        à travers des formations, du coaching et du mentorat, des services d'incubation et de conseil. Pour les
        entreprises, les investisseurs et les institutions financières internationales (IFIs), nous proposons un soutien
        à l'innovation ouverte, des services de gestion de projet ainsi qu'une communauté sélectionnée d'innovateurs
        avec qui collaborer.
      </p>
    </div>
  </div>
</section>
