<app-hero-card
  background="/images/contact.jpg"
  [badgeIcon]="icons.phone"
  badgeText="Contact"
  title="Restons"
  highlight="en contact"
  description="Cinolu reste à votre disposition pour toute demande d’information, de collaboration ou de partenariat. N’hésitez pas à nous contacter.
" />

<section
  class="min-h-[83.33vh] bg-grid px-6 sm:px-8 md:px-10 lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-14 mt-10"
  appAnimationsOnScroll>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-start">
    <form class="space-y-6 w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-2">
          <label for="name" class="text-base font-medium text-gray-700">Nom complet</label>
          <input
            pInputText
            id="name"
            placeholder="Votre nom"
            formControlName="name"
            autocomplete="off"
            aria-label="Nom complet"
            class="text-base" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="email" class="text-base font-medium text-gray-700">Votre email</label>
          <input
            pInputText
            id="email"
            placeholder="exemple@email.com"
            formControlName="email"
            autocomplete="off"
            aria-label="Adresse email"
            class="text-base" />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="flex flex-col gap-2">
          <label for="country" class="text-base font-medium text-gray-700">Pays</label>
          <p-select
            (onChange)="onSelectCountry($event)"
            [inputId]="'country'"
            [options]="countryItems"
            [optionLabel]="'name'"
            [optionValue]="'name'"
            [showClear]="true"
            formControlName="country"
            aria-label="Pays"
            placeholder="Choisir un pays" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="phone" class="text-base font-medium text-gray-700">Téléphone</label>
          <p-inputgroup>
            <p-inputgroup-addon> {{ selectedCountryCode || '----' }} </p-inputgroup-addon>
            <input
              pInputText
              id="phone"
              placeholder="979998877"
              formControlName="phone_number"
              autocomplete="off"
              aria-label="Numéro de téléphone"
              class="text-base" />
          </p-inputgroup>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="message" class="text-base font-medium text-gray-700">Saisissez votre message</label>
        <textarea
          pTextarea
          id="message"
          placeholder="Écrivez votre message ici..."
          formControlName="message"
          rows="4"
          resize="off"
          autocomplete="off"
          aria-label="Votre message"
          class="text-base"></textarea>
      </div>

      <div class="pt-4 flex justify-center sm:justify-start">
        <button
          [size]="'small'"
          [loading]="store.isLoading()"
          [disabled]="form.invalid || store.isLoading()"
          pButton
          type="submit"
          class="font-semibold text-white uppercase tracking-wide">
          Envoyer
        </button>
      </div>
    </form>

    <div
      class="bg-white/60 shadow-lg rounded-md backdrop-blur-sm hover:bg-white/70 p-6 space-y-6 transition duration-300">
      <h3 class="text-2xl font-black text-gray-800">Contactez-nous</h3>
      <div class="space-y-5">
        @for (item of contactItems; track item.title) {
        <div class="space-y-1">
          <div class="flex items-center gap-3">
            <div class="text-white rounded-full p-2 bg-primary-500">
              <i-lucide [name]="item.icon"></i-lucide>
            </div>
            <p class="font-semibold text-lg text-gray-800">{{ item.title }}</p>
          </div>
          @for (child of item.children; track child.value) {
          <p class="ml-13 text-gray-600 text-base">{{ child.value }}</p>
          }
        </div>
        }

        <div class="flex flex-wrap items-center justify-center gap-4 pt-2">
          @for (item of socialMediaItems; track item.label) {
          <a
            [href]="item.link"
            target="_blank"
            class="group inline-flex items-center justify-center w-10 h-10 rounded-full bg-white hover:scale-110 transition duration-300 ease-in-out shadow-md"
            [attr.aria-label]="item.label">
            <img
              [src]="item.icon"
              [alt]="item.label"
              class="w-5 h-5 filter group-hover:brightness-125 transition duration-300" />
          </a>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="mt-14 w-full h-80 sm:h-96 md:h-[28rem] overflow-hidden rounded-md shadow-md">
    <iframe
      class="w-full h-full border-0"
      loading="lazy"
      allowfullscreen
      title="Localisation de Cinolu"
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63035.155079005505!2d27.449214218656523!3d-11.665910227221612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19723f8f4deda58d%3A0xaa54c84125205d12!2sCentre%20d&#39;Innovation%20de%20Lubumbashi!5e0!3m2!1sfr!2scd!4v1694512345678!5m2!1sfr!2scd">
    </iframe>
  </div>
</section>
