<div class="bg-card flex flex-col overflow-hidden rounded-2xl shadow animate-pulse">
  <div class="h-72 w-full relative bg-gray-200"></div>
  <div class="flex flex-col p-7">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-1">
        <div class="rounded-full px-3 py-0.5 bg-gray-200 w-16 h-3"></div>
        <div class="rounded-full px-3 py-0.5 bg-gray-200 w-16 h-3"></div>
      </div>
    </div>

    <div class="mt-6 bg-gray-200 h-3 mb-2 w-3/4 rounded"></div>
    <div class="mt-2 bg-gray-200 h-1.5 w-full rounded"></div>
    <div class="mt-1.5 bg-gray-200 h-1.5 w-5/6 rounded"></div>
    <div class="mt-1.5 bg-gray-200 h-1.5 w-full rounded"></div>
    <div class="my-6 h-[2px] w-12 bg-gray-200"></div>
    <div class="flex items-center mt-2">
      <div class="bg-gray-200 rounded-full w-4 h-4"></div>
      <div class="ml-1.5 bg-gray-200 h-2 w-1/2 rounded"></div>
    </div>
    <div class="flex items-center mt-2">
      <div class="bg-gray-200 rounded-full w-4 h-4"></div>
      <div class="ml-1.5 bg-gray-200 h-2 w-1/2 rounded"></div>
    </div>
  </div>
</div>
