<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-2xl md:px-0 mb-20 h-60 md:h-full w-full">
  <h2 class="font-semibold text-xl lg:text-3xl mb-10">
    Votre
    <span class="text-secondary-600">“One Stop Ecosystem Support” </span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 mb-20 gap-10 items-center">
    <div class="relative w-full h-60 md:h-96 lg:mt-0 z-10 bg-gray-100">
      <img class="object-cover rounded-lg" ngSrc="/images/ps.webp" alt="hero" fill />
    </div>
    <div class="bg-white rounded-lg p-8 shadow-xl z-10 -mt-10 md:-ml-24 md:-mt-0 relative">
      <h5 class="font-medium mb-4 text-xl">
        Rejoignez un écosystème dynamique et innovant
        <span
          class="absolute -top-2 -right-1 rounded-full w-3 flex flex-col items-center justify-center font-bold h-3 text-lg bg-secondary-600 animate-ping">
        </span>
      </h5>
      <p class="text-gray-700">
        Vous cherchez à rejoindre un tech hub, un incubateur ou un accélérateur ? Ne cherchez plus ! Rejoignez notre hub
        d'innovation, conçu pour vous inspirer, échanger, développer vos compétences et concrétiser vos projets, le tout
        en un seul endroit. Nous offrons un parcours complet de formation et d'accompagnement, adapté à chaque étape de
        votre projet. De l'idéation à la croissance, en passant par la Pré-incubation, Incubation et l'Accélération,
        notre plateforme unique vous permet de vous concentrer pleinement sur votre développement et celui de votre
        projet.
      </p>
    </div>
  </div>
</section>
