<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 pt-10">
  <div class="mb-10" data-aos="fade-up">
    <h2 class="font-black font-satoshi mb-2 text-2xl md:text-4xl">Our Statements</h2>
    <p class="mb-4 text-secondary-600 font-satoshi">Nos déclarations</p>
  </div>
  <div class="relative min-h-60 w-full bg-[url('/images/ps.webp')] bg-cover bg-center bg-no-repeat">
    <div class="bg-primary-900/90 p-6">
      <div class="grid grid-cols-1 md:grid-cols-2" data-aos="zoom-in">
        @for (s of statements; track $index) {
          <div class="flex flex-col gap-1 p-4">
            <span
              class="inline-flex flex-col justify-center items-center text-white rounded-full border-2 border-primary-500 font-black font-satoshi text-lg h-10 w-10">
              {{ $index + 1 }}
            </span>
            <h5
              class="font-medium font-satoshi py-2 text-xl flex items-center gap-1.5 border-r border-primary-500 text-white">
              {{ s.title }}
            </h5>
            <p class="text-gray-200">{{ s.description }}</p>
          </div>
        }
      </div>
    </div>
  </div>
</section>
