<section
  class="px-8 md:px-32 xl:px-48 grid grid-cols-1 md:grid-cols-2 items-center gap-10 my-20 text-white bg-primary-900">
  <div class="py-10">
    <h2 class="font-bold text-xl lg:text-3xl mb-10">
      Votre
      <span class="text-secondary-600">“One Stop Ecosystem Support” </span>
    </h2>
    <div class="flex flex-col gap-3">
      <p class="">
        Vous cherchez à rejoindre un tech hub, un incubateur ou un accélérateur ? Ne cherchez plus ! Rejoignez notre hub
        d'innovation, conçu pour vous inspirer, échanger, développer vos compétences et concrétiser vos projets, le tout
        en un seul endroit. Nous offrons un parcours complet de formation et d'accompagnement, adapté à chaque étape de
        votre projet. De l'idéation à la croissance, en passant par la Pré-incubation, Incubation et l'Accélération,
        notre plateforme unique vous permet de vous concentrer pleinement sur votre développement et celui de votre
        projet. Rejoignez-nous pour transformer vos idées en succès durables !
      </p>
    </div>
  </div>
  <div class="bg-[url('/images/ps.webp')] bg-no-repeat bg-center bg-cover h-60 md:h-full w-full"></div>
</section>
