<div class="max-w-sm bg-white rounded-2xl shadow-lg overflow-hidden hover:shadow-xl transition-all duration-300">
  <div class="relative w-full h-56 overflow-hidden group">
    <div>
      @if (store.product(); as product) {
      <p-galleria
        [value]="product.gallery"
        [autoPlay]="true"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }">
        <ng-template pTemplate="item" let-img>
          <div class="relative w-full overflow-hidden h-72 md:h-[28rem] rounded-lg">
            <img
              [src]="img | apiIMG:'gallery'"
              [alt]="img.image"
              fill
              class="object-cover w-full h-full transition-transform duration-300 hover:scale-105" />
          </div>
        </ng-template>

        <ng-template pTemplate="thumbnail" let-img>
          <img [ngSrc]="img | apiIMG:'gallery'" [alt]="img.image" class="object-cover h-20 w-20 rounded-md" />
        </ng-template>
      </p-galleria>

      <div class="p-5 space-y-2">
        <h3 class="text-lg font-semibold text-gray-800">{{ product.name }}</h3>
        <p class="text-sm text-gray-500 line-clamp-2">{{ product.description }}</p>

        <div class="flex items-center justify-between mt-3">
          <span class="text-xl font-bold text-blue-600">{{ product.price }} $</span>
        </div>
      </div>
      } @else {
      <div class="relative w-full overflow-hidden h-72 md:h-[28rem] rounded-lg">
        <img
          src="images/no-image.jpg"
          [alt]="'No image available'"
          class="object-cover w-full h-full transition-transform duration-300 hover:scale-105" />
      </div>
      }
    </div>
  </div>
</div>
