<section>
  @let post = post$ | async;
  @let comments = comments$ | async;
  <div class="pt-14">
    @if (post.data; as post) {
      <div
        class="mx-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 border-x border-dashed border-gray-200 overflow-hidden">
        <div class="relative h-60 md:h-96 w-full bg-gray-200 pb-8">
          <img [ngSrc]="post | apiIMG: 'post'" alt="Posts" class="object-cover h-full opacity-90" fill priority />
        </div>

        <div class="py-6 px-8">
          <div class="mb-4">
            <h2 class="font-black font-satoshi mb-1 text-2xl md:text-4xl">
              {{ post.title }}
            </h2>
            <div class="flex items-center gap-1">
              <ng-icon [name]="'matRemoveRedEyeOutline'" class="size-6! text-primary-600!" />
              <p class="text-gray-950 font-semibold">{{ post.views }}</p>
            </div>
          </div>

          <div class="mb-12">
            <p class="text-gray-600" [innerHTML]="post.content"></p>
          </div>

          @for (comment of comments?.data?.[0]; track comment.id) {
            <div class="flex items-center gap-3 mb-6">
              <div class="relative h-10 w-10 rounded-full overflow-hidden mb-2.5 bg-gray-200">
                <img [ngSrc]="comment.by | apiIMG: 'user'" alt="Img user" class="object-cover" fill />
              </div>
              <div class="flex flex-col gap-1">
                <p class="text-gray-950 font-semibold">{{ comment.by.name }}</p>
                <p class="text-gray-600">
                  {{ comment.content }}
                </p>
              </div>
            </div>
          }

          <!-- @if (user) {
            <form class="flex gap-4">
              <div class="relative h-10 w-10 rounded-full overflow-hidden mb-2.5 bg-gray-200">
                <img [ngSrc]="user | apiIMG: 'user'" alt="Img user" class="object-cover" fill />
              </div>

              <div class="flex flex-col gap-1 w-2/3">
                <textarea class="w-full h-28 p-2" pTextarea></textarea>
                <p-button class="mt-4 w-1/3" type="submit">Commenter </p-button>
              </div>
            </form>
          } -->
        </div>
      </div>
    }
  </div>
</section>
