<div class="hidden lg:flex justify-between w-full text-sm font-bold">
  <div class="flex items-center gap-6">
    @for (link of links(); track $index) {
      <div class="relative group">
        @if (link.children?.length) {
          <button
            class="group flex items-center relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-0.5 hover:text-primary-500 hover:transition-colors hover:duration-200"
          >
            {{ link.name }}
            <i-lucide
              class="size-4 mt-0.5 ml-0.5 transition-transform duration-300 group-hover:rotate-45"
              [name]="icons.chevronRight"
            />
            @if (link.children?.length) {
              <div
                class="absolute left-0 top-6 w-72 bg-white shadow-xl rounded-md z-30 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 origin-top"
              >
                <div
                  class="flex text-left flex-col divide-y divide-gray-200 py-2"
                >
                  @for (sublink of link.children; track $index) {
                    <div class="relative group/sub px-4 py-2">
                      <a
                        routerLinkActive="bg-primary-100 text-primary-600"
                        [routerLink]="sublink.path"
                        [routerLinkActiveOptions]="{
                          exact: sublink.exactUrl || false,
                        }"
                        class="block px-4 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 rounded-lg transition-colors duration-200"
                      >
                        {{ sublink.name }}
                      </a>
                    </div>
                  }
                </div>
              </div>
            }
          </button>
        } @else {
          <a
            class="group flex items-center relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-0.5 hover:text-primary-500 hover:transition-colors hover:duration-200"
            [routerLink]="link.path"
            routerLinkActive="after:bg-primary-500"
            [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
          >
            {{ link.name }}
          </a>
        }
      </div>
    }
    <button
      class="group flex items-center relative hover:text-primary-500 hover:transition-colors hover:duration-200"
    >
      Programmes
      <i-lucide
        class="size-4 mt-0.5 ml-0.5 transition-transform duration-300 group-hover:rotate-90"
        [name]="icons.chevronRight"
      />
      @if (programsStore.programs()) {
        <div
          class="absolute left-0 top-6 w-72 bg-white shadow-xl rounded-md z-30 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 origin-top"
        >
          <div class="flex flex-col divide-y divide-gray-200 py-2">
            @for (p of programsStore.programs(); track $index) {
              <div class="relative group/sub px-4 py-2 text-left">
                <a
                  routerLinkActive="bg-primary-100 text-primary-600"
                  [routerLink]="['/our-programs/' + p.slug]"
                  [routerLinkActiveOptions]="{ exact: true }"
                  class="block px-4 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 rounded-lg transition-colors duration-200"
                >
                  {{ p.name }}
                  <span class="block text-xs font-normal text-gray-500">
                    {{ p?.category?.name }}
                  </span>
                </a>
              </div>
            }
          </div>
        </div>
      }
    </button>
  </div>
</div>
