<div class="hidden lg:flex justify-between gap-8 w-full text-sm font-bold">
  <div class="flex items-center gap-6">
    @for (link of links(); track $index) {
    <div class="relative group text-sm">
      @if (link.children?.length) {
      <button
        class="group flex items-center relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-0.5 hover:text-primary-500 hover:transition-colors hover:duration-200 before:content-[''] before:absolute before:left-0 before:top-full before:w-full before:h-4 before:z-20">
        {{ link.name }}
        <i-lucide
          class="size-5 transition-transform duration-300 group-hover:rotate-90 ml-0.5"
          [name]="icons.chevronRight" />
        <div
          class="absolute left-0 top-full pt-3 w-80 z-30 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 origin-top">
          <div class="flex text-left flex-col divide-y divide-gray-200 py-2 bg-white shadow-xl rounded-lg">
            @for (sublink of link.children; track $index) {
            <div class="relative group/sub px-4 py-2">
              <a
                routerLinkActive="bg-primary-100 text-primary-600"
                [routerLink]="sublink.path"
                [routerLinkActiveOptions]="{
                          exact: sublink.exactUrl || false,
                        }"
                class="block px-4 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 rounded-lg transition-colors duration-200">
                {{ sublink.name }}
              </a>
            </div>
            }
          </div>
        </div>
      </button>
      } @else {
      <a
        [routerLink]="link.path"
        routerLinkActive="after:bg-primary-500"
        [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
        class="group flex items-center relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-0.5 hover:text-primary-500 hover:transition-colors hover:duration-200">
        {{ link.name }}
      </a>
      }
    </div>
    }

    <button
      class="group flex items-center relative hover:text-primary-500 hover:transition-colors hover:duration-200 before:content-[''] before:absolute before:left-0 before:top-full before:w-full before:h-4 before:z-20">
      Programmes
      <i-lucide
        class="size-5 group-hover:mt-0 ml-0.5 transition-transform duration-300 group-hover:rotate-90"
        [name]="icons.chevronRight" />
      @if (programsStore.programs()) {
      <div
        class="absolute right-0 top-full pt-3 w-80 z-30 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 origin-top">
        <div class="flex flex-col divide-y divide-gray-200 py-2 bg-white shadow-xl rounded-lg">
          @for (p of programsStore.programs(); track $index) {
          <div class="relative group/sub px-4 py-2 text-left">
            <a
              routerLinkActive="bg-primary-100 text-primary-600"
              [routerLink]="['/our-programs/' + p.slug]"
              [routerLinkActiveOptions]="{ exact: true }"
              class="block px-4 py-2 text-gray-700 font-medium hover:bg-primary-100 hover:text-primary-600 rounded-lg transition-colors duration-200">
              {{ p.name }}
              <span class="block text-base font-normal text-gray-500"> {{ p?.category?.name }} </span>
            </a>
          </div>
          }
        </div>
      </div>
      }
    </button>
  </div>
</div>
