<app-hero-card
  background="/images/blog.jpg"
  [badgeIcon]="icons.edit"
  badgeText="Actualités"
  title="  Nos
"
  highlight="Articles"
  description="Le blog de Cinolu, un espace d’idées, de récits et de ressources au service des innovateurs d’Afrique." />

<div class="px-8 min-h-[100vh] lg:px-16 xl:px-24 2xl:px-32 max-w-screen-2xl mx-auto py-10 lg:py-20">
  @if (tagsStore.tags().length > 0) {
  <div class="mb-10 flex flex-wrap gap-4 md:w-1/4">
    <p-multiSelect
      [inputId]="'tagsFilter'"
      [autocomplete]="'off'"
      [showHeader]="false"
      (onChange)="onFilterChange($event, 'tags')"
      (onClear)="onClear()"
      [options]="tagsStore.tags()"
      [optionValue]="'id'"
      [optionLabel]="'name'"
      [showClear]="true"
      placeholder="Choisir un tag"
      class="w-full md:w-64" />
  </div>
  }
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-4 gap-8">
    @if (store.isLoading()) { @for (a of arrSkeleton; track $index) {
    <app-article-card-skeleton />
    } } @if (store.articles() && !store.isLoading()) { @for ( article of store.articles()[0] | paginate : {
    itemsPerPage: 12, currentPage: queryParams().page || 1, totalItems: store.articles()[1], }; track article.id; let
    first = $first ) {
    <app-article-card [article]="article" [isPriority]="first && (queryParams().page || 1) === 1" />
    } }
  </div>
  @if (tagsStore.tags().length <= 0) {
  <p class="text-2xl md:text-4xl lg:text-5xl font-satoshi text-gray-700 font-black fadeInUp text-center">
    Pas d'articles disponibles
  </p>
  } @if (store.articles()[1] > 6 && !store.isLoading()) {
  <div class="flex justify-center mt-10">
    <pagination-controls nextLabel="" previousLabel="" [maxSize]="5" (pageChange)="onPageChange($event)" class="pg" />
  </div>
  }
</div>
