<section class="grid grid-cols-1 md:grid-cols-2 items-center gap-10 my-20 text-white bg-primary-950">
  <div class="md:text-lg font-thin px-8 lg:px-20 py-20">
    <h2 class="font-satoshi font-bold text-2xl mb-5 hidde" appObserveVisibility>
      Votre
      <span class="text-primary-600 hidde" appObserveVisibility>“One Stop Ecosystem Support” </span>
    </h2>
    <div class="flex flex-col gap-3">
      <p class="text-base hidde" appObserveVisibility>
        Rejoindre un Tech hub ? un incubateur ou un accélérateur? Ne cherchez plus! Intégrez notre hub d'innovation pour
        vous inspirez, discuter, bâtir vos compétences ou construire votre projet en un seul endroit . Nous offrons des
        parcours de formation et d'incubation type long a guichet unique. De l'idéation à la croissance, de la
        pré-incubation à l'accélération de votre projet sur une seule plateforme vous permettant de vous concentrer sur
        vous et votre projet.
      </p>
    </div>
  </div>
  <div class="bg-[url('/images/slides/slide-1.webp')] bg-no-repeat bg-cover h-full w-full"></div>
</section>
