<section class="px-8 md:px-28 py-20 mb-10">
  <h1 class="font-satoshi font-bold text-3xl md:text-5xl mb-10">
    Ce que nous
    <span class="text-green-600">faisons</span>
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <!-- Service card  -->
    @for (service of services; track $index) {
      <div
        class="flex flex-col gap-3 text-white bg-green-800/90 rounded-lg p-6 hover:shadow-xl hover:-translate-y-3 transition-transform duration-500 hidde"
        observeVisibility
        [debounceTime]="$index * 100">
        <h1 class="text-xl font-satoshi font-bold">
          {{ service.title }}
        </h1>
        <p class="">
          {{ service.description }}
        </p>
      </div>
      <!-- End -->
    }
  </div>
</section>
