<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 mt-24 mb-12">
  @let result = project$ | async;
  @if (result.data; as project) {
    <button class="underline mb-4 flex items-center gap-1" (click)="back()">
      <mat-icon svgIcon="heroicons_outline:arrow-left" class="icon-size-3" />
      Retour
    </button>

    <h1 class="font-bold block text-xl md:text-2xl mb-12 lg:text-4xl">
      {{ project.name | titlecase }}
    </h1>

    <div class="relative mb-6 h-60 w-full md:h-96 bg-gray-50">
      <img [ngSrc]="project | apiIMG: 'project'" [alt]="'Photo de couverture'" class="object-cover" fill priority />
    </div>

    <div class="mb-10">
      <div
        class="flex items-center gap-7 text-nowrap border-primary-300 mb-10 no-scrollbar overflow-x-scroll border-b border-dashed">
        <button
          [ngClass]="!activeTab() && 'border-b border-primary-700 text-primary-700'"
          class="py-2 flex items-center gap-1.5"
          (click)="setActiveTab(null)">
          Resumé
          <mat-icon svgIcon="description" class="icon-size-3 xl:icon-size-4" />
        </button>

        <button
          [disabled]="!project?.phases[0]?.form"
          [ngClass]="activeTab() === 'application' && 'border-b border-primary-700 text-primary-700'"
          class="py-2 disabled:text-gray-500 disabled:cursor-not-allowed flex items-center gap-1.5"
          (click)="setActiveTab('application')">
          Postuler
          <mat-icon svgIcon="send" class="icon-size-3 xl:icon-size-4" />
        </button>
      </div>

      @if (!activeTab()) {
        <app-project-overview [project]="project" />
      }

      @if (activeTab() === 'application' && project?.phases[0]?.form) {
        <app-project-application [project]="project" />
      }
    </div>
  }
  @if (result.isLoading) {
    <app-project-skeleton />
  }
  @if (result.error) {
    <div class="relative min-h-[75vh] w-full flex flex-col justify-center items-center">
      <h2 class="text-3xl font-semibold">Aucun programme avec cet identifiant !</h2>
    </div>
  }
</section>
<app-footer />
