<div
  class="max-w-sm rounded-lg border border-gray-200 overflow-hidden space-y-4 shadow-lg bg-white transition-transform duration-300 h-52 p-5 hover:scale-105">
  <div class="">
    <div class="font-bold text-lg text-gray-900 line-clamp-1">{{ product().name }}</div>
    <p class="text-gray-700 line-clamp-2">{{ product().description }}</p>
    <h5 class="text-gray-900 font-bold text-xl">{{ product().price | currency: 'USD' : 'symbol' : '1.2-2' }}</h5>
  </div>
  <div class="flex items-center flex-wrap gap-2">
    <a
      pButton
      size="small"
      severity="secondary"
      outlined
      class="text-gray-500 hover:text-gray-700"
      [routerLink]="['/dashboard/products/update', product().slug]">
      <i-lucide [name]="icons.edit" class="size-4 text-inheri" />
    </a>
    <button pButton size="small" severity="danger" (click)="onDeleteProduct(product().id, $event)">
      <i-lucide [name]="icons.trash" class="size-4" />
    </button>
    <p-confirmpopup />
  </div>
</div>
