<section>
  <div
    class="relative min-h-screen py-80 w-full flex flex-col bg-[url('/images/hero.jpg')] bg-cover bg-center bg-no-repeat">
    <div
      @fadeInStagger
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-950/30 gap-6 text-white">
      <div
        class="flex flex-col items-start justify-center font-medium px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
        <h1 class="fade-item font-black block text-3xl mb-6 mt-16 hyphens-none md:text-4xl xl:text-6xl">
          One Stop Ecosystem Support Platform !
        </h1>
        <p class="fade-item mb-8 text-xl md:text-2xl 2xl:text-3xl leading-relaxed font-light w-full md:w-3/4">
          De l'idée au projet, bénéficiez de nos outils, mentors et ressources pour donner vie à votre vision.
        </p>
        <div class="flex items-center flex-wrap gap-4 text-sm md:text-base">
          <a
            routerLink="/projects"
            class="fade-item border border-white rounded-md px-6 py-2 text-white hover:bg-white hover:text-secondary-700 transition-colors duration-500">
            Nos programmes
          </a>
          <a
            routerLink="/sign-in"
            class="fade-item bg-secondary-700 transition-colors duration-500 rounded-md px-6 py-2 text-white hover:bg-secondary-900">
            Rejoignez-nous
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
