<section class="mb-8">
  <div class="relative min-h-[80vh] py-80 w-full flex flex-col bg-[url('/images/hero.jpg')] bg-cover bg-no-repeat">
    <div
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-gradient-to-b from-primary-900/40 to-primary-900/50 gap-6 text-white">
      <div
        class="flex flex-col items-start justify-center font-medium px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0">
        <h1 class="font-black block text-2xl mb-6 hyphens-none md:text-2xl xl:text-6xl">
          Votre plateforme d'innovation One Stop !
        </h1>
        <p class="mb-8 md:text-2xl 2xl:text-3xl leading-relaxed font-light w-full md:w-3/4">
          De l'idée au projet, bénéficiez de nos outils, mentors et ressources pour donner vie à votre vision.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:text-lg">
          <a
            routerLink="/projects"
            class="border border-white rounded-md px-6 py-2 text-white hover:bg-white hover:text-secondary-700 transition-colors duration-500">
            Nos programmes
          </a>
          <a routerLink="/sign-in" class="bg-secondary-700 rounded-md px-6 py-2 text-white hover:bg-secondary-900">
            Rejoignez-nous
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-4 -translate-y-16 z-10">
    @for (p of stakeholdersPurposes; track $index) {
      <div
        class="p-8 bg-white rounded-lg shadow-lg hover:shadow-xl hover:-translate-y-3 transition-transform duration-500">
        <span
          class="bg-secondary-900/90 text-center h-10 w-10 flex flex-col items-center justify-center mb-3 rounded-full">
          <mat-icon class="icon-size-5 fill-white" [svgIcon]="p.icon" />
        </span>
        <h1 class="font-bold text-xl mb-4 font-satoshi line-clamp-1">
          {{ p.title }}
        </h1>
        <p class="line-clamp-3 text-sm md:text-base">
          {{ p.description }}
        </p>
      </div>
    }
  </div>
</section>
