@let user = user$ | async;
<header
  class="h-16 py-6 w-full right-0 left-0 flex flex-col text-base justify-center z-20 font-satoshi"
  [ngClass]="isFixed() ? 'fixed shadow-md bg-white text-gray-800 animate-fadeInUp' : 'absolute text-white top-6'">
  <nav class="flex justify-between items-center w-full px-8 md:mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl md:px-0">
    <a routerLink="/" aria-label="logo" class="inline-block">
      <img
        [ngSrc]="isFixed() ? 'images/logo/logo-g.png' : 'images/logo/logo-w.png'"
        alt="logo"
        class="w-9 h-10 cursor-pointer"
        width="64"
        height="68"
        priority />
    </a>

    <div>
      <app-mobile-nav [user]="user" [accountUrl]="accUrl" [tabs]="tabs()" [links]="links()" (singOut)="signOut()" />
      <app-desktop-nav [user]="user" [accountUrl]="accUrl" [tabs]="tabs()" [links]="links()" (singOut)="signOut()" />
    </div>
  </nav>
</header>
