<div class="font-satoshi fixed top-0 h-screen overflow-y-auto px-8 pt-6 w-[20vw] z-50 bg-primary-900 text-gray-100">
  <div class="flex items-center gap-3 mb-10 border-y border-primary-700/70 py-2">
    <img ngSrc="/images/logo/logo-w.png" alt="logo" class="w-6 h-6" width="64" height="68" priority />
    <span class="font-semibold text-white uppercase">Tableau de bord</span>
  </div>
  <a
    class="group inline-flex items-center gap-1.5 px-2 py-1.5 text-sm text-white mb-6 hover:underline"
    [routerLink]="'/'">
    <i-lucide [name]="icons.moveLeft" class="size-3 text-inherit" />
    Revenir à l'accueil
  </a>
  <div class="flex flex-col gap-2">
    @for (link of links(); track $index) {
      @if ((link?.children?.length || 0) > 0) {
        <button
          class="flex justify-between items-center px-2 py-1.5 font-medium rounded-md hover:bg-primary-700 hover:text-white"
          (click)="onToggleTab(link.name)"
          [ngClass]="{
            'bg-primary-700 text-white': isTabOpen(link.name),
            'text-gray-300': !isTabOpen(link.name)
          }">
          <div class="group inline-flex gap-1.5 items-center">
            <i-lucide [name]="link.icon" class="size-4 text-inherit" />
            {{ link.name }}
          </div>
          <i-lucide
            [name]="icons.chevronDown"
            class="size-3.5 transition-transform duration-300 -rotate-45"
            [ngClass]="{
              'rotate-45 text-white': isTabOpen(link.name),
              'text-gray-400': !isTabOpen(link.name)
            }" />
        </button>
        @if (isTabOpen(link.name)) {
          <div class="mx-4 border-l border-gray-500 flex flex-col gap-3">
            @for (child of link.children; track $index) {
              <a
                class="group flex items-center gap-2 text-gray-400/90 text-sm tracking-wider"
                [routerLink]="child.path"
                [routerLinkActive]="'text-white active-link'"
                [routerLinkActiveOptions]="{ exact: true }">
                <div
                  class="relative group-[.active-link]:bg-gray-50 group-[.active-link]:after:bg-gray-50 group-hover:bg-gray-100 group-hover:after:bg-gray-100 transition-colors duration-300 h-[1px] mr-1 w-1/6 bg-gray-500 after:absolute after:-top-0.5 after:-right-1 after:w-1.5 after:bg-gray-500/90 after:h-1.5 after:rounded-full after:z-40"></div>
                {{ child.name }}
              </a>
            }
          </div>
        }
      } @else {
        <a
          [routerLink]="link.path"
          class="group inline-flex items-center gap-1.5 px-2 py-1.5 font-medium rounded-md hover:bg-primary-700 transition-colors duration-200"
          [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
          [routerLinkActive]="'bg-primary-700'"
          (click)="onToggleTab(link.name)">
          <i-lucide [name]="link.icon" class="size-4 text-inherit" />
          {{ link.name }}
        </a>
      }
    }
  </div>
</div>
