<div class="font-satoshi fixed top-0 h-screen overflow-y-auto px-8 pt-6 w-[20vw] z-50 bg-primary-900 text-white">
  <div class="flex items-center gap-3 mb-10 border-y border-primary-700/70 py-2">
    <img ngSrc="/images/logo/logo-w.png" alt="logo" class="w-6 h-6" width="64" height="68" priority />
    <span class="font-semibold uppercase">Tableau de bord </span>
  </div>
  <div class="flex flex-col gap-1.5">
    @for (link of links(); track $index) {
      <a
        [routerLink]="link.path"
        class="group inline-flex items-center gap-1.5 px-2 py-1.5 font-medium rounded-md hover:bg-primary-700 transition-colors duration-200"
        [routerLinkActiveOptions]="{ exact: link.exactUrl || false }"
        [routerLinkActive]="'bg-primary-700'">
        <i-lucide [name]="link.icon" class="size-4 text-inherit" />
        {{ link.name }}
      </a>
    }
  </div>
</div>
