<section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 mb-20">
  @let team = team$ | async;
  @if (team[0].data?.length) {
    <h2 class="font-semibold text-xl md:text-5xl mb-4" id="team">
      Notre
      <span class="text-primary-600"> équipe </span>
    </h2>
    <div class="flex flex-col gap-5">
      <p-carousel
        #team
        [value]="team[0].data"
        [numVisible]="3"
        [numScroll]="1"
        [showIndicators]="false"
        [showNavigators]="false"
        [circular]="true"
        [responsiveOptions]="carouselConfig">
        @for (s of team[0].data; track s.id) {
          <ng-template let-product #item>
            <div class="mr-3.5" data-aos="fade-left">
              <app-team-card [user]="s" />
            </div>
          </ng-template>
        }
      </p-carousel>
      <div class="flex items-center gap-4 place-self-end">
        <button (click)="team.navBackward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowBackOutline" class="size-3.5!" />
        </button>
        <button (click)="team.navForward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowForwardOutline" class="size-3.5!" />
        </button>
      </div>
    </div>
  }

  @if (team[1].data?.length) {
    <h2 class="font-semibold text-xl md:text-5xl mb-4" id="coachs">
      Coachs et
      <span class="text-primary-600"> mentors </span>
    </h2>

    <div class="flex flex-col gap-5">
      <p-carousel
        #coachCarousel
        [value]="team[1].data"
        [numVisible]="3"
        [numScroll]="1"
        [showIndicators]="false"
        [showNavigators]="false"
        [circular]="true"
        [responsiveOptions]="carouselConfig">
        @for (c of team[1].data; track c.id) {
          <ng-template let-product #item>
            <div class="mr-3.5" data-aos="fade-left">
              <app-team-card [user]="c" />
            </div>
          </ng-template>
        }
      </p-carousel>
      <div class="flex items-center gap-4 place-self-end">
        <button (click)="coachCarousel.navBackward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowBackOutline" class="size-3.5!" />
        </button>
        <button (click)="coachCarousel.navForward($event)" class="carousel-nav-btn">
          <ng-icon name="matArrowForwardOutline" class="size-3.5!" />
        </button>
      </div>
    </div>
  }
</section>
