@if (isBrowser()) {
  <section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 mb-20">
    @let team = team$ | async;
    @if (team[0].data?.length) {
      <h2 class="font-semibold text-xl md:text-5xl mb-4" id="team">
        Notre
        <span class="text-primary-600">équipe</span>
      </h2>
      <div class="relative mb-16">
        <owl-carousel-o #staffCarousel [options]="owlOptions">
          @for (coach of team[0].data; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>

        <button (click)="staffCarousel.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left"></mat-icon>
        </button>
        <button (click)="staffCarousel.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right"></mat-icon>
        </button>
      </div>
    }

    @if (team[1].data?.length) {
      <h2 class="font-semibold text-xl md:text-5xl mb-4" id="coachs">
        Coachs et
        <span class="text-primary-600">mentors</span>
      </h2>
      <div class="relative">
        <owl-carousel-o #coachCarousel [options]="owlOptions">
          @for (coach of team[1].data; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>

        <button (click)="coachCarousel.prev()" class="nav-btn absolute top-[45%] -left-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_left" />
        </button>
        <button (click)="coachCarousel.next()" class="nav-btn absolute top-[45%] -right-5 z-10">
          <mat-icon class="icon-size-4" svgIcon="mat_solid:chevron_right" />
        </button>
      </div>
    }
  </section>
}
