@if (isBrowser()) {
  <section class="px-8 mx-auto md:max-w-screen-lg 2xl:max-w-screen-xl xl:px-0 mb-20">
    @let team = team$ | async;
    @if (team[0].data?.length) {
      <h2 class="font-semibold text-xl md:text-5xl mb-4" id="team">
        Notre
        <span class="text-primary-600"> équipe </span>
      </h2>
      <div class="relative mb-8">
        <owl-carousel-o #staffCarousel [options]="owlOptions">
          @for (coach of team[0].data; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>
      </div>
      <div class="flex items-center gap-4 place-self-center mb-16">
        <button
          (click)="staffCarousel.prev()"
          class="h-8 w-8 flex flex-col items-center justify-center border border-secondary-700 hover:bg-secondary-700 hover:text-white transition-colors duration-300 rounded-full">
          &larr;
        </button>
        <button
          (click)="staffCarousel.next()"
          class="h-8 w-8 flex flex-col items-center justify-center border border-secondary-700 hover:bg-secondary-700 hover:text-white transition-colors duration-300 rounded-full">
          &rarr;
        </button>
      </div>
    }

    @if (team[1].data?.length) {
      <h2 class="font-semibold text-xl md:text-5xl mb-4" id="coachs">
        Coachs et
        <span class="text-primary-600"> mentors </span>
      </h2>
      <div class="relative mb-8">
        <owl-carousel-o #coachCarousel [options]="owlOptions">
          @for (coach of team[1].data; track $index) {
            <ng-template carouselSlide>
              <app-team-card [user]="coach" />
            </ng-template>
          }
        </owl-carousel-o>
      </div>
      <div class="flex items-center gap-4 place-self-center">
        <button
          (click)="coachCarousel.prev()"
          class="h-8 w-8 flex flex-col items-center justify-center border border-secondary-700 hover:bg-secondary-700 hover:text-white transition-colors duration-300 rounded-full">
          &larr;
        </button>
        <button
          (click)="coachCarousel.next()"
          class="h-8 w-8 flex flex-col items-center justify-center border border-secondary-700 hover:bg-secondary-700 hover:text-white transition-colors duration-300 rounded-full">
          &rarr;
        </button>
      </div>
    }
  </section>
}
