<div
  class="px-8 flex items-center gap-3 pt-24 pb-2.5 bg-white border-b border-gray-200 lg:mx-auto lg:max-w-screen-lg lg:px-0.5">
  @for (link of links(); track $index) {
    <a
      [routerLink]="link.path"
      routerLinkActive="text-primary-700"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-2 pr-0.5 text-gray-700 transition-colors duration-300">
      <div class="flex items-center gap-1">
        <ng-icon [name]="link.icon" class="size-5!"></ng-icon>
        {{ link.name }}
      </div>
    </a>
  }
</div>
