<a
  [routerLink]="article().slug"
  class="bg-white rounded-lg border border-gray-200 shadow-sm flex gap-3 overflow-hidden hover:shadow-md transition">
  <div class="relative h-24 md:h-32 overflow-hidden">
    <img
      [ngSrc]="article() | apiIMG: 'article'"
      alt="Image de l'article {{ article().title }}"
      class="object-cover w-full h-full transition-transform duration-300 hover:scale-105"
      loading="lazy"
      fill />
  </div>

  <div class="p-4 flex flex-col gap-4">
    <div class="space-y-2">
      <h3 class="text-gray-900 font-semibold text-base line-clamp-1">{{ article().title }}</h3>
      <p class="text-gray-500 text-sm line-clamp-3 hyphens-none">{{ article().content }}</p>
    </div>
  </div>
</a>
